###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/

###> symfony/webpack-encore-pack ###
/node_modules/
/public/uploads/
npm-debug.log
yarn-error.log

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml

###> symfony/web-server-bundle ###
/.web-server-pid

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log

###> config\packages\bugsnag.yaml ###
/config/packages/bugsnag.yaml
###> lexik/jwt-authentication-bundle ###
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
