@import url(https://fonts.googleapis.com/css2?family=Inter&amp;display=swap);
.merchant-home-header__details,
.merchant-home-header__phone {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.merchant-home-header {
    padding-top: 75px;
    background-color: #ea573c;
    position: relative;
    z-index: 1
}

.merchant-home-header .merchant-home-header__shopify-icon {
    margin-right: .25em;
    vertical-align: middle;
    margin-top: -7px
}

.merchant-home-header .merchant-home-header__link {
    font-size: 1.12rem;
    color: #fff
}

.merchant-home-header .merchant-home-header__link .default-button {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 1rem
}

.merchant-home-header .merchant-home-header__link .default-button .default-button__text {
    white-space: unset
}

@media (min-width:769px) {
    .merchant-home-header {
        height: 480px;
        margin-bottom: 245px
    }
    .merchant-home-header:after {
        content: "";
        background-color: #ea573c;
        position: absolute;
        bottom: -114px;
        right: 0;
        width: 100%;
        z-index: 0;
        height: 327px
    }
    .merchant-home-header:before {
        content: "";
        background-color: #ea573c;
        position: absolute;
        bottom: -170px;
        right: 11px;
        width: 106%;
        height: 327px;
        transform: rotate(-4deg);
        z-index: 1
    }
}

@media (max-width:991.98px) {
    .merchant-home-header {
        padding-bottom: 5rem
    }
}

.merchant-home-header__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    margin-top: 5rem;
    z-index: 1
}

.merchant-home-header__phone {
    position: relative;
    z-index: 1;
    align-self: flex-end;
    cursor: pointer
}

.merchant-home-header__phone:after {
    content: "";
    position: absolute;
    bottom: -2rem;
    width: 45%;
    height: 0;
    box-shadow: 0 -27px 42px 27px rgba(38, 38, 38, .3);
    left: 0;
    right: 0;
    margin: auto
}

@media (min-width:769px) {
    .merchant-home-header__phone {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (max-width:991.98px) {
    .merchant-home-header__phone {
        margin-bottom: 0
    }
}

.merchant-home-header__phone img {
    width: 100%;
    height: 100%;
    position: relative
}

.merchant-home-header__phone video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.95) translateY(-1px) translateZ(0)
}

.merchant-home-header__phone .icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 2.8em
}

.merchant-home-header__container {
    max-width: 490px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

@media (min-width:576px) {
    .merchant-home-header__container {
        max-width: 540px
    }
}

@media (min-width:769px) {
    .merchant-home-header__container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .merchant-home-header__container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .merchant-home-header__container {
        max-width: calc(1000px + 2rem)
    }
}

@media (max-width:991.98px) {
    .merchant-home-header__container {
        padding-right: 35px;
        padding-left: 35px;
        max-width: 100%
    }
}

.merchant-home-header__content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1000px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex
}

@media (max-width:700px) {
    .merchant-home-header__content {
        max-width: 1020px;
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width:720px) {
    .merchant-home-header__content {
        flex-direction: column;
        text-align: center
    }
}

.merchant-home-header__heading {
    font-size: 2.8em;
    font-weight: 700;
    padding: 0;
    margin: 0 -1em 2rem 0;
    color: #fff
}

.merchant-home-header__heading span {
    color: #ffac00
}

@media (max-width:991.98px) {
    .merchant-home-header__heading {
        font-size: 2.125em;
        margin-right: 0
    }
}

@media (min-width:769px) {
    .merchant-home-header__details {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
        padding-left: 15px;
        padding-right: 5rem
    }
}

.merchant-home-header__description {
    font-size: 1.32rem;
    color: #fff;
    line-height: 1.4
}

@media (max-width:991.98px) {
    .merchant-home-header__description {
        text-align: center;
        margin-top: 2rem
    }
    .merchant-home-header__description p {
        margin-bottom: 2rem;
        text-align: left
    }
}

.merchant-home-header__shopify-btn {
    font-size: 1.32rem
}

.merchant-home-header__shopify-btn .default-button {
    box-shadow: 0 15px 15px -3px rgba(38, 38, 38, .3)
}

.merchant-home-header__btns {
    display: inline-block
}

.merchant-news-slider {
    background-color: #f5f5f5;
    position: relative
}

@media (max-width:991.98px) {
    .merchant-news-slider {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
}

@media (min-width:576px) {
    .merchant-news-slider {
        margin-top: -224px;
        margin-bottom: 272px;
        padding-top: 355px;
        height: 445px
    }
    .merchant-news-slider:after {
        content: "";
        background-color: #f5f5f5;
        position: absolute;
        bottom: -114px;
        right: 0;
        width: 100%;
        z-index: 0;
        height: 327px
    }
    .merchant-news-slider:before {
        content: "";
        background-color: #f5f5f5;
        position: absolute;
        bottom: -170px;
        right: 11px;
        width: 106%;
        height: 226px;
        transform: rotate(-4deg);
        z-index: 1
    }
}

.merchant-news-slider__container {
    z-index: 2;
    text-align: center;
    max-width: 490px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

@media (min-width:576px) {
    .merchant-news-slider__container {
        max-width: 540px
    }
}

@media (min-width:769px) {
    .merchant-news-slider__container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .merchant-news-slider__container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .merchant-news-slider__container {
        max-width: calc(1000px + 2rem)
    }
}

@media (max-width:991.98px) {
    .merchant-news-slider__container {
        padding-right: 45px;
        padding-left: 45px
    }
}

.merchant-news-slider__spin-in-news-carousel {
    margin-bottom: 3rem
}

.merchant-news-slider__spin-in-news-carousel .slick-slide {
    width: 300px
}

.merchant-news-slider__arrow {
    transform: rotate(180deg);
    margin-left: .25em;
    vertical-align: middle
}

.merchant-news-slider__link {
    font-size: 1.32rem;
    color: #46b1cd
}

.merchant-page__details,
.merchant-page__grow-sales__details,
.merchant-page__image-in-section,
.merchant-page__influencer-review-image,
.merchant-page__influencer-review .merchant-page__influencer-review-details,
.merchant-page__phone {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.merchant-page {
    display: flex;
    flex-direction: column
}

.merchant-page__body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(833px + 2rem);
    position: relative;
    z-index: 1;
    padding: 4em 1rem;
    text-align: center
}

@media (max-width:700px) {
    .merchant-page__body {
        max-width: 853px;
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width:720px) {
    .merchant-page__body {
        padding-top: 2em;
        padding-bottom: 2em
    }
}

.merchant-page__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.merchant-page__image-in-section {
    position: relative;
    z-index: 1;
    text-align: center
}

.merchant-page__image-in-section img {
    max-width: 100%
}

@media (min-width:769px) {
    .merchant-page__image-in-section {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        padding-right: 15px;
        padding-left: 15px
    }
}

.merchant-page__phone {
    position: relative;
    z-index: 1;
    align-self: flex-end;
    cursor: pointer
}

.merchant-page__phone:after {
    content: "";
    position: absolute;
    bottom: -2rem;
    width: 45%;
    height: 0;
    box-shadow: 0 -27px 42px 27px rgba(38, 38, 38, .3);
    left: 0;
    right: 0;
    margin: auto
}

@media (min-width:769px) {
    .merchant-page__phone {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (max-width:991.98px) {
    .merchant-page__phone {
        margin-bottom: 0
    }
}

.merchant-page__phone img {
    width: 100%;
    height: 100%;
    position: relative
}

.merchant-page__phone video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.95) translateY(-1px) translateZ(0)
}

.merchant-page__phone .icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 2.8em
}

.merchant-page__body-title {
    font-size: 1.75em;
    font-weight: 700;
    margin-top: 0
}

.merchant-page__features {
    margin-bottom: 7.31em
}

@media (max-width:720px) {
    .merchant-page__features {
        margin-bottom: 2.3rem
    }
}

.merchant-page__footer {
    margin-top: 2rem
}

.merchant-page__grow-sales {
    display: flex;
    align-items: center
}

@media (max-width:991.98px) {
    .merchant-page__grow-sales {
        overflow: hidden
    }
}

@media (min-width:769px) {
    .merchant-page__grow-sales__details {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        padding-right: 15px;
        padding-left: 6rem;
        margin-top: 7em;
        align-self: flex-start
    }
}

@media (min-width:992px) {
    .merchant-page__grow-sales__details {
        order: 13
    }
}

@media (max-width:1199.98px) {
    .merchant-page__grow-sales__details .merchant-page__link .default-button {
        margin-bottom: 5rem
    }
}

@media (min-width:769px) {
    .merchant-page__details {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        padding-right: 15px;
        padding-left: 15px;
        align-self: flex-start
    }
}

@media (min-width:992px) {
    .merchant-page__details.merchant-page__details--odd {
        padding-left: 6rem;
        order: 13
    }
}

.merchant-page__link {
    font-size: 1.32rem;
    color: #46b1cd
}

.merchant-page__link .default-button {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 1rem
}

.merchant-page__link .default-button .default-button__text {
    white-space: unset
}

.merchant-page__grow-sales-header {
    font-size: 2.5rem;
    color: #ffac00;
    font-weight: 700
}

@media (max-width:991.98px) {
    .merchant-page__grow-sales-header {
        font-size: 2rem
    }
}

.merchant-page__grow-sales-description {
    font-size: 1.32rem;
    font-weight: 600;
    line-height: 1.4
}

.merchant-page__container {
    max-width: 490px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

@media (min-width:576px) {
    .merchant-page__container {
        max-width: 540px
    }
}

@media (min-width:769px) {
    .merchant-page__container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .merchant-page__container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .merchant-page__container {
        max-width: calc(1000px + 2rem)
    }
}

@media (max-width:991.98px) {
    .merchant-page__container {
        padding-right: 35px;
        padding-left: 35px
    }
}

.merchant-page__header {
    font-size: 2.5rem;
    color: #000
}

.merchant-page__selling-with-spin-details {
    font-size: 1.32rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 4rem;
    margin-top: 2rem
}

.merchant-page__selling-with-spin {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 6rem
}

.merchant-page__selling-with-spin .merchant-page__header {
    font-weight: 700
}

.merchant-page__influencer-review {
    color: #fff;
    padding-top: 7rem;
    padding-bottom: 7rem
}

.merchant-page__influencer-review .merchant-page__row {
    align-items: center
}

.merchant-page__influencer-review .merchant-page__influencer-review-details {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    padding-right: 15px;
    padding-left: 15px
}

.merchant-page__influencer-review.merchant-page__influencer-review--blue {
    background-color: #46b1cd
}

.merchant-page__influencer-review.merchant-page__influencer-review--blue .merchant-page__influencer-review-logo {
    left: -35px
}

.merchant-page__influencer-review.merchant-page__influencer-review--blue .merchant-page__influencer-review-details {
    padding-right: 5em
}

.merchant-page__influencer-review.merchant-page__influencer-review--red {
    background-color: #ea573c
}

.merchant-page__influencer-review.merchant-page__influencer-review--red .merchant-page__influencer-review-details {
    padding-left: 5rem
}

.merchant-page__influencer-review.merchant-page__influencer-review--red .merchant-page__influencer-review-logo {
    right: -35px
}

.merchant-page__influencer-review-image {
    margin-bottom: 2rem;
    text-align: right
}

@media (min-width:769px) {
    .merchant-page__influencer-review-image {
        margin-bottom: 0;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (max-width:991.98px) {
    .merchant-page__influencer-review-image {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto
    }
}

.merchant-page__influencer-review-image img {
    max-width: 100%
}

.merchant-page__influencer-review-name {
    color: #ffac00;
    font-size: 1.32rem;
    font-weight: 700;
    margin-bottom: 1rem
}

.merchant-page__shape-ball {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: #ffac00;
    position: absolute;
    right: -75px;
    top: -90px
}

.merchant-page__influencer-review-quote {
    font-weight: 700;
    font-size: 1.76rem;
    margin-bottom: 2rem;
    line-height: 1.5
}

@media (max-width:991.98px) {
    .merchant-page__influencer-review-quote {
        font-size: 1.5rem
    }
}

.merchant-page__influencer-review-title {
    font-size: 1.32rem;
    opacity: .7;
    font-weight: 600
}

.merchant-page__influencer-review-logo {
    width: 80px;
    border-radius: 50%;
    border: 6px solid #fff;
    position: absolute;
    bottom: 10%;
    box-shadow: -2px 6px 13px 3px rgba(58, 58, 58, .4);
    background-color: #fff
}

@media (max-width:991.98px) {
    .merchant-page__influencer-review-logo {
        right: -8px;
        width: 50px
    }
}

.merchant-page__influencer-review-main-img {
    border-radius: .65rem;
    position: relative;
    border: 6px solid #fff;
    width: 100%
}

.merchant-page__dots {
    color: #ffac00;
    position: absolute;
    left: -25px;
    top: -35px
}

.merchant-page__grow-sales-quote-influencer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: center;
    font-size: 1.12rem;
    color: rgba(58, 58, 58, .5)
}

.merchant-page__grow-sales-quote-influencer img {
    border-radius: 50%;
    background-color: #fff;
    border: 9px solid transparent;
    box-shadow: 0 3px 9px 1px rgba(58, 58, 58, .2);
    width: 70px;
    margin-right: 1rem
}

@media (max-width:991.98px) {
    .merchant-page__grow-sales-quote-influencer {
        padding-bottom: 1rem
    }
}

.merchant-page__quote {
    color: rgba(58, 58, 58, .5);
    font-size: 1.12rem;
    margin-top: 3rem
}

@media (max-width:991.98px) {
    .merchant-page__quote {
        font-size: 1.32rem
    }
}

.merchant-page__phone-circle {
    border-radius: 50%;
    width: 445px;
    height: 445px;
    background-color: #46b1cd;
    position: absolute;
    left: calc(50% - 225px);
    top: calc(50% - 225px);
    z-index: -1
}

.merchant-page__works-shopify {
    margin-top: 6rem;
    margin-bottom: 6rem
}

.merchant-page__shopify-btn {
    font-size: 1.32rem
}

.merchant-page__shopify-btn .default-button {
    box-shadow: 0px 0px 9px -2px rgb(0 0 0 / 50%)
}

.merchant-page__influencers-live {
    margin-top: 6rem
}

.merchant-page__risk-free {
    margin-bottom: 6rem
}

.merchant-page__influencers-live-description,
.merchant-page__risk-free-description,
.merchant-page__works-shopify-description {
    color: rgba(58, 58, 58, .5);
    font-size: 1.32rem;
    font-weight: 600;
    line-height: 1.5
}

.merchant-page__works-shopify-description {
    margin-bottom: 2rem
}

.merchant-page__arrow {
    transform: rotate(180deg);
    margin-left: .25em;
    vertical-align: middle
}

.merchant-page__shopify-icon {
    margin-right: .25em;
    vertical-align: middle;
    margin-top: -7px
}

.merchant-page__triangles {
    position: absolute;
    right: 12%;
    top: 28%;
    font-size: 7rem
}

@media (max-width:991.98px) {
    .merchant-page__grow-sales-quote-influencer-name {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .merchant-page__grow-sales-quote-influencer-name span {
        margin-bottom: 1rem
    }
}

.merchant-page__grow-sales-quote-influencer-name span {
    font-weight: 700
}

@media (max-width:768.98px) {
    .merchant-page__influencer-review-slider {
        padding-top: 2rem;
        padding-bottom: 3rem;
        background-color: #ea573c;
        margin-bottom: 2rem
    }
    .merchant-page__influencer-review-slider .slick-dots {
        text-align: center;
        padding: 0
    }
    .merchant-page__influencer-review-slider .slick-dots li {
        list-style: none;
        display: inline-block;
        margin: 0 4px;
        opacity: .5;
        color: transparent;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        border: none
    }
    .merchant-page__influencer-review-slider .slick-dots li.slick-active {
        opacity: 1
    }
    .merchant-page__influencer-review-slider .slick-dots li button {
        display: none
    }
}

.merchant-page__influencer-review-slider-details {
    color: #fff;
    padding: 3rem;
    background-color: hsla(0, 0%, 100%, .2);
    border-radius: .65rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 1
}

@media (max-width:768.98px) {
    .merchant-page__influencer-review-slider-details {
        padding: 2rem;
        margin: 0 0 0 -25px;
        width: 96%;
        min-height: 1020px
    }
}

.fact-one {
  padding: 70px;
}
.fact-one .container {
  position: relative;
}
.fact-one__single {
  -webkit-box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
          box-shadow: 0px 20px 60px 0px rgba(42, 40, 51, 0.05);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 9px -2px rgb(0 0 0 / 50%);
}
.fact-one__single:before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 50%;
  background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
}
.fact-one__inner {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(255, 118, 142, 0.3);
          box-shadow: 0px 20px 40px 0px rgba(255, 118, 142, 0.3);
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fact-one__inner h3,
.fact-one__inner p {
  margin: 0;
}
.fact-one__inner h3 {
  color: #2a2833;
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
}
.fact-one__inner p {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 12px;
  font-weight: 500;
  color: #74727a;
  line-height: 1em;
  margin-top: 10px;
}
.fact-one [class*=col-]:nth-child(1) .fact-one__inner {
  -webkit-box-shadow: inset 0px 20px 40px 0px rgba(255, 118, 142, 0.3);
          box-shadow: inset 0px 20px 40px 0px rgba(255, 118, 142, 0.3);
}
.fact-one [class*=col-]:nth-child(1) .fact-one__single:before {
  background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
}
.fact-one [class*=col-]:nth-child(2) .fact-one__inner {
  -webkit-box-shadow: inset 0px 20px 60px 0px rgba(141, 142, 255, 0.3);
          box-shadow: inset 0px 20px 60px 0px rgba(141, 142, 255, 0.3);
}
.fact-one [class*=col-]:nth-child(2) .fact-one__single:before {
  background-image: linear-gradient(40deg, #0db8ff 0%, #f332ff 100%);
}
.fact-one [class*=col-]:nth-child(3) .fact-one__inner {
  -webkit-box-shadow: inset 0px 20px 40px 0px rgba(58, 212, 173, 0.3);
          box-shadow: inset 0px 20px 40px 0px rgba(58, 212, 173, 0.3);
}
.fact-one [class*=col-]:nth-child(3) .fact-one__single:before {
  background-image: linear-gradient(40deg, #39aeff 0%, #3cff53 100%);
}
.fact-one [class*=col-]:nth-child(4) .fact-one__inner {
  -webkit-box-shadow: inset 0px 20px 40px 0px rgba(255, 178, 71, 0.3);
          box-shadow: inset 0px 20px 40px 0px rgba(255, 178, 71, 0.3);
}
.fact-one [class*=col-]:nth-child(4) .fact-one__single:before {
  background-image: linear-gradient(40deg, #ff703e 0%, #ffec4e 100%);
}

.block-title {
  margin-bottom: 45px;
}
.block-title__title {
  text-align: center;  
  margin: 0;
  margin-top: -10px;
  font-size: 50px;
  font-weight: 400;
  color: #2a2833;
  line-height: 1.2em;
}
.block-title__title span {
  font-weight: 700;
}  

.container {
    max-width: 1200px;
        margin: 0 auto;

}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 576px) {
.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}

@media (min-width: 768px) {
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 992px) {
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}
