@import url(https://fonts.googleapis.com/css2?family=Inter&amp;display=swap);


.about-page__holder {
    margin-top: 75px;
    padding-top: 5rem;
    padding-bottom: 5rem
}

.about-page__paragraph {
    margin-top: 0;
    font-size: 1.32rem;
    line-height: 2;
    color: rgba(58, 58, 58, .5);
    position: relative
}

.about-page__heading {
    font-size: 3.5rem;
    font-weight: 500;
    margin: 0 0 3.5rem;
    font-weight: 700
}

@media (max-width:720px) {
    .about-page__heading {
        font-size: 3rem;
        font-weight: 700
    }
}

.about-page__container {
    max-width: 490px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

@media (min-width:576px) {
    .about-page__container {
        max-width: 540px
    }
}

@media (min-width:769px) {
    .about-page__container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .about-page__container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .about-page__container {
        max-width: calc(1000px + 2rem)
    }
}

.about-page__influencers-dots {
    opacity: .1;
    position: absolute;
    right: -54px;
    bottom: -58px;
    z-index: -1
}

@media (max-width:768.98px) {
    .about-page__influencers-dots {
        right: 0;
        left: 0;
        width: 148px;
        margin: auto
    }
}