@import url(https://fonts.googleapis.com/css2?family=Inter&amp;display=swap);
.store-buttons__button {
    font-size: 6em;
    position: relative;
    display: inline-flex;
    color: currentColor;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem 2rem
}

@media (max-width:720px) {
    .store-buttons--responsive {
        display: flex;
        flex-direction: column;
        justify-content: center
    }
}

@media (min-width:992px) {
    .store-buttons--responsive .store-buttons__button:not(:last-child) {
        margin-right: 1rem
    }
}

@media (max-width:992px) {
    .store-buttons--responsive .store-buttons__button:not(:last-child) {
        margin-bottom: 1rem
    }
}

@media (max-width:992px) {
    .store-buttons--responsive .store-buttons__button {
        justify-content: center
    }
}

.store-buttons:not(.store-buttons--responsive) .store-buttons__button {
    margin-right: 1rem
}

.home-footer__col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.home-footer {
    background-color: #ffffff;
    padding: 4rem 0 2rem;
    border-top: 1px solid #999;
}

@media (max-width:991.98px) {
    .home-footer {
        text-align: center
    }
}

.home-footer__link,
.home-footer__links a {
    color: #999;
    text-decoration: none;
    font-weight: 600
}

.home-footer__links a {
    display: block;
    padding: .5rem 0;
    margin: .5rem 0
}

.home-footer__links a:hover {
    opacity: .8
}

.home-footer__container {
    max-width: 490px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

@media (min-width:576px) {
    .home-footer__container {
        max-width: 540px
    }
}

@media (min-width:769px) {
    .home-footer__container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .home-footer__container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .home-footer__container {
        max-width: calc(1000px + 2rem)
    }
}

.home-footer__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.home-footer__col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

@media (max-width:991.98px) {
    .home-footer__col {
        margin-bottom: 3rem
    }
}

.home-footer__title {
    color: #333;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 600
}

.home-footer__logo {
    font-size: 5em;
    color: #fff;
}

.home-footer__copy {
    color: #999
}

@media (max-width:991.98px) {
    .home-footer__copy {
        display: block
    }
    .home-page__header {
        font-size: 3.75rem;
        font-weight: 700;
        margin-bottom: 5rem;
        color: #181818;
        margin-top: 0px;
    }
}

.home-footer__store-buttons .store-buttons__button {
    display: inline-flex;
    padding: 1rem;
    margin-bottom: 1rem
}

.home-footer__store-buttons .store-buttons__button .icon {
    display: block
}

.home-footer__store-buttons .store-buttons__button:first-child {
    margin-right: 0
}

.home-footer__logo-col {
    display: block
}

@media (min-width:769px) {
    .home-footer__logo-col {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (max-width:991.98px) {
    .home-footer__logo-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 4rem
    }
    .home-footer__logo-col .home-footer__copy {
        display: none
    }

    .home-page__store-buttons .store-buttons__button {
        box-shadow: none !important;
    }
}

.home-page__details,
.home-page__influencers-details,
.home-page__merchants-details,
.home-page__phone {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.home-page__top {
    background-color: #fff9ff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-top: 3em;
    color: #fff;
    padding-bottom: 6em;
    min-height: 80vh;
}

@media (min-width:769px) {
    .home-page__details {
        margin-top: 3em
    }
}

@media (min-width:769px) {
    .home-page__details,
    .home-page__influencers-details,
    .home-page__merchants-details {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
        padding-right: 15px;
        padding-left: 15px;
        align-self: flex-start
    }
}

.home-page__header {
    font-size: 3.75rem;
    font-weight: 700;
    margin-bottom: 5rem;
    color: #181818;
}

.home-page__header span {
    color: #e62d87
}

@media (max-width:991.98px) {
    .home-page__header {
        z-index: 1;
        position: relative
    }
}

.home-page__phone {
    position: relative;
    z-index: 1;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    align-self: flex-end;
    cursor: pointer
}

.home-page__phone:after {
    content: "";
    position: absolute;
    bottom: -2rem;
    width: 45%;
    height: 0;
    box-shadow: 0 -27px 42px 27px rgba(38, 38, 38, .3);
    left: 0;
    right: 0;
    margin: auto
}

@media (max-width:991.98px) {
    .home-page__phone {
        margin-top: 4rem;
        margin-bottom: 0
    }
}

.home-page__phone img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

.home-page__phone video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(.95) translateY(-1px) translateZ(0)
}

.home-page__phone .icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 2.8em
}

.home-page__container {
    max-width: 490px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

@media (min-width:576px) {
    .home-page__container {
        max-width: 540px
    }
}

@media (min-width:769px) {
    .home-page__container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .home-page__container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .home-page__container {
        max-width: calc(1000px + 2rem)
    }
}

@media (max-width:991.98px) {
    .home-page__container {
        padding: 2rem
    }
}

.home-page__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.home-page__get-apps {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #181818;
}

.home-page__shape-bar {
    position: absolute;
    height: 100%;
    background-color: #ffac00;
    transform: translateZ(0) rotate(45deg);
    width: 90px;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem
}

.home-page__shape-bar.home-page__shape-bar--yellow {
    background-color: #ffac00;
    left: 27%;
    bottom: -58%
}

@media (max-width:991.98px) {
    .home-page__shape-bar.home-page__shape-bar--yellow {
        left: -70%;
        bottom: -36%
    }
}

.home-page__shape-bar.home-page__shape-bar--blue {
    background-color: #46b1cd;
    right: -13rem;
    top: -55%
}

@media (max-width:991.98px) {
    .home-page__shape-bar.home-page__shape-bar--blue {
        top: -37%
    }
}

.home-page__shape-ball {
    border-radius: 50%;
    width: 95px;
    height: 95px;
    background-color: #ea573c;
    position: absolute;
    right: -3%;
    top: 50%
}

.home-page__merchants {
    background-color: #ed6844;
    min-height: calc(100vh - 12rem);
    display: flex;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem
}

@media (max-width:991.98px) {
    .home-page__merchants {
        overflow: hidden
    }
}

@media (min-width:992px) {
    .home-page__merchants-details {
        order: 13;
        padding-left: 8rem;
        margin-top: 0
    }
}

.home-page__merchants-header {
    font-size: 3.13rem;
    color: #fff;
    font-weight: 700;
    margin-top: 0
}

@media (max-width:991.98px) {
    .home-page__merchants-header {
        font-size: 2rem
    }
}

.home-page__merchants-description {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-weight: 400;
}

@media (max-width:991.98px) {
    .home-page__merchants-description {
        font-size: 2rem
    }
}

.home-page__phone-circle {
    border-radius: 50%;
    width: 445px;
    height: 445px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 225px);
    top: calc(50% - 225px);
    z-index: -1;
    opacity: .7;
}

.home-page__influencers-header {
    font-size: 3.13rem;
    color: #fff;
    font-weight: 700;
    margin-top: 0
}

.home-page__influencers-description {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 5rem;
    font-weight: 400;
}

@media (max-width:991.98px) {
    .home-page__influencers-description {
        font-size: 2rem;
        margin-bottom: 4rem
    }
}

.home-page__influencers {
    overflow: hidden;
    background-color: #e94f6f;
    padding: 6rem 4rem;
    min-height: 100vh;
    display: flex;
    align-items: center
}

@media (max-width:991.98px) {
    .home-page__influencers {
        padding: 6rem 0
    }
}

.home-page__influencers-dots {
    position: absolute;
    right: -54px;
    top: -58px
}

.home-page__spin-in-news {
    padding: 4rem 0;
    text-align: center
}

.home-page__spin-in-news-item-inner {
    text-align: center;
    height: 90px;
    width: 300px;
    display: flex;
    align-items: center
}

.home-page__spin-in-news-item-inner img {
    margin: 0 auto
}

.home-page__spin-in-news-carousel {
    margin-bottom: 3rem
}

.home-page__spin-in-news-carousel .slick-slide {
    width: 300px
}

.home-page__home-page__spin-in-news-header {
    color: #3a3a3a;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.14rem
}

@media (max-width:991.98px) {
    .home-page__home-page__spin-in-news-header {
        margin-bottom: 2rem
    }
}

.home-page__store-buttons-holder {
    position: relative;
    z-index: 2
}

@media (max-width:991.98px) {
    .home-page__store-buttons-holder {
        margin-top: 3rem;
        z-index: 1;
        position: relative;
        text-align: center
    }
    .home-page__store-buttons-holder .store-buttons {
        padding: 0 2rem
    }
}

.home-page__quotes {
    text-align: center;
    padding: 4rem 0
}

.home-page__quotes-header {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem
}

.home-page__banner-details {
    padding-top: 75px;
    width: 100%
}

.home-page__store-buttons .store-buttons__button {
    box-shadow: 0 25px 30px 3px rgba(38, 38, 38, .7)
}