@import url(https://fonts.googleapis.com/css2?family=Inter&amp;display=swap);
.home-page-navigation {
    margin-left: auto;
    display: flex;
    justify-content: flex-end
}

.home-page-navigation__navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.home-page-navigation__nav-item {
    position: relative;
    font-size: 1.1rem;
    padding: 0 .75em;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700
}

@media (max-width:768.98px) {
    .home-page-navigation__nav-item {
        display: block;
        height: 55px;
        font-size: 1.63rem
    }
}

.home-page-navigation__nav-item:first-child .home-page-navigation__nav-link:before {
    display: none
}

.home-page-navigation__nav-link {
    color: #333;
    text-decoration: none;
    position: relative
}

@media (max-width:991.98px) {
    .home-page-navigation__nav-link {
        padding-left: 1.5rem
    }
}

@media (min-width:769px) {
    .home-page-navigation__nav-link.router-link-active:before {
        content: "";
        height: 4px;
        width: 20px;
        max-width: 100%;
        border-radius: 10rem;
        background-color: #46b1cd;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute
    }
}

@media (max-width:768.98px) {
    .home-page-navigation__nav-link.router-link-active:before {
        content: "";
        height: 65%;
        width: 5px;
        max-width: 100%;
        border-radius: 10rem;
        background-color: #46b1cd;
        left: 0;
        position: absolute;
        top: 8px
    }
}

.home-page-navigation__header-nav {
    color: #fff;
    transition-duration: .15s;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    opacity: 1;
    border-radius: .25rem
}

.sidebar--desktop-collapsed .home-page-navigation__header-nav {
    text-align: center
}

.home-page-navigation__header-nav--enter,
.home-page-navigation__header-nav--leave-active {
    transform: translateY(-45%);
    opacity: 0
}

@media (max-width:768.98px) {
    .home-page-navigation__header-nav {
        display: none
    }
}

@media (min-width:576px) {
    .home-page-navigation__header-nav {
        position: absolute;
        right: 24px;
        padding: 1rem;
        background: #fff;
        color: #3a3a3a;
        white-space: normal;
        cursor: pointer;
        z-index: 1;
        width: 225px;
        bottom: -85px
    }
}

.home-page-navigation__header-nav:before {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    right: 30px;
    top: -9px;
    position: absolute;
    transform: translateY(-50%) translateX(calc(-.15em + 1px))
}

@media (min-width:576px) {
    .home-page-navigation__header-nav:before {
        content: ""
    }
}

.home-page-navigation__avatar {
    border-radius: 50%;
    border: 3px solid #fff;
    width: 45px;
    height: 45px;
    margin-right: 1rem
}

@media (max-width:768.98px) {
    .home-page-navigation__avatar {
        width: 35px;
        height: 35px
    }
}

.home-page-navigation__header-nav-link {
    margin-bottom: 1rem;
    color: #3a3a3a;
    text-decoration: none;
    display: block
}

.home-page-navigation__header-nav-link:last-child {
    margin-bottom: 0
}

@media (max-width:768.98px) {
    .home-page-navigation__header-nav-link {
        color: #fff
    }
}

@media (min-width:769px) {
    .home-page-navigation__header:after {
        width: 0;
        height: 0;
        content: "";
        border: 7px solid transparent;
        border-top-color: #fff
    }
}

@media (max-width:768.98px) {
    .home-page-navigation__header {
        display: flex;
        align-items: center;
        height: 35px
    }
}

.home-page-navigation__navbar-nav {
    display: flex;
    padding-left: 0;
    list-style: none
}

@media (max-width:768.98px) {
    .home-page-navigation__navbar-nav {
        display: none
    }
    .home-page-navigation__navbar-nav.home-page-navigation__navbar-nav--active {
        flex-direction: column;
        display: block;
        position: absolute;
        left: 0;
        top: 75px;
        margin: 0;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 75px);
        overflow: auto;
        padding-bottom: 2rem;
        padding-top: 2rem
    }
}

.home-page-navigation__navbar-toggler {
    display: none
}

@media (max-width:768.98px) {
    .home-page-navigation__navbar-toggler {
        display: block
    }
}

.home-page-navigation__navbar-toggler .default-button__text {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 30px
}

.home-page-navigation__navbar-toggler.home-page-navigation__navbar-toggler--active .home-page-navigation__navbar-toggler-line--line-1 {
    transform: rotate(45deg) translate(5px, 5px);
    width: 100%
}

.home-page-navigation__navbar-toggler.home-page-navigation__navbar-toggler--active .home-page-navigation__navbar-toggler-line--line-2 {
    display: none
}

.home-page-navigation__navbar-toggler.home-page-navigation__navbar-toggler--active .home-page-navigation__navbar-toggler-line--line-3 {
    width: 100%;
    transform: rotate(-45deg)
}

.home-page-navigation__navbar-toggler-line {
    height: 4px;
    background-color: #ed6844;
    margin-bottom: 3px;
    display: block;
    border-radius: .25rem;
    transition-duration: .15s;
    transition-property: width, transform;
    transition-timing-function: ease
}

.home-page-navigation__navbar-toggler-line.home-page-navigation__navbar-toggler-line--line-1 {
    width: 70%
}

.home-page-navigation__navbar-toggler-line.home-page-navigation__navbar-toggler-line--line-2 {
    width: 100%
}

.home-page-navigation__navbar-toggler-line.home-page-navigation__navbar-toggler-line--line-3 {
    width: 50%
}

.home-page-navigation__header-nav-link-mobile {
    display: none
}

@media (max-width:768.98px) {
    .home-page-navigation__header-nav-link-mobile {
        display: block
    }
}