<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <title>{% block title %}{% endblock %}| Swipe Live</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/header.css">
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/wrapper.css">
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
  </head> 
  <body>
    
    <div class="css-fwi0lb">
      {% include 'admin/partials/header.html.twig' %}
      {% include 'admin/partials/menu.html.twig' %}

      {% block body %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      $('.header--notification--btn').click(function() {
        $(this).toggleClass("icon--selected");
        $('.menu--down--notif').toggleClass("is--active");
        $('.menu--down--avatar').removeClass("is--active");
      });

      // $('.header--contact--btn').click(function() {
      //   $(this).toggleClass("icon--selected");
      //   $('.menu--down--contact').toggleClass("is--active");
      // });

      $('.header--avatar--btn').click(function() {
        $(this).toggleClass("is--avatar--clicked");
        $('.menu--down--avatar').toggleClass("is--active");
        $('.menu--down--notif').removeClass("is--active");
      });

      $('.header--search').click(function() {
        $('.header--search-bar').addClass("search--is-active");
      });

      $('#searchBtn').click(function() {
        $('.header--search-bar').removeClass("search--is-active");
      });

      $('.wrapper--right').click(function() {
        $('.wrapper').toggleClass("wrapper--open");
      });

      $('.wrapper--icon').click(function() {
        $('.wrapper').toggleClass("wrapper--open");
      });

      $('.btn-submenu').click(function() {
        $(".button--submenu").toggleClass("submenu--open");
      });


      // code = prompt('Entrez le mot de passe. Vous avez 1 seul essais...','Entrer le mot de passe ici');

      // if (code != "Wawa0109") {
      //   location.href="mauvaiscode.html";
      // }

    </script>
  </body>
</html>