<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <title>{% block title %}{% endblock %}| Swipe Live</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <meta name="facebook-domain-verification" content="c9wn1mwlbvsytpf5xoyct80f54atfy" />
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    {% block metadata %}{% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
      
    {% if app.environment == 'prod' %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQNW2EXYGW"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZQNW2EXYGW');
      </script>


      <!-- Facebook Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1027920418136224'); 
        fbq('track', 'PageView');
        </script>
        <noscript>
        <img height="1" width="1" 
        src="https://www.facebook.com/tr?id=1027920418136224&ev=PageView
        &noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->
    {% endif %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>