<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <title>{% block title %}{% endblock %}| Wizz Live</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1, user-scalable=0, shrink-to-fit=no">

    {% block metadata %}{% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="shortcut icon" href="img/favicon.ico">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
      
    {# {% if app.environment == 'prod' %} #}
    {# {% endif %} #}

  </head>
  <body>

    {% block body %}{% endblock %}
      
    {% include 'web/footer.html.twig' %}

  </body>
</html>