{% extends 'web/base.html.twig' %}

{% block title %} Politique de cookies {% endblock %}

{% block metadata %}{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}
    <div id="root-terms">
      <div id="header-terms">
        <a href="{{ path('home') }}">
          <img height="50" src="img/logo.png" alt="" />
        </a>
      </div>
      <div id="main-terms">
        <h2>Politique de cookies de Swipe Live</h2>

        <p>Politique de cookies - nouvelle version applicable à partir du 06 octobre 2021</p>

        <p>Lorsque vous utilisez le site Web ou l’Application Swipe Live (ci-après conjointement la « Plateforme »), nous et nos partenaires pouvons stocker et/ou accéder à des informations sur votre appareil via des cookies ou des technologies similaires pour traiter des données à caractère personnel. La présente Politique relative aux cookies vise à expliquer ce que sont les cookies, comment ils sont utilisés sur notre Plateforme et comment vous pouvez les gérer.</p>

        <p>Pour des informations générales sur les pratiques de Swipe Live en matière de données, veuillez consulter notre Politique de confidentialité. Les termes en majuscules utilisés dans la présente Politique relative aux cookies ont la même signification que dans la Politique de confidentialité.</p>


        <h3>1.Que sont les cookies ?</h3>

        <p>Les cookies sont de petits fichiers texte enregistrés par votre navigateur sur votre appareil (ex. : ordinateur, téléphone portable, tablette) lorsque vous visitez certains sites web. D’autres technologies, y compris tout moyen de stocker des données sur votre navigateur web ou sur votre appareil, des identifiants associés à votre appareil et d’autres logiciels, sont utilisées à des fins similaires. Celles-ci sont largement utilisées pour faire fonctionner les sites web ou pour en améliorer les fonctionnalités. Dans la présente Politique relative aux cookies, nous nous référerons à l’ensemble de ces technologies à travers le terme « cookies ».</p>

        <p>Sauf indication contraire aux présentes, les cookies que nous utilisons sont nécessaires pour garantir le bon fonctionnement et les performances de la plateforme Swipe Live (la « Plateforme »). Cela inclut les cookies qui vous permettent d’accéder aux zones protégées de notre plateforme, d’acheter un article ou d’utiliser notre système électronique de paiement. Certains des cookies sont supprimés de votre appareil à la fin de votre session de navigation (cookies de session). Les renseignements enregistrés dans les cookies nécessaires nous serviront uniquement à vous fournir les services et les fonctionnalités demandés.</p>

        <h3>2. Pourquoi utilisons-nous les cookies ?</h3>
        
        <p>Nous utilisons des cookies pour :</p>

        <p>faire fonctionner notre plateforme conformément à vos attentes,</p>

        <p>améliorer la vitesse et la sécurité de notre plateforme,</p>

        <p>vous reconnaître lorsque vous visitez de nouveau notre plateforme. Cela nous permet de personnaliser notre contenu, de vous saluer par votre nom et de mémoriser vos préférences (il s’agit alors de « cookies de fonctionnalité »),</p>

        <p>évaluer le nombre de visiteurs de notre plateforme et leurs habitudes de navigation sur le site. Cela nous permet d’améliorer les fonctionnalités de notre plateforme, ex. : en nous assurant que les utilisateurs peuvent trouver ce qu’ils cherchent (il s’agit alors de « cookies d’analyse/de performances »).</p>

        <p>identifier votre visite sur notre plateforme, les pages que vous visitez et les liens sur lesquels vous cliquez. Nous utilisons ces informations pour mieux adapter notre Plateforme, et la publicité que nous vous montrons, en fonction de vos intérêts. Si vous nous autorisez à vous envoyer des e-mails de marketing, nous utiliserons également ces informations pour vous envoyer des e-mails de marketing personnalisés (il s’agit des « cookies de ciblage »),</p>

        <p>vous permettre de partager des pages avec vos réseaux sociaux, comme Facebook ou Instagram (il s’agit des « cookies de partage et de suivi du contenu des plug-ins sociaux », relevant généralement de la catégorie des cookies de ciblage).</p>

        <h3>3. Comment gérer les cookies ?</h3>

        <p>Lorsque vous consultez la Plateforme pour la première fois ou que vous la consultez après une période prolongée, ou que vous naviguez sur notre site Web en mode privé (incognito), vous verrez un avis relatif aux cookies en bas de la fenêtre, et vous pourrez soit accepter tous les cookies, soit définir des préférences en matière de cookies, en choisissant les types de cookies que vous souhaitez voir placés sur votre appareil. Vous pouvez également, à tout moment, modifier les paramètres des cookies dans l’Application en cliquant sur Profil ▸ Paramètres des cookies ou, si vous naviguez sur notre site Web, en cliquant sur Paramètres des cookies en bas de la page.</p>

        <p>Vous pouvez configurer votre navigateur pour refuser certains ou tous les cookies ou pour vous demander l’autorisation avant de les accepter. Veuillez noter que la suppression de ces cookies ou leur désactivation pourra vous empêcher d’accéder à certaines zones ou fonctionnalités de notre site web. Pour plus d’informations sur la manière d’ajuster ou de modifier les paramètres de votre navigateur, veuillez visiter les sites www.aboutcookies.org ou www.allaboutcookies.org.</p>

        <p>Vous pouvez désactiver l’utilisation de certains cookies tiers en vous rendant sur la page de désactivation de la Network Advertising Initiative sur le site http://www.networkadvertising.org/managing/opt_out.asp.</p>

        <p>Vous pouvez toujours activer/désactiver l’utilisation des cookies de tiers à des fins de personnalisation des publicités. Veuillez consulter ce qui suit pour de plus amples informations.</p>

        <p>Si vous souhaitez désactiver les cookies utilisés par des services Google Analytics, Google AdSense ou Google Remarketing, veuillez consulter ce qui suit pour de plus amples informations.</p>

        <p>Si vous accédez à la plateforme depuis différents appareils (ex. : smartphone, tablette, ordinateur, etc.), vous devrez vous assurer que vos préférences de cookies sont bien configurées sur le navigateur de chaque appareil. Si vous ajustez les paramètres de cookies, les autres sites web que vous visitez pourront également être affectés.</p>

        <h3>4. Quels cookies utilisez-vous ?</h3>

        <p>Cookies strictement nécessaires</p>

        <p>Ces cookies sont nécessaires au fonctionnement du site Web et ne peuvent pas être désactivés dans nos systèmes. Ils sont généralement établis en tant que réponse à des actions que vous avez effectuées et qui constituent une demande de services, telles que la définition de vos préférences en matière de confidentialité, la connexion ou le remplissage de formulaires. Vous pouvez configurer votre navigateur afin de bloquer ou être informé de l'existence de ces cookies, mais certaines parties du site Web peuvent être affectées. Ces cookies ne stockent aucune information d’identification personnelle.</p>

        <p>Cookies de performance</p>

        <p>Ces cookies nous permettent de déterminer le nombre de visites et les sources du trafic, afin de mesurer et d’améliorer les performances de notre site Web. Ils nous aident également à identifier les pages les plus / moins visitées et d’évaluer comment les visiteurs naviguent sur le site Web. Toutes les informations collectées par ces cookies sont agrégées et donc anonymisées. Si vous n'acceptez pas ces cookies, nous ne serons pas informé de votre visite sur notre site.</p>

        <p>Cookies de fonctionnalité</p>

        <p>Ces cookies permettent d’améliorer et de personnaliser les fonctionnalités du site Web. Ils peuvent être activés par nos équipes, ou par des tiers dont les services sont utilisés sur les pages de notre site Web. Si vous n'acceptez pas ces cookies, une partie ou la totalité de ces services risquent de ne pas fonctionner correctement.</p>

        <p>Cookies pour une publicité ciblée</p>

        <p>Ces cookies peuvent être mis en place au sein de notre site Web par nos partenaires publicitaires. Ils peuvent être utilisés par ces sociétés pour établir un profil de vos intérêts et vous proposer des publicités pertinentes sur d'autres sites Web. Ils ne stockent pas directement des données personnelles, mais sont basés sur l'identification unique de votre navigateur et de votre appareil Internet. Si vous n'autorisez pas ces cookies, votre publicité sera moins ciblée.</p>

        <p>Stocker et/ou accéder à des informations stockées sur un terminal<br />
        Les cookies, identifiants de votre terminal ou autres informations peuvent être stockés ou consultés sur votre terminal pour les finalités qui vous sont présentées.</p>

        <p>Publicités et contenu personnalisés, mesure de performance des publicités et du contenu, données d’audience et développement de produit.</p>

        <p>Les publicités et le contenu peuvent être personnalisés sur la base d’un profil. Des données supplémentaires peuvent être ajoutées pour mieux personnaliser les publicités et le contenu. La performance des publicités et du contenu peut être mesurée. Des informations peuvent être générées sur les publics qui ont vu les publicités et le contenu. Les données peuvent être utilisées pour créer ou améliorer l’expérience utilisateur, les systèmes et les logiciels.</p>

        <p>Sélectionner des publicités standard Les publicités peuvent vous être présentées en fonction du contenu éditorial que vous consultez, de l’application que vous utilisez, de votre localisation approximative, ou de votre type de terminal <br />
        Créer un profil personnalisé de publicités Un profil peut être créé sur vous et sur vos centres d’intérêt pour vous présenter des publicités personnalisées susceptibles de vous intéresser. <br />
        Sélectionner des publicités personnalisées Des publicités personnalisées peuvent vous être présentées sur la base d’un profil créé sur vous. <br />
        Créer un profil pour afficher un contenu personnalisé Un profil peut être créé sur vous et sur vos centres d’intérêt afin de vous présenter du contenu personnalisé susceptible de vous intéresser. <br />
        Sélectionner du contenu personnalisé Du contenu personnalisé peut vous être présenté sur la base de votre profil utilisateur. <br />
        Mesurer la performance des publicités/annonces publicitaires La performance et l’efficacité des publicités que vous voyez ou avec lesquelles vous interagissez peuvent être mesurées. <br />
        Mesurer la performance du contenu La performance et l’efficacité du contenu que vous voyez ou avec lequel vous interagissez peuvent être mesurées. <br />
        Exploiter des études de marché afin de générer des données d’audience Les études de marché peuvent servir à en apprendre davantage sur les audiences qui visitent des sites/utilisent des applications et voient des publicités. <br />
        Développer et améliorer les produits Vos données peuvent être utilisées pour améliorer les systèmes et logiciels existants et pour développer de nouveaux produits.<br />
         <br />
        Utiliser des données de géolocalisation précises</p>

        <p>Vos données de géolocalisation précises peuvent être utilisées à l’appui d’une ou de plusieurs finalités. Cela signifie que votre localisation peut être précise à plusieurs mètres près.</p>

        <p>Analyser activement les caractéristiques du terminal pour l’identification<br />
        Votre terminal peut être identifié sur la base d’une analyse de la combinaison unique de caractéristiques de votre terminal.<br />
        Assurer la sécurité, prévenir la fraude et déboguer<br />
        Vos données peuvent être utilisées pour surveiller et prévenir les activités frauduleuses, et s’assurer que les systèmes et processus fonctionnent correctement et en toute sécurité.</p>

        <p>Diffuser techniquement les publicités ou le contenu<br />
        Votre terminal peut recevoir et envoyer des informations qui vous permettent de voir des publicités et du contenu et d’interagir avec eux.<br />
        Mettre en correspondance et combiner des sources de données hors ligne.</p>

        <p>Les données issues de sources de données hors ligne peuvent être combinées à votre activité en ligne à l’appui d’une ou de plusieurs finalités.<br />
        Relier différents terminaux<br />
        Différents terminaux peuvent être identifiés comme vous appartenant ou appartenant à votre foyer à l’appui d’une ou de plusieurs finalités<br />
        Recevoir et utiliser des caractéristiques d’identification d’appareil envoyées automatiquement.</p>

        <p>Votre appareil peut être distingué d’autres appareils en fonction des informations qu’il envoie automatiquement, telles que l’adresse IP ou le type de navigateur.</p>

        <h3>5. Avez-vous recours à des partenaires pour déployer des publicités sur la Plateforme ?</h3>

        <p>Afin d’adapter les contenus publicitaires, les partenaires de Swipe Live utilisent divers cookies. Nous les autorisons à afficher des publicités personnalisées en fonction de vos centres d’intérêt (ainsi qu’à utiliser des cookies associés à des publicités personnalisées) après avoir reçu votre consentement.</p>

        <p>Les cookies publicitaires de tiers et les trackers mobiles peuvent être utilisés aux fins de l’activation de la publicité contextuelle ou des campagnes de ciblage. Sur la base de votre autorisation de placer des cookies sur votre appareil, nous évaluons également les profils utilisateurs sous un pseudonyme. Dans ce cas, aucune identification personnelle n’est possible. Ces technologies de suivi des tiers et leur utilisation ne sont pas sous notre contrôle. Nos partenaires publicitaires sont soumis à des accords de confidentialité avec nous et/ou à d’autres restrictions légales. Les cookies de tiers sont couverts par les politiques de confidentialité de ces derniers. Nous communiquons ton accord ou désaccord concernant l’utilisation des cookies et le traitement des données personnelles à des fins de publicité personnalisée à nos partenaires.</p>

        <p>Veuillez noter que votre accord ou désaccord concernant la publicité personnalisée s’appliquera à toutes les plateformes (android, iOS, Web, etc.).</p>

        <h3>6. Transférez-vous mes données à des partenaires publicitaires en dehors de l’EEE ?</h3>

        <p>Certains de nos partenaires publicitaires sont établis en dehors de l’Espace économique européen. Lorsque vos données relatives aux cookies sont transférées à ces partenaires, nous sécurisons vos informations en prenant des mesures de protection appropriées.</p>

        <h3>7. Comment puis-je refuser les trackers de personnalisation des publicités ?</h3>

        <p>Le suivi sur vos appareils mobiles : vous pouvez désactiver la personnalisation des publicités dans l’Application Swipe Live en cliquant sur Profil ▸ Paramètres des cookies, et en modifiant les paramètres pertinents, en désélectionnant les types de cookies que vous avez précédemment choisis.</p>

        <p>Le suivi sur votre navigateur Web : vous pouvez refuser tout suivi supplémentaire à des fins de personnalisation des publicités en cliquant sur Paramètres des cookies, en bas de la page, et en désélectionnant les types de cookies concernés choisis précédemment. Si vous n'êtes pas un utilisateur inscrit, le retrait de votre consentement sera enregistré par l’installation d’un cookie dit « opt-out ». Cela empêchera la capture future de vos données à des fins de personnalisation des publicités lorsque vous consulterez L'Application Web. Si vous êtes un utilisateur inscrit, votre décision de retirer votre accord sera appliquée à toutes les plateformes Swipe Live sur tous les appareils utilisés. Veuillez noter que si vous supprimez tous les cookies sur votre navigateur, le cookie opt-out, qui mémorise vos choix, sera également supprimé. Toutefois la mise à jour des paramètres peut mettre du temps (jusqu’à l’actualisation de l’application) pour fonctionner sur les appareils mobiles.</p>

        <h3>8. Utilisation de Google Remarketing</h3>

        <p>Cette technologie permet aux utilisateurs ayant déjà visité notre Site internet et expérimenté nos services en ligne, et qui sont intéressés par l'offre, d'être atteints à nouveau par le biais d'une publicité ciblée sur les pages web du réseau de partenaires Google. L'insertion de la publicité se fait par l'utilisation de cookies. Les cookies peuvent être utilisés pour analyser le comportement des utilisateurs lors de leur visite sur le Site internet et ensuite pour des recommandations de produits ciblées et de la publicité basée sur leurs intérêts. Nous enregistrons dans Google Analytics les Données obtenues par la publicité liée aux intérêts de Google Ireland Ltd. (Irlande) et Google LLC (États-Unis) (« Google ») et les Données des visiteurs provenant de fournisseurs tiers (par ex. âge, sexe et centres d’intérêt).</p>

        <p>Si vous ne souhaitez pas recevoir de publicités basées sur vos centres d'intérêt et/ou vous opposer à la collecte et à l'utilisation des Données, vous pouvez désactiver l'utilisation des cookies par Google en procédant aux réglages nécessaires dans les paramètres publicitaires de Google (https://adssettings.google.com). Veuillez noter que Google peut stocker de nouveaux cookies à ces fins. Si vous supprimez tous les cookies de votre appareil et que vous devrez peut-être mettre à jour vos paramètres de désactivation. Vous pouvez également désactiver l'utilisation de cookies tiers en visitant la page d'exclusion de la Network Advertising Initiative (http://www.networkadvertising.org/managing/opt_out.asp).</p>

        <h3>9. Utilisation de Google Analytics</h3>

        <p>L'Application utilise Google Analytics, un service d'analyse web de Google. Google Analytics utilise des cookies pour aider à analyser l'utilisation du Site internet par les utilisateurs. Les informations générées par les cookies concernant votre utilisation de L'Application sont généralement transférées à un serveur de Google aux États-Unis et y sont stockées. Nous avons activé l'anonymisation de l'adresse IP sur notre plateforme afin que votre adresse IP soit raccourcie au préalable par Google dans les États membres de l'Union européenne ou dans les autres États signataires de l'Accord sur l'Espace économique européen.</p>

        <p> Ce n'est que dans des cas exceptionnels que l'adresse IP complète sera transmise à un serveur Google aux États-Unis et y sera raccourcie. Google utilisera ces informations au nom de Swipe Live pour évaluer votre utilisation du Site internet, pour compiler des rapports sur l'activité du Site internet et pour fournir à Swipe Live d'autres services liés à l'utilisation du Site internet et d'internet. L'adresse IP transmise par votre navigateur dans le cadre de Google Analytics n'est pas fusionnée avec d'autres Données de Google.</p>

        <p>Pour un aperçu de la politique de confidentialité de Google, cliquez ici : https://support.google.com/analytics/answer/6004245.</p>

        <h3>10. Utilisation de Google Adsense</h3>

        <p>L'Application utilise Google Adsense, un service de publicité en ligne de Google. Google Adsense utilise des cookies qui sont stockés sur votre ordinateur et qui permettent une analyse de votre utilisation du Site internet. Google Adsense utilise également des « pixels espions » (petits graphiques invisibles) pour collecter des informations. En utilisant les pixels espions, des actions simples telles que le trafic des visiteurs peuvent être enregistrées et collectées sur le Site internet. </p>

        <p>Les informations générées par les cookies et/ou pixels espions concernant votre utilisation de L'Application internet (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs aux États-Unis. Google utilise ces informations pour analyser votre utilisation du site Web par rapport aux annonces placées sur le Site internet, pour compiler des rapports sur les activités du Site internet et des annonces pour les exploitants du Site internet et pour fournir d'autres services associés à l'utilisation du Site internet et d'Internet. </p>

        <p>Google peut également transmettre ces informations à des tiers si la loi l'exige ou si des tiers traitent ces Données pour le compte de Google. Google n'associera pas votre adresse IP avec d'autres Données détenues par Google.</p>

        <p>Si vous ne souhaitez pas recevoir de publicités basées sur vos centres d'intérêt et/ou vous opposer à la collecte et à l'utilisation de Données, vous pouvez désactiver l'utilisation des cookies par Google à ces fins en accédant aux paramètres publicitaires de Google (https://adssettings.google.com) et en procédant aux réglages correspondants. Veuillez noter que Google peut stocker de nouveaux cookies à ces fins. Si vous supprimez tous les cookies de votre appareil et que vous devrez peut-être mettre à jour vos paramètres de désactivation. Vous pouvez également désactiver l'utilisation de cookies tiers en visitant la page d'exclusion de la Network Advertising Initiative (http://www.networkadvertising.org/managing/opt_out.asp).<br />
        </p>
        <br />
        <br />
        <br />
      </div>
    </div>
{% endblock %}