{% extends 'web/base.html.twig' %}

{% block title %} Le shopping en ligne, (re)inventé {% endblock %}

{% block metadata %}
    <meta name="description" content="Swipe Live est une application mobile de live shopping où les utilisateurs peuvent interagir, découvrir et acheter depuis des vidéos en direct de marques et d'influenceurs." />
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}/img/social.png" />
    <meta property="og:title" content="Swipe Live | #1 Application de Live Shopping Tout-en-un"/>
    <meta property="og:description" content="Swipe Live est une application mobile de live shopping où les utilisateurs peuvent interagir, découvrir et acheter depuis des vidéos en direct de marques et d'influenceurs."/>
{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}
    <div id="header" >
        <img id="logo" src="img/logo.png" alt="" />
    </div>
    <div id="root">
        <div id="main">
            <div class="headline">
                <h1 class="txt-rotate" data-period="1500" data-rotate='[ "Salut :)","Prêt pour une App de Live Shopping Tout-en-un ?", "Alors 3..2..1..Go !"]'></h1>
                <div class="flex" id="download">
                    <div class="dl-btn">
                        <a href="#">
                            <img class="app-ios" src="img/ios.svg" alt="">
                        </a>
                    </div>
                    <div class="dl-btn">
                        <a href="#">
                            <img class="app-android" src="img/android.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    {% include 'web/footer.html.twig' %}

    <style>
        body {
            background: #fe2c55;
        }
    </style>
{% endblock %}
