{% extends 'web/base.html.twig' %}

{% block title %} Le shopping en ligne, (re)inventé {% endblock %}

{% block metadata %}{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}
    <div id="header" >
        <img id="logo" height="100" src="img/favicon.png" alt="" />
    </div>
    <div id="root">
        <div id="main">
            <div class="headline">
                <h1 class="txt-rotate" data-period="1500" data-rotate='[ "Le shopping (ré)inventé", "Une expérience shopping unique !"]'></h1>
                <div class="flex" id="download">
                    <div class="dl-btn">
                        <a href="#">
                            <img height="64" src="img/ios.svg" alt="">
                        </a>
                    </div>
                    <div class="dl-btn">
                        <a href="#">
                            <img height="64" src="img/android.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
