{% extends 'web/base.html.twig' %}

{% block title %} Influenceurs {% endblock %}

{% block metadata %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/vendors_app.9cc7dbd1.chunk.css">
    <link rel="stylesheet" href="css/app.69ec2d8a.css">
    <link rel="stylesheet" href="css/39.fbd70a22.chunk.css">
    <link rel="stylesheet" href="css/66.af842e76.chunk.css">
    <link rel="stylesheet" href="css/36.7e245ef2.chunk.css">
    <link rel="stylesheet" href="css/41.74ab6540.chunk.css">
    <link rel="stylesheet" href="css/19.81df5bf6.chunk.css">
{% endblock %}


{% block body %}
    <div class="app">
        <div class="home-page app__contents" style="padding-top: 0;">
            <section class="home-page__top">
                <div class="home-page__banner-details">
                    <div class="home-page__container">
                        <div class="home-page__row">
                            <div class="home-page__details">
                                <h2 class="home-page__header">Influenceur, expert ou célébrité ?</h2>
                                <div class="home-page__store-buttons-holder">
                                    <div class="home-page__get-apps" style="font-size: 1.8em">Rejoignez la communauté <span style="color:#e62d87">Swipe Live </span> et collaborez avec les marques pour créer du contenu en direct.</div>
                                    <div class="store-buttons home-page__store-buttons store-buttons--responsive">
                                        <button type="button" class="default-button influencer-page__try-button default-button--red default-button--extra-tall" style="box-shadow: 0px 0px 9px -2px rgb(0 0 0 / 50%); background:#f05b5c; color:#fff;">
                                            <div class="default-button__text" style="font-size: 18px"> Inscription Influenceur</div>
                                        </button>
                                     </div>
                                </div>
                            </div>
                            <div class="home-page__phone">
                                <video src="img/phone-9.mp4" autoplay="autoplay" loop="loop" playsinline muted="muted"></video>
                                <img src="https://assets.spin.live/9a2220fe-08dd-4c4c-b7c1-1246f83808e4" />
                                <span class="icon icon--play">
                                    <svg id="My_Streams" data-name="My Streams" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                        <rect id="Container" width="64" height="64" transform="translate(0)" fill="none"></rect>
                                        <g id="Circle" transform="translate(6 6)" fill="rgba(255,255,255,0.3)" stroke="#fff" stroke-width="3">
                                            <circle cx="26.5" cy="26.5" r="26.5" stroke="none"></circle>
                                            <circle cx="26.5" cy="26.5" r="28" fill="none"></circle>
                                        </g>
                                        <path
                                        id="Play_Triangle"
                                        data-name="Play Triangle"
                                        d="M8.869,4.8a3,3,0,0,1,5.263,0l6.437,11.754A3,3,0,0,1,17.937,21H5.063a3,3,0,0,1-2.631-4.441Z"
                                        transform="translate(46 22) rotate(90)"
                                        fill="#fff"
                                        ></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="influencer-page app__contents" style="padding-top:0;">
            <div class="influencer-page__perks">
                <div class="influencer-page__container">
                    <h3 class="influencer-page__heading" style="padding-bottom: 30px;">🤔 Pourquoi Swipe Live ?</h3>
                    <div class="influencer-page__row">
                        <div class="influencer-page__perk-col influencer-page__perk-col--money">
                            <div class="influencer-page__perk-icon">
                                <span class="icon icon--stack-of-dollars">
                                    <img src="img/money.gif" style="width:64px">
                                </span>
                            </div>
                            <div class="influencer-page__perk-details">
                                <div class="influencer-page__perk-title"> Monétiser </div>
                                <div class="influencer-page__perk-desc"> Recevez des produits gratuits et gagnez de l'argent en les partageant avec vos followers. </div>
                            </div>
                        </div>
                        <div class="influencer-page__perk-col  influencer-page__perk-col--brands-galore">
                            <div class="influencer-page__perk-icon">
                                <span class="icon icon--stack-of-boxes">
                                    <img src="img/face.gif" style="width:64px">
                                </span>
                            </div>
                            <div class="influencer-page__perk-details">
                                <div class="influencer-page__perk-title"> Des marques à volonté </div>
                                <div class="influencer-page__perk-desc"> Découvrez des centaines de marques en un seul endroit. Pas de contrat, pas de liens d'affiliation compliqués. </div>
                            </div>
                        </div>
                        <div class="influencer-page__perk-col  influencer-page__perk-col--live-on">
                            <div class="influencer-page__perk-icon">
                                <span class="icon icon--clap-board">
                                    <img src="img/fire.gif" style="width:64px">
                                </span>
                            </div>
                            <div class="influencer-page__perk-details">
                                <div class="influencer-page__perk-title"> Mettez le feu ! </div>
                                <div class="influencer-page__perk-desc"> Créez un contenu unique (Live), pas une simple photo de plus sur vos réseaux sociaux.</div>
                            </div>
                        </div>
                        <div class="influencer-page__perk-col influencer-page__perk-col--be-famous">
                            <div class="influencer-page__perk-icon">
                                <span class="icon icon--group-of-stars">
                                    <img src="img/moon.gif" style="width:64px">
                                </span>
                            </div>
                            <div class="influencer-page__perk-details">
                                <div class="influencer-page__perk-title"> Augmenter vos Followers </div>
                                <div class="influencer-page__perk-desc"> Utilisez la notoriété de votre produit et la puissance des lives pour élargir votre base. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="merchant-page__influencers-live">
                <div class="merchant-page__container">
                    <div class="merchant-page__row">
                        <div class="merchant-page__details">
                            <h2 class="merchant-page__header">🛍 Large choix d'articles gratuits </h2>
                            <div class="merchant-page__influencers-live-description"> En tant qu'influenceur, vous avez accès à des milliers de produits gratuits ou à des prix très réduits.Vous avez la possibilité de choisir avec qui collaborer.<br> 
                                <span style="color: #E62D87">Pas de contrats -</span> Il n'y a pas de contrats déroutants pour des conditions de publication et de paiement strictes
                            </div>
                        </div>
                        <div data-1500="transform: translate3d(0px, -90px, 0px); opacity: 0" data-1600="transform: translate3d(0px, 0px, 0px); opacity: 1" class="merchant-page__image-in-section">
                            <img src="img/popcorn.gif" style="max-width: 430px;">
                        </div>
                    </div>
                </div>
            </section>
            <section class="merchant-page__works-shopify">
            <div class="merchant-page__container">
                <div class="merchant-page__row">
                    <div class="merchant-page__details merchant-page__details--odd">
                        <h2 class="merchant-page__header">💰 Soyez rémunéré </h2>
                        <div class="merchant-page__works-shopify-description"> Gagnez de l'argent chaque fois que vous vendez un produit.Tout le contenu est achetable et vous obtenez 100% de la commission.Une fois le live terminé le replay reste 7 jours et vous gagnez encore de l'argent sur chaque vente.Nous vous offrons également des bonus de contenu chaque mois !

                        </div>
                    </div>
                    <div data-2000="transform: translate3d(0px, -90px, 0px); opacity: 0" data-2200="transform: translate3d(0px, 0px, 0px); opacity: 1" class="merchant-page__image-in-section"><img src="img/clapper.gif"></div>
                </div>
            </div>
            </section>
            <section>
            <img src="img/bginflu.png" style="width: 54%; margin-left: 504px">
            </section>
            <div class="influencer-page__your-spin" style="background-color: #f05b5c";>
                <div class="influencer-page__container influencer-page__container--your-spin" style="text-align: center;">
                    <div class="influencer-page__your-spin-details">
                        <h2 class="influencer-page__heading" style="color: #fff;"> Créer de vrais partenariats avec les marques </h2>
                        <p class="influencer-page__heading" style="color: #fff;font-size: 25px"> Rejoignez dès maintenant la communauté Swipe Live et généré vos premiers revenus !</p>
                        <a href="/">
                            <button type="button" class="default-button influencer-page__try-button default-button--red default-button--extra-tall" style="margin-top: 25px;">
                                <div class="default-button__text" style="font-size: 18px"> Inscription Influenceur</div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            
{% endblock %}