{% extends 'web/base.html.twig' %}

{% block title %}Swipe Live - Le live shopping réinventé {% endblock %}

{% block metadata %}
    <meta name="title" content="Swipe Live - Le live shopping réinventé."/>
    <meta name="description" content="Avec Swipe Live, vous pouvez acheter, vendre, presenter vos produits en live, imprimer vos bons de livraisons, suivre vos colis... C'est tellement plus fun ! Essayez maintenant." />
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}/img/share.jpg" />
    <meta property="og:title" content="Swipe Live - Le live shopping réinventé."/>
    <meta property="og:description" content="Avec Swipe Live, vous pouvez acheter, vendre, presenter vos produits en live, imprimer vos bons de livraisons, suivre vos colis... C'est tellement plus fun ! Essayez maintenant."/>
{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}

<div id="__next">
  <div class="Box-sc-1g1k12l-0 hppEUM">
    <div class="Box-sc-1g1k12l-0 sc-18c23562-0 sc-b27de321-0 eRYszA fsDuOX hYQGbd">
      <div data-blockid="b7b541e0-baf0-4a70-8e26-5d1bead77e4d" class="Box-sc-1g1k12l-0 eEJxBI">
        <div class="Box-sc-1g1k12l-0 f">
          <div class="Box-sc-1g1k12l-0 Position-sc-nh2ik7-0 Position__Absolute-sc-nh2ik7-2 hCLUHF iOeHmM bYLfLH">
            <div class="Box-sc-1g1k12l-0 Position-sc-nh2ik7-0 Position__Relative-sc-nh2ik7-3 FDOrm frnne AoArJ" style="will-change: transform, opacity; transform: scale(1); opacity: 1;">
              <img alt="Image principal" sizes="100vw" src="img/bg-home.jpg" style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; object-fit: cover; color: transparent;">
            </div>
          </div>
          <div class="Box-sc-1g1k12l-0 Position-sc-nh2ik7-0 Position__Relative-sc-nh2ik7-3 jpuyvQ fKNqCz AoArJ">
            <img alt="Image principal" sizes="100vw" src="img/bg-mobile.jpg" style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
          </div>
        </div>
        <div class="Box-sc-1g1k12l-0 cvTyvG">
          <div class="Box-sc-1g1k12l-0 sc-18c23562-0 sc-178899dc-0 eRYszA fsDuOX gynQKO">
            <div id="header" >
              <img id="logo" src="img/apple-touch-icon.png" alt="Logo Swipe Live" />
            </div>
            <h1 class="Box-sc-1g1k12l-0 Text-sc-1be7qv6-0 eZYXYz">Le live shopping réinventé. <br>Dans une application.</h1>
            <p class="Box-sc-1g1k12l-0 Text-sc-1be7qv6-0 jdrwwQ dChUYm">Avec Swipe Live, vous pouvez acheter, vendre, presenter vos produits en live, imprimer vos bons de livraisons, suivre vos colis... C'est tellement plus fun ! Essayez maintenant.</p>
            <div class="flex" id="download">
              <div class="dl-btn">
                <a href="#">
                  <img class="app-ios" src="img/ios.svg" alt="Logo Apple Store">
                </a>
              </div>
              <div class="dl-btn">
                <a href="#">
                  <img class="app-android" src="img/android.svg" alt="Logo Play Store">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="flex" id="footer">
    <div id="scroll-indicator"></div>
    <div class="nav">
      <div>
        <a href="{{ path('legal') }}">Mentions légales</a>
      </div>
      <div>
        <a href="{{ path('privacy') }}">Confidentialité</a>
      </div>
      <div>
        <a href="mailto:contact@swipelive.fr">Contact</a>
      </div>
    </div>
    <div style="display: flex;">
      <div class="legals">
        <span class="full_year"></span> © Swipe Live - Réalisé avec ❤️
      </div>
      <div style="margin-left: 15px;">
        <a href="https://www.facebook.com/swipelive.fr" target="_blank">
          <svg class="social_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="margin-right: 5px;"> 
            <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
          </svg>
        </a>
        <a href="https://www.instagram.com/swipelive.fr" target="_blank">
          <svg class="social_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <script>
    document.getElementsByClassName('full_year')[0].append(new Date().getFullYear());
  </script>

{% endblock %}
