{% extends 'web/base.html.twig' %}

{% block title %} Mentions légales - Swipe Live  {% endblock %}

{% block metadata %}
  <meta name="title" content="Mentions légales - Swipe Live"/>
{% endblock %}


{% block stylesheets %}
  <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}
  <div id="root-terms">
    <div id="header-terms">
      <a href="{{ path('landing') }}">
        <img height="50" src="img/logo.png" alt="Logo Swipe Live" style="border-radius: 10px;"/>
      </a>
      </div>
      <div class="privacy">
      <h2>Mention Légales de Swipe Live</h2>

      <p>Dernière mise à jour : 14 mars 2023</p>

      <p>La plateforme Swipe Live (ci-après l' "Application") est gérée par la société SWIPE LIVE - FZCO (ci-après "Swipe Live"), située à Dubaï Silicon Oasis, DDP, Building A1, Dubaï, United Arab Emirates inscrite au gouvernement de Dubaï sous le numéro de licence : 16942. La plateforme Swipe Live est hébergée par la société Heroku (ci-après "Hébergeur"), située à San Francisco, Californie, États-Unis.</p>

      <p>Les présentes conditions de service (les "Mentions Légales") constituent un accord juridique entre (vous, l'utilisateur, l'acheteur, le vendeur, l'influenceur) et Swipe Live FZCO. (Swipe Live, nous, notre ou nos). Les présentes Conditions de service précisent les conditions dans lesquelles vous pouvez accéder et utiliser notre site Web à l'adresse swipelive.fr (le Site) et notre application de commerce électronique (l'application) (ensemble, les Services). Swipe Live est le propriétaire et l'opérateur des Services.</p>

      <p>Veuillez vous assurer de lire attentivement les présentes Conditions avant d'utiliser les Services. En utilisant les Services, vous acceptez explicitement de vous conformer et d'être lié par les Conditions et tous les termes, politiques et directives incorporés et référencés dans les présentes. Si vous n'acceptez pas toutes les dispositions des présentes Conditions, n'utilisez pas les Services.</p>

      <p>VEUILLEZ LIRE ATTENTIVEMENT LE PRÉSENT ACCORD POUR VOUS ASSURER QUE VOUS COMPRENEZ CHAQUE DISPOSITION. LE PRÉSENT CONTRAT CONTIENT UNE DISPOSITION OBLIGATOIRE D'ARBITRAGE INDIVIDUEL ET DE RENONCIATION AUX ACTIONS COLLECTIVES/TRAITEMENTS PAR JURY QUI EXIGE LE RECOURS À L'ARBITRAGE SUR UNE BASE INDIVIDUELLE POUR RÉSOUDRE LES LITIGES, PLUTÔT QU'AUX PROCÈS PAR JURY OU AUX ACTIONS COLLECTIVES.</p>

      <p>Votre utilisation du service et/ou votre inscription auprès de nous constituent votre accord avec ces conditions de service. Les présentes conditions de service peuvent être modifiées à tout moment, sans préavis. Toute modification apportée aux présentes conditions de service ne s'appliquera pas rétroactivement et ne s'appliquera pas aux litiges ou aux événements survenus avant la publication de la modification. Il vous incombe de consulter régulièrement les présentes conditions de service. Ces conditions de service s'appliquent à tous les visiteurs et à tous ceux qui accèdent à notre site ou à nos services.</p>

      <p>Ce Contrat comprend également des informations sur vos responsabilités, sur la manière dont vous et Swipe Live pouvez modifier ou mettre fin au Contrat, sur ce qu'il faut faire en cas de problème, ainsi que des informations importantes sur les assurances, la responsabilité et les droits légaux.</p>

      <p>Nous respectons la confidentialité et la sécurité de nos utilisateurs. Vous comprenez qu'en utilisant nos Services, vous donnez votre accord pour la collecte, l'utilisation et la divulgation de vos informations personnelles identifiables ainsi que de toute information non personnelle identifiable, comme décrit plus en détail dans notre Politique de Confidentialité.</p>

      <p><br></p>
      <p><strong>PARTIE 1 - RÔLES ET RESPONSABILITÉS, FRAIS ET PAIEMENT</strong></p>

      <p>Cette partie décrit le rôle et les responsabilités de chaque partie dans le cadre du présent contrat. Ceci inclut vos obligations en ce qui concerne le prix et la qualité des Articles.</p>

      <p>Cette partie définit également la manière dont les frais et les charges sont calculés, y compris les frais payables à Swipe Live, le montant que vous recevez et les circonstances dans lesquelles vous êtes responsable du coût des remboursements fournis à vos clients.</p>

      <p><br></p>
      <p><strong>1 SERVICES</strong></p>

      <p><strong>1.1 Description générale</strong></p>

      <p>1. Les Services fournissent une plateforme sur laquelle les vendeurs ("Vendeurs") peuvent diffuser en direct pour vendre leurs produits ("Articles") à des consommateurs ("Acheteurs").</p>

      <p>2. Nos Services ont plusieurs types d'utilisateurs :</p>

      <p>1. Utilisateurs et comptes enregistrés. Afin de devenir un Vendeur et/ou un Acheteur, vous devez créer un compte chez nous. Swipe Live n'a aucune obligation d'accepter tout individu ou entité en tant que titulaire d'un compte, et peut accepter ou rejeter toute inscription à sa seule et entière discrétion. Les Vendeurs, Influenceurs et les Acheteurs peuvent parfois être désignés collectivement par le terme "Utilisateurs" dans les présentes Conditions d'Utilisation.</p>

      <p>2. Pour créer un compte utilisateur (Acheteurs), vous ou votre représentant autorisé serez invité à créer un mot de passe et peut-être à fournir certaines informations supplémentaires qui permettront d'authentifier votre identité lorsque vous vous connecterez à l'avenir (collectivement, les "Références de connexion").</p>

      <p>3. Pour créer un compte Vendeur ou Influenceur (Vendeurs), vous ou votre représentant autorisé serez invité à créer un mot de passe et un nom d'utilisateur (Pseudo) ainsi que nous fournir tous documents relatifs à la société (Kbis, Pièce d'identité ou passeport...) et peut-être à fournir certaines informations supplémentaires qui permettront d'authentifier votre identité lorsque vous vous connecterez à l'avenir (collectivement, les "Références de connexion").</p>

      <p>4. Vous ne pouvez pas transférer votre compte à une autre personne sans notre autorisation écrite préalable. Lors de la création de votre compte, vous devez fournir des informations vraies, exactes, actuelles et complètes vous concernant. Chaque code d'utilisateur Swipe Live et le mot de passe correspondant ne peuvent être utilisés que par une seule personne.</p>

      <p>5. Vous êtes responsable du maintien de la confidentialité des identifiants de connexion de votre compte. Vous êtes entièrement responsable de toutes les activités associées à votre compte (y compris, mais sans s'y limiter, tous les Achats (définis ci-dessous), l'utilisation des Services, ou les communications de votre compte à Swipe Live.</p>

      <p>6. Vous acceptez de nous informer immédiatement de toute utilisation non autorisée ou suspectée d'utilisation non autorisée de votre compte ou de toute autre violation de la sécurité.</p>

      <p>3. Pour créer un compte Vendeur ou Influenceur (Vendeurs), vous ou votre représentant autorisé serez invité à créer un mot de passe et un nom d'utilisateur (Pseudo) ainsi que nous fournir tous documents relatifs à la société (Kbis, Pièce d'identité ou passeport...) et peut-être à fournir certaines informations supplémentaires qui permettront d'authentifier votre identité lorsque vous vous connecterez à l'avenir (collectivement, les "Références de connexion").</p>

      <p><br></p>
      <p><strong>1.2 Restrictions</strong></p>

      <p>1. Les Services sont disponibles uniquement pour les personnes âgées de 13 ans ou plus. Si vous avez 13 ans ou plus, mais que vous n'avez pas atteint l'âge de la majorité dans votre juridiction, vous devez examiner le présent Contrat avec votre parent ou tuteur afin de vous assurer que vous et votre parent ou tuteur le comprenez. Si vous avez moins de 13 ans, vous ne pouvez utiliser les Services qu'avec le consentement de votre parent ou tuteur.</p>

      <p>2. Nous nous réservons le droit, à notre seule et entière discrétion, de vous refuser l'accès aux Services, ou à toute partie des Services, y compris en fermant ou en déconnectant votre compte, sans préavis et sans raison.</p>

      <p><br></p>
      <p><strong>1.3 Activités promotionnelles</strong></p>

      <p>1. Dans le cadre des Services Swipe Live, Swipe Live et ses Affiliés peuvent afficher la disponibilité de vos Articles sur l'Application Swipe Live. Swipe Live et ses Affiliés peuvent également promouvoir vos Articles de diverses manières, notamment sur les canaux de médias sociaux, les sites Internet, les publicités en ligne et imprimées et les blogs de ses Affiliés.</p>

      <p>2. Vous comprenez que :</p>

      <p>1. Swipe Live n'est pas obligé d'afficher vos Spectacles ou vos Articles sur l'Application Swipe Live à tout moment ;</p>
      <p>2. Swipe Live n'est pas obligé de promouvoir vos Articles ; et</p>
      <p>3. Swipe Live peut retirer des Eléments de l'Application dans les circonstances décrites dans le présent Contrat.</p>
      <p>3. Swipe Live peut vous autoriser à utiliser des outils automatisés qui vous permettent de présenter des Promotions à vos clients par le biais de l'Application Swipe Live. Vous êtes la seule personne responsable de la réalisation et, sous réserve des limitations techniques et fonctionnelles des outils automatisés, de la définition des Promotions que vous proposez à vos clients. Swipe Live peut déduire les coûts des Promotions de votre Paiement.</p>

      <p><br></p>
      <p><strong>1.4 Rapports</strong></p>

      <p>1. Dans le cadre des Services Swipe Live, Swipe Live vous fournira les informations suivantes :</p>
      <p>1. des informations globales concernant le nombre d'Articles et les revenus (le cas échéant) vendus par vous à vos clients via l'Application Swipe Live ;</p>
      <p>2. pour les Articles, des informations concernant la Commission et les Frais payés par vous à Swipe Live ;</p>
      <p>3. Les noms et adresses de livraison des clients ; et</p>
      <p>4. les informations relatives aux remboursements effectués à vos clients lorsque le coût de ces remboursements a été entièrement ou partiellement déduit des paiements qui vous sont dus au cours de la période considérée, y compris la date de la transaction, l'Article commandé et la raison du remboursement.</p>

      <p><br></p>
      <p><strong>2 VOS ACCEPTATIONS</strong></p>

      <p>1. Vous reconnaissez et acceptez que tout matériel qui vous est fourni par Swipe Live en relation avec l'Application Swipe Live et/ou les Services est une information confidentielle et exclusive de Swipe Live. Ces documents peuvent inclure des informations sur la catégorie, les hashtags et les études de cas.</p>

      <p>2. Vous reconnaissez et acceptez que Swipe Live utilise de temps à autre divers outils pour gérer l'Application en vue d'assurer le fonctionnement efficace de l'Application pour tous les participants. Vous reconnaissez et acceptez que Swipe Live ne donne aucune garantie quant au nombre d'Articles que vous vendrez via l'Application Swipe Live ou au nombre, ou à la localisation géographique, des utilisateurs de l'Application Swipe Live qui vous verront, vous ou vos Articles, sur l'Application Swipe Live.</p>

      <p><br></p>
      <p><strong>3 CONTENU POUR L'UTILISATEUR ET LICENCES</strong></p>

      <p>1. Les Services permettent aux Utilisateurs de publier, télécharger et/ou diffuser en direct des contenus tels que des vidéos, des photos, des images, des textes, des graphiques et d'autres éléments (collectivement, le " Contenu utilisateur "). Même si vous n'êtes pas un Vendeur, vous pouvez, en tant qu'Acheteur, avoir la possibilité de publier du Contenu Utilisateur tel que des commentaires, des avis de produits ou d'autres éléments.</p>

      <p>2. Vous reconnaissez et acceptez expressément qu'une fois que vous soumettez votre Contenu utilisateur pour qu'il soit inclus dans les Services, il n'y a aucune confidentialité ou vie privée en ce qui concerne ce Contenu utilisateur, y compris, sans limitation, toute information d'identification personnelle que vous pouvez rendre disponible.</p>

      <p>3. Vous, et non Swipe Live, êtes entièrement responsable de tout le contenu utilisateur que vous téléchargez, publiez, en direct, livestream, envoyez par e-mail ou transmettez de toute autre manière via les Services.</p>

      <p>4. Swipe Live n'est pas obligé de publier tout contenu utilisateur sur nos Services, et nous nous réservons le droit de supprimer tout contenu utilisateur à tout moment, à notre seule discrétion, avec ou sans préavis.</p>

      <p>5. Vous conservez tous les droits d'auteur et autres droits de propriété intellectuelle relatifs à votre propre Contenu Utilisateur. Toutefois, vous nous accordez par la présente, ainsi qu'à nos sous-licenciés, une licence non exclusive, libre de redevances, pouvant faire l'objet d'une sous-licence, perpétuelle et irrévocable pour modifier, compiler, combiner avec d'autres contenus, copier, enregistrer, synchroniser, transmettre, traduire, formater, distribuer, afficher publiquement, exécuter publiquement, et d'utiliser ou d'exploiter de toute autre manière (y compris à des fins lucratives) votre contenu d'utilisateur et tous les droits de propriété intellectuelle et droits moraux y afférents dans tout l'univers, dans chaque cas, par ou dans tous les moyens, méthodes, médias ou technologies connus actuellement ou conçus ultérieurement, sous réserve de certaines limitations liées aux marques du vendeur (telles que définies), comme indiqué ci-dessous.</p>

      <p>6. Dans la mesure où le nom, les marques, les noms commerciaux, les marques de service et/ou les logos ("Marques du Vendeur") de tout Vendeur sont publiés ou affichés sur les Services dans le cadre de son Contenu Utilisateur (y compris, mais sans s'y limiter, en relation avec la vente de ses produits), le Vendeur accorde par la présente à Swipe Live et à ses sous-licenciés une licence non exclusive, libre de redevances, pouvant faire l'objet d'une sous-licence, perpétuelle, leur permettant de copier, transmettre, formater, distribuer, afficher publiquement, exécuter publiquement et utiliser de toute autre manière lesdites Marques du Vendeur, uniquement dans le cadre de la fourniture des Services et de l'exploitation du Site. Les Vendeurs déclarent et garantissent que les Marques du Vendeur sont la propriété du Vendeur ou que le Vendeur dispose de tous les droits nécessaires pour nous accorder la licence susmentionnée, et que les Marques du Vendeur, et leur utilisation par Swipe Live telle que permise par les présentes, ne violent pas et ne détourneront pas les droits de propriété intellectuelle d'un tiers.</p>

      <p>7. Si vous nous soumettez du Contenu Utilisateur, chacune de ces soumissions constitue une déclaration et une garantie envers Swipe Live que :</p>

      <p>1. vous avez reçu toutes les décharges nécessaires et le consentement de tous les individus qui apparaissent dans le Contenu Utilisateur, et</p>

      <p>2. ce Contenu Utilisateur est votre création originale (ou que vous avez autrement le droit de fournir le Contenu Utilisateur), que vous avez les droits nécessaires pour accorder la licence.</p>

      <p><br></p>
      <p><strong>4 ACCORD PERSONNEL</strong></p>

      <p>1. En tant que Vendeur, vous comprenez que Swipe Live souhaite obtenir le droit d'enregistrer et d'utiliser votre nom, votre image, votre photo, votre biographie, votre ressemblance, votre voix, votre performance, et/ou toute autre identification personnelle fournie par vous à Swipe Live, que ce soit dans le cadre de votre contribution au contenu utilisateur ou autrement (collectivement, le "Matériel"), sur bande vidéo, film, ou tout autre support audio et/ou visuel pour une utilisation en relation avec la promotion de Swipe Live, de la Boutique et du Vendeur ("promotion").</p>

      <p>2. A ce titre, le Vendeur accorde à Swipe Live et à ses filiales, sociétés affiliées, agents, mandataires, licenciés, successeurs et ayants droit, ainsi qu'à ceux qui agissent sous notre autorité ("Affiliés"), le droit illimité, absolu, perpétuel et mondial d'enregistrer, de reproduire, de copier, d'éditer, d'ajouter, de soustraire, de modifier, d'utiliser, réutiliser, afficher, exécuter, exposer, distribuer, transmettre, exploiter et/ou diffuser le matériel, sans limitation, dans le cadre de la promotion et en relation avec celle-ci, de quelque manière que ce soit, en tout ou en partie, seul ou en combinaison avec d'autres images ou vidéos, dans tout média connu actuellement ou conçu ultérieurement. Cette utilisation peut également inclure la publicité et la promotion de quelque manière ou média que ce soit en relation avec la promotion.</p>

      <p>3. Le Vendeur accepte que Swipe Live n'a aucune obligation d'utiliser le matériel, ou d'exercer tout droit accordé par la présente, et que le Vendeur ne peut pas interdire toute exploitation de la promotion comme prévu ci-dessus. Si Swipe Live utilise du matériel à des fins promotionnelles, le Vendeur reconnaît que son droit d'accès et d'utilisation du Magasin et des Services, tel qu'il est accordé dans le présent contrat, constitue la seule compensation et la seule contrepartie. Le Vendeur n'aura droit à aucune compensation supplémentaire en vertu des présentes, y compris, mais sans s'y limiter, dans le cas où Swipe Live commercialiserait le matériel ou la promotion.</p>

      <p>4. Par la présente, le Vendeur libère inconditionnellement et pour toujours, indemnise et dégage Swipe Live et ses Affiliés de toute responsabilité, réclamation ou action découlant de l'utilisation du matériel, ou que le Vendeur ou ses héritiers, exécuteurs, administrateurs ou ayants droit pourraient avoir ou prétendre avoir en relation avec l'utilisation du matériel tel que décrit dans les présentes, et le vendeur accepte de ne pas poursuivre ni d'engager de procédure contre l'une de ces parties pour toute réclamation ou cause d'action, qu'elle soit actuellement connue ou inconnue, y compris, mais sans s'y limiter, les actions en diffamation, l'atteinte aux droits du vendeur à la vie privée, à la publicité ou à la personnalité ou toute autre question similaire, ou fondée sur ou liée à l'exercice de l'un des droits mentionnés dans les présentes.</p>

      <p><br></p>

      <p><strong>5 CONDITIONS D'ACHAT DE L'ACHETEUR</strong></p>

      <p><strong>5.1 Acceptation de la commande</strong></p>

      <p>1. Les Acheteurs peuvent passer des commandes de produits des Vendeurs par l'intermédiaire de notre Boutique (chacun, un "Achat"). La réception d'un numéro de commande ou d'une confirmation de commande par e-mail ne constitue pas l'acceptation d'une commande par Swipe Live ou par un Vendeur, ni la confirmation d'une offre de vente. Les Vendeurs et Swipe Live se réservent le droit de refuser de servir tout Acheteur ou d'annuler une commande pour quelque raison que ce soit.</p>

      <p>2. Une vérification des informations peut être requise avant l'acceptation d'une commande.</p>

      <p>3. Les prix et la disponibilité des produits peuvent être modifiés sans préavis.</p>

      <p>4. Les acheteurs conviennent qu'en passant une commande par l'intermédiaire d'une boutique sur Swipe live, vous concluez un contrat contraignant et acceptez de payer tous les frais qui peuvent être encourus par vous ou en votre nom par l'intermédiaire du magasin, au(x) prix en vigueur au moment où ces frais sont encourus, y compris, sans limitation, tous les frais d'expédition et de manutention. En outre, vous restez responsable de toutes les taxes qui peuvent être applicables à vos achats. Votre prix total comprendra le prix du ou des produits plus toute taxe de vente applicable ; cette taxe de vente nationale et locale est basée sur l'adresse de livraison et le taux de taxe de vente en vigueur au moment où vous achetez le ou les produits. Ces taxes ne seront imposées que dans les États où les produits vendus sur Internet sont imposables.</p>

      <p>5. Toutes les ventes sont finales et nous n'acceptons pas les retours ni les remboursements. L'exception concerne les articles défectueux ou l'expédition d'un article incorrect qui peut être retourné pour remboursement.</p>

      <p><br></p>
      <p><strong>5.2 Expédition - Risque de perte</strong></p>

      <p>1. Les Vendeurs utilisent des transporteurs tiers fiables pour livrer les produits aux Acheteurs. Les Acheteurs sont responsables du coût de toutes les expéditions. Swipe Live n'est pas responsable de tout dommage (y compris, sans limitation, tout dommage accessoire ou consécutif) résultant de l'incapacité d'un Vendeur à livrer ou du retard dans la livraison des produits achetés par le biais de la Boutique.</p>

      <p>2. Le titre de propriété et le risque de perte des produits seront transférés à l'Acheteur au moment de la livraison par le Vendeur au transporteur.</p>


      <p><br></p>
      <p><strong>5.3 Erreurs</strong></p>

      <p>1. Toutes les descriptions, images, références, caractéristiques, contenu, spécifications et prix des produits décrits ou représentés sur les Services sont susceptibles d'être modifiés à tout moment sans préavis. Certains poids, mesures et autres descriptions sont approximatifs et ne sont fournis qu'à des fins de commodité. De temps en temps, il peut y avoir des informations sur les Services qui contiennent des erreurs typographiques, des inexactitudes ou des omissions qui peuvent concerner les descriptions de produits, les prix des produits, les promotions, les offres et la disponibilité. Swipe Live et le Vendeur se réservent chacun le droit de corriger toute erreur, inexactitude ou omission, et de modifier ou mettre à jour les informations ou d'annuler les commandes, si toute information sur les Services est inexacte, à tout moment et sans préavis, même après que l'Acheteur ait reçu une confirmation de commande ou une notification d'expédition.</p>

      <p>2. L'inclusion de tout produit sur les Services n'implique ni ne garantit que ces produits seront disponibles. Les Vendeurs se réservent le droit de réviser leurs offres de produits et/ou de supprimer des produits à tout moment sans préavis. Les vendeurs et Swipe Live se réservent également le droit de limiter les quantités achetées, et de réviser, suspendre ou mettre fin à un événement ou une promotion à tout moment sans préavis (y compris après qu'une commande ait été soumise ou accusée réception).</p>


      <p><br></p>
      <p><strong>5.4 Paiement</strong></p>

      <p>1. Le cas échéant, les Acheteurs doivent payer tous les prix d'achat, les taxes, les frais d'expédition et de manutention, et autres frais liés aux produits achetés de la manière spécifiée sur la Boutique ou sélectionnés par l'intermédiaire de celui-ci.</p>

      <p>1. Le paiement est dû immédiatement lors de l'achat.</p>

      <p>3. En effectuant un achat, l'Acheteur accepte de payer à Swipe Live, par l'intermédiaire de notre processeur de paiement, Adyen ("Processeur de paiement"), tous les frais aux prix alors en vigueur pour cet achat, conformément aux conditions de paiement applicables fournies par le Vendeur. Si l'acheteur dispose d'une carte ou d'une autre méthode de paiement sur son compte sur la boutique, en passant une commande, l'acheteur peut nous autoriser, par l'intermédiaire du processeur de paiement, à débiter ledit compte du montant de l'achat.</p>

      <p>4. En utilisant les Services pour effectuer des achats, vous acceptez le Contrat de services de paiement de Adyen disponible sur https://www.adyen.com/legal/terms-and-conditions.</p>

      <p>5. En utilisant les Services pour effectuer des Achats, vous acceptez le Contrat de services de paiement de Adyen disponible sur https://www.adyen.com/legal/terms-and-conditions.</p>


      <p><br></p>
      <p><strong>5.5 Participation de l'Acheteur</strong></p>

      <p>1. Swipe Live se réserve le droit, à sa seule et entière discrétion, de refuser à un Acheteur l'accès à l'Application Swipe Live pour visionner des spectacles, effectuer des achats et faire des commentaires.</p>

      <p>2. Swipe Live et le Vendeur peuvent à tout moment bloquer un Acheteur, ce qui aura pour effet d'effacer tous les commentaires de l'Acheteur et de mettre en sourdine la participation de l'Acheteur à un spectacle. L'Acheteur pourra toujours visualiser l'exposition.</p>

      <p><br></p>

      <p><strong>6 CONDITIONS DU VENDEURS & INFLUENCEURS</strong></p>

      <p><strong>6.1 Articles approuvés</strong></p>

      <p>1. Vous n'êtes autorisé à proposer un Article à la vente via l'Application Swipe Live que si cet Article, ou une catégorie d'Articles, est approuvé par Swipe Live.</p>

      <p>2. Les Articles inappropriés comprennent les personnes, les animaux de toute taille, les articles illégaux, le tabac, l'alcool, les pierres précieuses, les armes, le contenu sexuel graphique/la nudité, les espèces en voie de disparition, les substances contrôlées, les articles dangereux (tels que les armes, les explosifs ou les produits inflammables), les biens volés, les produits qui nécessitent des restrictions/limites d'âge, le bien-être sexuel, tout article acheté par vous en tant qu'Acheteur sur un autre direct de Swipe Live ou tout Article que vous n'avez pas la permission de vendre ou d'expédier.</p>

      <p>3. Swipe Live peut retirer des Articles de l'Application Swipe Live si l'Article n'est pas un article approuvé ou ne fait pas partie d'une catégorie d'Articles approuvée, est un Article inapproprié ou si Swipe Live découvre qu'un Article a été approuvé par erreur.</p>


      <p><br></p>
      <p><strong>6.2 Quantité, type et prix des Biens</strong></p>

      <p>1. Vous êtes responsable de la détermination de la quantité et du type de Articles que vous mettez à disposition via l'Application Swipe Live.</p>

      <p>2. Swipe Live peut vous fournir des informations concernant la demande prévue des clients. Vous n'êtes pas tenu d'agir en fonction de ces informations et Swipe Live ne garantit pas que la demande prévue des clients sera satisfaite. Il est de votre responsabilité d'évaluer la demande prévue des clients et de déterminer la quantité et le type d'Articles que vous souhaitez mettre à disposition via l'Application Swipe Live.</p>

      <p>3. Vous êtes responsable de la fixation du prix de vente (Prix de vente final) pour chaque Article que vous mettez à disposition via l'Application Swipe Live.</p>


      <p><br></p>
      <p><strong>6.3 Qualité des articles</strong></p>

      <p>1. Vous êtes tenu de vous assurer que les Articles sont appropriés à la vente via l'Application Swipe Live. Vous devez notamment vous assurer que vos :</p>

      <p>1. Les Articles sont emballés de manière appropriée pour la livraison (y compris toute protection supplémentaire nécessaire en fonction de la nature de l'Article) ; et</p>

      <p>2. Les Articles répondent à toutes les exigences de la loi et du présent Contrat.</p>

      <p>2. Sans limiter la portée de l'article 6.3(a), vous convenez que vous êtes seul responsable de ce qui suit :</p>

      <p>1. déterminer les critères qui s'appliquent à vos articles, tels que les critères de qualité, de poids, de taille, de couleur, de matériaux et autres qui s'appliquent à vos articles ;</p>

      <p>2. de vous assurer que vos Articles répondent à ces critères lorsqu'ils sont mis à disposition via l'Application Swipe Live ; et</p>

      <p>3. s'assurer que la description de vos Articles et les photographies de vos Articles que vous mettez à disposition sur l'Application Swipe Live sont (et continuent d'être) exactes et non trompeuses.</p>

      <p>3. Swipe Live peut retirer des Articles de l'Application Swipe Live si Swipe Live, agissant raisonnablement, détermine que : (A) la description des Articles, ou toute photographie des Articles, que vous mettez à disposition sur l'Application Swipe Live est inexacte ou trompeuse ; ou (B) les Articles contiennent ou peuvent contenir des Articles Inappropriés au sens de l'article 6.1(b).</p>

      <p>4. Le Vendeur déclare et garantit par les présentes à Swipe Live et aux Acheteurs que les produits vendus ou offerts par l'intermédiaire de nos Services (i) sont et seront fabriqués, emballés et étiquetés conformément à toutes les lois, règles et réglementations fédérales, étatiques, locales et internationales applicables, (ii) ne sont pas et ne seront pas falsifiés ou mal marqués, et (iii) seront exempts de défauts de matériaux, de fabrication et de production. Swipe Live ne fait aucune déclaration ou garantie concernant les produits. Le Vendeur déclare et garantit en outre qu'il se conformera à tout moment au présent Contrat et à toutes les lois, règles et réglementations applicables.</p>


      <p><br></p>
      <p><strong>6.4 Contenu du Vendeur</strong></p>

      <p>Le Vendeur déclare et garantit à Swipe Live que toutes les déclarations concernant les produits faites par le Vendeur ou contenues dans le Contenu Utilisateur du Vendeur ont été justifiées et sont conformes à toutes les lois, règles et réglementations applicables, y compris les directives de lois et réglementations relatives à la protection des consommateurs.</p>


      <p><br></p>
      <p><strong>6.5 Commandes - Expédition</strong></p>

      <p>Les Commandes sont passées par les Acheteurs auprès de Swipe Live. Swipe Live reçoit les informations relatives à la commande et les informations d'expédition de l'Acheteur. Swipe Live fournit aux Vendeurs des étiquettes d'expédition via un service d'envoi intégré.</p>
      <p>Le Service d'Envoi Intégré est disponible pour tous les Acheteur et en bénéficient automatiquement.</p>

      <p>Pour son Service d'Envoi Intégré, Swipe Live propose à ses Utilisateurs les services de prestataires tiers spécialisés dans le transport et la livraison, tels que décrits ci-après. Swipe Live pourra utiliser à tout moment un prestataire tiers autre que ces sociétés. Les mêmes règles que ci-dessous s'appliqueront alors immédiatement.</p>

      <p>A partir du moment où l'Utilisateur choisit l'un ou l'autre de ces Services et paye Swipe Live en conséquence, Swipe Live conserve la somme sur le portefeuille électronique de l'Utilisateur en séquestre.</p>

      <p>Deux (2) options de livraison sont disponibles :</p>

      <p>Les Bordereaux d'Envoi Intégrés en Point Relais,</p>

      <p>Les Bordereaux d'Envoi Intégrés à Domicile,</p>

      <p><br></p>

      <p>2. Le vendeur expédie toutes les commandes de la boutique directement aux acheteurs dans les cinq (5) jours ouvrés suivant la date d'achat effectué par l'acheteur.</p>

      <p>En cas de non-envoi de l'Article à l'Acheteur dans les cinq (5) jours ouvrés suivant la réception des informations sur l'envoi, Swipe Live a le droit d'ordonner à Adyen de procéder au remboursement du Prix d'Achat Total conservé sous séquestre, incluant les Frais d'Envoi, à l'Acheteur. Ce remboursement constituera le seul recours de l'Acheteur au titre de son contrat avec le Vendeur, sans préjudice des droits reconnus à l'Acheteur en tant que consommateur s'il a acheté l'Article auprès d'un Marchand ou d'un Influenceur.</p>

      <p>3. En dehors des informations limitées nécessaires pour effectuer les expéditions, toutes les informations relatives aux Acheteurs seront détenues exclusivement par Swipe Live, conformément à notre Politique de confidentialité, et le Vendeur pourra communiquer avec les Acheteurs ou vice versa sans passer par Swipe Live. Le Vendeur et Acheteur peuvent contacter Swipe Live pour toute question concernant la commande, et Swipe Live communiquera avec l'Acheteur ou le Vendeur pour fournir des réponses si nécessaire.</p>

      <p>4. Swipe Live recommande vivement aux Vendeurs de souscrire et de maintenir une assurance pour leurs envois. Swipe Live n'est pas responsable des problèmes d'expédition.</p>

      <p>5. Il est de la responsabilité du Vendeur d'imprimer, de scanner et d'emballer ses produits de manière à ce qu'ils ne soient pas endommagés. Si un colis se perd ou si une réclamation doit être déposée, le Vendeur en est responsable.</p>

      <p><br></p>
      <p><strong>6.6 Retours et remboursements</strong></p>

      <p>1. Toutes les ventes sont finales et nous n'acceptons pas les retours ou les remboursements. L'exception concerne les articles défectueux ou les articles erronés qui peuvent être retournés pour remboursement.</p>

      <p>2. Tout retour, échange ou remboursement d'un article défectueux ou d'une erreur d'expédition est à la discrétion du vendeur. Le Vendeur est tenu de couvrir tous les frais de retour ou de demander à l'Acheteur de couvrir les frais de retour. Swipe Live ne sera pas responsable de ces frais. Swipe Live facilitera le service clientèle si la demande lui en est faite. Swipe Live ne peut accepter aucun produit ; toutes les commandes doivent être retournées au Vendeur.</p>

      <p>3. Swipe Live appliquera les remboursements aux Acheteurs en votre nom. Dans le cas où vous seriez responsable des coûts de remboursement des Articles à vos clients, vous acceptez que si Swipe Live, agissant raisonnablement, détermine que vous êtes responsable du coût d'un remboursement, vous serez responsable des coûts de l'Article remboursé (ou des coûts partiels si seule une partie de l'Article a été remboursée). Swipe Live peut déduire ces coûts du paiement qui vous est dû en vertu du présent Contrat. Si vous pensez que Swipe Live a déduit le coût d'un remboursement par erreur, vous pouvez contester la déduction en contactant contact@swipelive.fr et en signalant votre problème. Si vous contestez une déduction, Swipe Live examinera la contestation de manière raisonnable, en tenant compte de toute information fournie par vous sur les circonstances liées au remboursement. Vous ne serez pas tenu responsable du coût du remboursement en question si Swipe Live estime, en agissant raisonnablement, que vous n'êtes pas en faute.</p>


      <p><br></p>
      <p><strong>6.7 Pas de contournement</strong></p>

      <p>1. Toutes les commandes de la Boutique passent par Swipe Live, et Swipe Live ne diffuse aux Utilisateurs que les informations nécessaires à l'achat, à l'expédition et à la réception des produits, et aucune information supplémentaire sur les autres Utilisateurs. Ni les Vendeurs ni les Acheteurs ne peuvent contourner les Services pour effectuer des transactions directement entre eux, et nous pouvons suspendre les comptes que nous soupçonnons, à notre seule discrétion, de contourner intentionnellement les Services.</p>


      <p><br></p>
      <p><strong>6.8 Standards de performance</strong></p>

      <p>Swipe Live accorde une grande importance à la satisfaction de ses clients. En conséquence, nous nous réservons le droit de suivre et de mesurer l'utilisation des Services et les performances des Vendeurs conformément au présent Contrat. Nous nous réservons le droit de suivre l'exécution des commandes, les plaintes des Acheteurs, les délais d'expédition, les taux d'annulation/demande de retour et les rétro-facturations, les problèmes de rupture de stock, ainsi que les problèmes de logistique et de performance connexes. Ces mesures nous aident à déterminer si un Vendeur répond à nos attentes et à celles de nos Acheteurs. Si nous déterminons, à notre seule discrétion, que le vendeur ne respecte pas nos normes de performance, qu'il est en violation du présent accord ou pour d'autres raisons, nous nous réservons le droit de suspendre ou de supprimer votre compte avec les services.</p>

      <p><br></p>
      <p><strong>6.9 Conduite des vendeurs & influenceurs</strong></p>

      <p>1. Swipe Live a pour objectif d'être une communauté sûre et productive permettant aux Acheteurs et aux Vendeurs d'interagir, de vendre et de faire du shopping d'une manière amusante et sûre. Nous souhaitons que nos vendeurs puissent s'exprimer, vendre leurs articles et interagir avec la communauté sur Swipe Live d'une manière qui permette aux vendeurs, influenceurs et à l'ensemble de la communauté de s'épanouir.</p>

      <p>2. Swipe Live prend au sérieux la sécurité et la fiabilité de sa communauté et de ses membres et toute tentative de violer ou de nuire aux autres membres de la communauté, y compris les autres vendeurs, ou à leur contenu n'est pas autorisée. Swipe Live se réserve le droit de suspendre ou de résilier tout compte, ainsi que de mettre en pause et de supprimer tout Contenu Utilisateur que nous estimons avoir un impact négatif sur la communauté, y compris nos Acheteurs et autres Vendeurs, que le comportement ait été explicitement interdit ou non.</p>

      <p>3. Votre conduite et tout contenu que vous partagez sur l'application Swipe Live ne doivent pas :</p>

      <p>- Enfreindre aucune loi, y compris toutes les lois locales, nationales et internationales applicables. Ceci s'applique à la participation à d'autres direct, à vos propres direct, à toute liste de produits et à toute autre activité sur Swipe Live.</p>
      <p>- Contenir de la nudité, ou représenter de la pornographie et/ou des actes sexuels.</p>
      <p>- Avoir pour but de tromper, d'induire intentionnellement en erreur ou d'imiter ou de nuire intentionnellement à une personne, une marque ou un produit.</p>
      <p>- Donner son aval ou faire référence à des artistes, des personnes d'intérêt ou des célébrités spécifiques de quelque manière que ce soit, à moins que vous n'ayez reçu l'aval officiel de ces personnes.</p>
      <p>- Envoyer intentionnellement des clients hors de l'application Swipe Live pour toute raison liée au commerce. Par exemple, ne dirigez pas les visiteurs de Swipe Live vers votre site Web ou vers une autre place de marché pour acheter des produits à des prix inférieurs.</p>
      <p>- Enfreindre la propriété intellectuelle (PI) d'un autre vendeur. Sauf si vous avez obtenu l'autorisation de toutes les parties concernées, ne diffusez pas de musique et n'incluez pas d'images, d'oeuvres d'art ou d'autres oeuvres audiovisuelles dans vos direct. Le contenu, la marque et le travail des autres vendeurs sur Swipe Live sont leur propriété intellectuelle et ne doivent pas être utilisés sans leur permission.</p>
      <p>- Être exploité sur le plan émotionnel, controversé, choquant ou susceptible de causer de la détresse à vos spectateurs ou aux autres vendeurs.</p>
      <p>- Être insensible aux autres membres de la communauté Swipe Live. Par exemple, n'utilisez pas de phrases discriminatoires, sexistes ou racistes.</p>
      <p>- Intimider, menacer ou endommager intentionnellement un autre membre de la communauté.</p>
      <p>- Être obscène, diffamatoire, calomnieux, abusif, harcelant, invasif ou autrement illicite.</p>
      <p>- Mettre en danger votre sécurité et votre bien-être personnels ou la sécurité et le bien-être d'autres personnes.</p>
      <p>- Représenter des images violentes ou graphiques, ou encourager, promouvoir ou évoquer des actes violents.</p>
      <p>- Ne pas démontrer ou encourager des comportements antisociaux ou nuisibles.</p>
      <p>- Faire des affirmations sur des produits, explicites ou implicites, qui ne sont pas étayées (dire qu'un produit est tout neuf alors qu'il est en réalité usagé). Vous pouvez toujours donner votre opinion personnelle, mais toute affirmation qui pourrait être considérée comme un fait doit être justifiée.</p>

      <p>Toutes les affirmations relatives aux caractéristiques de votre produit (performances, spécifications du produit (dimensions, poids, etc.) et état) doivent être exactes.</p>

      <p><br></p>
      <p><strong>7 FRAIS ET PAIEMENT</strong></p>

      <p><strong>7.1 Paiement des articles</strong></p>

      <p>1. Notre processeur de paiement collecte les paiements des Acheteurs et transmet les montants à Swipe Live, sous réserve d'un délai de traitement.</p>

      <p>2. Une fois que Swipe Live a reçu le paiement de l'Achat de la part du Processeur de Paiement, Swipe Live transmet à son tour ces montants au Vendeur lors de la confirmation de l'expédition, moins une commission due à Swipe Live, telle que décrite au point 7.2 (a).</p>

      <p>3. En s'inscrivant à la Boutique et en désignant un Compte de Paiement, le Vendeur accepte que Swipe Live dépose sur le Compte de Paiement du Vendeur les paiements reçus par Swipe Live pour la vente des produits du Vendeur, déduction faite de toute commission due à Swipe Live dans ce cadre.</p>

      <p>4. Pour recevoir un paiement, le Vendeur doit :</p>

      <p>1. Communiquer à Swipe Live les détails du Compte de Paiement nécessaires pour permettre à Swipe Live d'envoyer les paiements au Vendeur.</p>

      <p>2. Maintenir des comptes de paiement actifs afin de recevoir le paiement des ventes, et fournir des informations actuelles, complètes et exactes pour leurs comptes de paiement, et mettre à jour rapidement toutes les informations afin de maintenir ces informations de compte de paiement actuelles, complètes et exactes. En outre, les vendeurs doivent nous informer rapidement si le vendeur a connaissance d'une violation potentielle de la sécurité, telle que la divulgation ou l'utilisation non autorisée du compte de paiement du vendeur.</p>

      <p>L'Utilisateur confirme qu'il n'utilisera pas le Service de Paiement Intégré pour tout type de produits ou de services n'apparaissant pas dans les règles de la Boutique.</p>

      <p>Si Swipe Live découvre à tout moment que les informations qu'un Utilisateur a fournies à son sujet sont fausses ou ont changé sans que Swipe Live en soit informée, ou si un Utilisateur enfreint l'une quelconque de ces conditions, les Services peuvent être suspendus et/ou résiliés avec effet immédiat.</p>

      <p><br></p>
      <p><strong>7.2 Frais</strong></p>

      <p>1. En échange des Services fournis par Swipe Live, tels que décrits dans le présent Contrat, vous acceptez de payer à Swipe Live des frais de service et des frais de traitement des paiements (collectivement, les "Frais") pour chaque commande passée par vous via l'Application Swipe Live.</p>

      <p>Les achats auprès des Marchands et Influenceurs sont uniquement possibles via le Système de Paiement Intégré en cliquant le bouton "Acheter".</p>

      <p>2. Swipe Live calculera les Frais sur chaque commande passée par vous via l'Application Swipe Live de la manière suivante :</p>

      <p>Frais : 9% sur chaque vente.</p>

      <p>6% de frais de service qui nous permettent de payer les salaires de notre équipe et de garder les lumières allumées.</p>
      <p>3% de frais bancaire classique pour ce type d'opération.</p>

      <p>Commission si passage par un Influenceur : Frais + 5 % minimum du prix de l'article et modifiable par le vendeur.</p>

      <p>Remarque : la TVA est incluse dans le prix de vente fixé par le Vendeur.</p>

      <p>Les frais de transport sont réglés par l'acheteur en supplément du prix affiché.</p>

      <p>3. Services Complémentaires</p>

      <p>Vous pouvez améliorer la visibilité de vos articles et/ou des Lives et Replay sur Swipe Live en optant pour les services suivants :</p>

      <p>1. Articles Boostés</p>

      <p>La fonction "Article Boost" dure :</p>

      <p>- 7 jours consécutifs pour 2,95€<br>- 3 jours consécutifs pour 1,95€.</p>

      <p>La fonction "Live Boost" dure :</p>

      <p>Pendant le Live et coùte 2,95€.</p>
      <p>La fonction "Replay Boost" dure :</p>

      <p>- 7 jours consécutifs pour 4,95€<br>- 3 jours consécutifs pour 2,95€.</p>

      <p>De plus, si votre compte est bloqué en raison d'une violation de nos Mention Légales, tous les Articles, Live et Replay disparaîtront du compte et vous ne serez pas en mesure d'obtenir un remboursement.</p>

      <p><br></p>
      <p><strong>7.3 Versement des paiement des articles</strong></p>

      <p>1. Swipe Live vous remettra le total des Revenus des Articles gagnés, moins : (i) les Frais ; et (ii) le coût de tout remboursement effectué à l'Acheteur en votre nom (ce montant final remis étant le Paiement des Articles).</p>

      <p>2. Le paiement de l'article sera remis automatiquement au vendeur après réception de la confirmation de réception du colis par l'acheteur ou 24h après que le colis soit "Livré".</p>

      <p><br></p>
      <p><strong>7.4 Taxes de vente</strong></p>

      <p>1. En ce qui concerne les Articles que vous vendez par l'intermédiaire de l'Application Swipe Live :</p>

      <p>1. vous êtes le "détaillant", le "fournisseur" ou le "vendeur" de tous les Articles en ce qui concerne les taxes de vente.</p>

      <p>2. vous êtes seul responsable de la détermination de toutes les taxes applicables et de l'identification et de l'information de Swipe Live du montant approprié de la taxe que Swipe Live doit collecter en votre nom pour les Articles que vous vendez via l'Application Swipe Live.</p>

      <p>3. Swipe Live est responsable de la collecte en votre nom ; et</p>

      <p>4. vous êtes responsable du versement de toutes les taxes applicables.</p>

      <p><br></p>

      <p><strong>PARTIE 2 - PROPRIÉTÉ DU MATÉRIEL, CONFIDENTIALITÉ ET VIE PRIVÉE</strong></p>

      <p>Cette partie décrit les droits que vous et Swipe Live avez en relation avec les matériels mis à disposition en vertu du présent Contrat, y compris l'Application Swipe Live qui vous est fournie. Elle décrit également les mesures que vous et Swipe Live prendrez pour protéger les informations confidentielles et vos obligations en matière de Données Personnelles.</p>

      <p><br></p>
      <p><strong>8 PROPRIÉTÉ INTELLECTUELLE</strong></p>

      <p>1. Les Services sont protégés par le droit d'auteur, le droit des marques et d'autres lois de votre pays. Sauf disposition expresse du présent Contrat, Swipe Live et ses concédants de licence détiennent exclusivement tous les droits, titres et intérêts relatifs aux Services, y compris tous les droits de propriété intellectuelle associés. Vous ne supprimerez pas, n'altérerez pas et ne masquerez pas les avis de droits d'auteur, de marques de commerce, de marques de service ou d'autres droits de propriété incorporés dans les Services ou les accompagnant.</p>

      <p>2. Les Services contiennent des éléments, tels que des logiciels, des textes, des graphiques, des images, et d'autres éléments fournis par ou au nom de Swipe Live (collectivement dénommés le "Contenu"). Le Contenu peut nous appartenir ou appartenir à des tiers. Le Contenu est protégé par les lois américaines et étrangères. L'utilisation non autorisée du Contenu peut constituer une violation des droits d'auteur, des marques commerciales et d'autres lois.</p>

      <p>3. Nous et nos concédants de licence conservons tous les droits, titres et intérêts, y compris tous les droits de propriété intellectuelle, relatifs au contenu. Vous devez conserver tous les droits d'auteur et autres avis de propriété contenus dans le contenu original. Vous n'êtes pas autorisé à vendre, transférer, céder, accorder une licence, sous-licencier ou modifier le contenu, ni à le reproduire, l'afficher, le présenter en public, en faire une version dérivée, le distribuer ou l'utiliser de quelque manière que ce soit à des fins publiques ou commerciales.</p>

      <p>4. Les marques commerciales, les marques de service et les logos de Swipe Live (les "Marques Swipe Live") utilisés et affichés sur les Services sont des marques commerciales ou des marques de service déposées ou non déposées de Swipe Live. Les autres noms de sociétés, de produits et de services figurant sur les Services peuvent être des marques de commerce ou des marques de service appartenant à des tiers (les "Marques de commerce de tiers" et, collectivement avec les Marques de commerce Swipe Live, les "Marques de commerce"). Rien dans les Services ne doit être interprété comme accordant, par implication, estoppel ou autre, une licence ou un droit d'utilisation des Marques déposées, sans notre autorisation écrite préalable spécifique à chaque utilisation. L'utilisation des marques commerciales dans le cadre d'un lien vers ou à partir de tout site est interdite, sauf si l'établissement d'un tel lien est approuvé au préalable par écrit par nous. Tout le contenu généré par l'utilisation des Marques Swipe Live est à notre bénéfice.</p>

      <p>5. Les éléments des Services sont protégés par les lois sur l'habillage commercial, les marques de commerce, la concurrence déloyale et d'autres lois étatiques et fédérales et ne peuvent être copiés ou imités en tout ou en partie, par quelque moyen que ce soit, y compris, mais sans s'y limiter, l'utilisation de cadres ou de miroirs. Aucune partie du contenu ne peut être retransmise sans notre consentement exprès et écrit pour chaque cas.</p>

      <p><br></p>
      <p><strong>8.3 Retour d'expérience</strong></p>

      <p>1. En tant qu'Utilisateur enregistré de nos Services, vous pouvez choisir de nous fournir des réactions, des commentaires et des suggestions concernant nos Services ("Feedback"). Vous acceptez que Swipe Live soit libre d'utiliser, de reproduire, de divulguer et d'exploiter de quelque manière que ce soit tout ou partie de ce feedback sans compensation ou attribution à votre égard.</p>

      <p><br></p>
      <p><strong>8.4 Droits et restrictions d'utilisation</strong></p>

      <p>1. Sous réserve des termes et conditions du présent Contrat, Swipe Live vous accorde une licence limitée, non transférable, non exclusive, vous permettant d'accéder et d'utiliser les Services uniquement pour vos besoins personnels. Swipe Live peut mettre fin à cette licence à tout moment et pour n'importe quelle raison. En outre, lorsque vous utilisez ou accédez aux Services, vous acceptez que :</p>

      <p>- Vous ne téléchargerez pas, n'afficherez pas, n'enverrez pas de courrier électronique, ne transmettrez pas et ne mettrez pas à disposition de quelque manière que ce soit tout Contenu Utilisateur qui : enfreint tout droit d'auteur, toute marque déposée, tout droit de publicité ou tout autre droit de propriété d'une personne ou d'une entité ; ou qui est diffamatoire, calomnieux, indécent, obscène, pornographique, sexuellement explicite, qui porte atteinte à la vie privée d'autrui, qui encourage la violence ou les activités illégales, ou qui contient des propos haineux (c'est-à-dire, discours qui attaque ou rabaisse un groupe en raison de sa race ou de son origine ethnique, de sa religion, de son handicap, de son sexe, de son âge, de son statut d'ancien combattant et/ou de son orientation sexuelle/identité de genre) ; ou divulgue des informations sensibles sur une autre personne, y compris son adresse électronique, son adresse postale, son numéro de téléphone, ses informations de carte de crédit ou toute autre information similaire.</p>

      <p>- Vous vous conformerez à toutes les lois applicables dans votre utilisation des services et n'utiliserez pas les services à des fins illégales ;</p>

      <p>- Vous n'accéderez pas aux Services et ne les utiliserez pas pour recueillir des études de marché pour une entreprise concurrente ;</p>

      <p>- Vous n'usurperez pas l'identité d'une personne ou d'une entité, ne déclarerez pas faussement ou ne représenterez pas de manière inexacte votre affiliation avec une personne ou une entité ;</p>

      <p>- Vous n'interférerez pas ou ne tenterez pas d'interrompre le bon fonctionnement des Services par l'utilisation d'un virus, d'un dispositif, d'une collecte d'informations ou d'un mécanisme de transmission, d'un logiciel ou d'une routine, ni n'accéderez ou ne tenterez d'accéder à un Contenu, des données, des fichiers ou des mots de passe liés aux Services par piratage, extraction de mots de passe ou de données, ou par tout autre moyen ;</p>

      <p>- Vous ne décompilerez pas, ne ferez pas d'ingénierie inverse et ne désassemblerez pas les logiciels ou autres produits ou processus accessibles par le biais des services ;</p>

      <p>- Vous ne couvrirez pas, n'obscurcirez pas, ne bloquerez pas et n'interférerez pas de quelque manière que ce soit avec les publicités et/ou les dispositifs de sécurité des services ;</p>

      <p>- Vous n'utiliserez aucun robot, araignée, grattoir ou autre moyen automatisé pour accéder aux services à quelque fin que ce soit sans notre autorisation écrite expresse ;</p>

      <p>Vous ne prendrez aucune mesure qui impose ou pourrait imposer (à notre seule discrétion) une charge déraisonnable ou disproportionnée sur notre infrastructure technique :</p>

      <p>- Vous ne permettrez à personne d'accéder à votre compte et de l'utiliser ;</p>
      <p>- Vous ne revendrez pas, ne distribuerez pas, ne concéderez pas de sous-licence pour les Services et ne les utiliserez pas au profit d'une personne autre que vous ou votre entreprise ;</p>
      <p>- Vous ne supprimerez ni ne modifierez les marquages de propriété ou les légendes restrictives placés sur les Services ; et</p>
      <p>- Vous n'introduirez pas, ne publierez pas ou ne téléchargerez pas sur les services de code nuisible. Tel qu'il est utilisé dans les présentes, le " code nuisible " désigne le code informatique, les programmes ou les dispositifs de programmation qui sont intentionnellement conçus pour perturber, modifier, accéder, supprimer, endommager, désactiver, mettre hors service, nuire ou entraver de quelque manière que ce soit, y compris par des perturbations ou des distorsions esthétiques, le fonctionnement des services ou de tout autre logiciel, micrologiciel, matériel, système informatique ou réseau associé (y compris, sans s'y limiter, les " chevaux de Troie ", les " virus ", les " wagons ", les " cartes de crédit ", les " cartes de crédit " et les " cartes de crédit "), "les virus, les vers, les bombes à retardement, les verrous temporels, les dispositifs, les pièges, les codes d'accès ou les dispositifs de type " drop dead " ou " trap door ") ou toute autre procédure, routine ou mécanisme nuisible, malveillant ou caché qui pourrait entraîner l'arrêt du fonctionnement des services ou endommager ou corrompre des données, des supports de stockage, des programmes, des équipements ou des communications, ou interférer de toute autre manière avec le fonctionnement des services.</p>
      <p>Swipe Live se réserve le droit, à tout moment, de modifier, suspendre ou interrompre les Services ou toute partie de ceux-ci avec ou sans préavis. Vous acceptez que nous ne soyons pas responsables envers vous ou envers un tiers pour toute modification, suspension ou interruption des Services ou de toute partie de ceux-ci. Vous êtes libre de cesser d'utiliser les services à tout moment.</p>
      </p>

      <p><br></p>
      <p><strong>PARTIE 3 - RÉPARTITION DES RISQUES</strong></p>

      <p>Cette partie décrit les déclarations que vous et Swipe Live faites l'un envers l'autre, et définit les indemnités fournies par chaque partie et la responsabilité de chaque partie.</p>

      <p><br></p>
      <p><strong>9 LOI SUR LE DROIT D'AUTEUR NUMÉRIQUE</strong></p>

      <p>1. Swipe Live respecte les droits de propriété intellectuelle d'autrui et tente de se conformer à toutes les lois en vigueur. Nous examinerons toutes les réclamations de violation des droits d'auteur reçues et retirerons tout Contenu ou Contenu Utilisateur considéré comme ayant été affiché ou distribué en violation de ces lois.</p>

      <p>2. La réception de toute Notification de violation présumée qui peut être donnée :</p>

      <p>Responsable des droits d'auteur</p>

      <p>SWIPE LIVE - FZCO</p>

      <p>Dubaï Silicone Oasis, DDP, Building A1</p>

      <p>00000, Dubaï</p>

      <p>United Arab Emirates</p>

      <p>Courriel : contact@swipelive.fr</p>

      <p>1. Si vous pensez que votre travail a été copié sur les Services d'une manière qui constitue une violation du droit d'auteur, veuillez fournir à notre agent une notification conforme aux exigences de la Loi, comprenant (i) une description du travail protégé par le droit d'auteur qui a été violé et l'emplacement spécifique sur les Services où ce travail se trouve ; (ii) une description de l'emplacement de l'original ou d'une copie autorisée du travail protégé par le droit d'auteur ; (iii) votre adresse, votre numéro de téléphone et votre adresse électronique ; (iv) une déclaration de votre part indiquant que vous pensez de bonne foi que l'utilisation contestée n'est pas autorisée par le titulaire du droit d'auteur, son agent ou la loi ; (v) une déclaration de votre part, faite sous peine de parjure, indiquant que les informations contenues dans votre notification sont exactes et que vous êtes le titulaire du droit d'auteur ou autorisé à agir au nom du titulaire du droit d'auteur ; et (vi) une signature électronique ou physique du titulaire du droit d'auteur ou de la personne autorisée à agir au nom du titulaire du droit d'auteur.</p>

      <p><br></p>
      <p><strong>10 COMMUNICATION ET AVIS</strong></p>

      <p>Swipe Live est un fournisseur de "e-commerce de services informatiques interactifs" tels que définis dans le trade license numéro 16942 du gouvernement de Dubaï , et en tant que tel, notre responsabilité en matière de diffamation, de calomnie, de dénigrement de produits, et autres réclamations découlant de tout Contenu. Nous ne sommes pas responsables du contenu de l'utilisateur. Nous ne garantissons pas l'exactitude du contenu de l'utilisateur, nous n'exerçons aucun contrôle éditorial sur le contenu de l'utilisateur, et nous n'assumons aucune obligation légale de contrôle éditorial du contenu de l'utilisateur ou de responsabilité en rapport avec le contenu de l'utilisateur, y compris toute responsabilité ou obligation d'enquêter ou de vérifier l'exactitude de tout contenu de l'utilisateur.</p>

      <p><br></p>
      <p><strong>11 LIMITATION DE LA RESPONSABILITÉ</strong></p>

      <p>1. Les services, ainsi que tout le contenu et les autres informations accessibles à partir des services ou par l'intermédiaire de ceux-ci, sont fournis par Swipe Live sur une base "telle quelle" et "telle que disponible", sans garantie d'aucune sorte, expresse ou implicite. Swipe Live décline expressément toute garantie, expresse ou implicite, concernant les services, le contenu et tous les produits offerts par les vendeurs par le biais des services, y compris, mais sans s'y limiter, les garanties de qualité marchande, d'adéquation à un usage particulier, d'absence de contrefaçon, de sécurité ou d'exactitude, et toute garantie découlant de la pratique commerciale, de l'exécution ou de l'usage du commerce. sans limiter la généralité de ce qui précède, Swipe Live ne garantit pas que : (1) les informations sur les services sont correctes, précises ou fiables ; (2) les fonctions contenues dans ces services seront ininterrompues ou sans erreur ; ou (3) les défauts seront corrigés, ou que les services ou le serveur qui les rend disponibles sont exempts de virus ou d'autres composants nuisibles.</p>

      <p>2. Vous comprenez que Swipe Live ne fabrique pas, ne stocke pas et n'inspecte pas les produits vendus ou proposés au placement par le biais de nos services. Nous fournissons le lieu ; les produits sont fabriqués, listés, vendus et proposés directement par les vendeurs et, par conséquent, Swipe Live ne peut pas et ne fait pas de garanties quant à leur qualité, leur sécurité ou même leur légalité. En tant qu'acheteur, toute réclamation légale liée à un produit que vous achetez par le biais des Services doit être portée directement contre le vendeur du produit. Par la présente, vous libérez Swipe Live de toute réclamation liée aux produits fournis par l'intermédiaire de nos Services, y compris pour les articles défectueux, les fausses déclarations des vendeurs, ou les articles ayant causé des blessures physiques (réclamations liées à la responsabilité du produit).</p>

      <p>3. En ce qui concerne toute garantie, tout contrat ou toute réclamation délictuelle de droit commun : (i) nous ne serons pas responsables des dommages accessoires ou indirects, des pertes de profits, ou des dommages résultant de la perte de données ou de l'interruption d'activité résultant de l'utilisation ou de l'impossibilité d'accéder et d'utiliser les services, les produits ou le contenu, même si nous avons été informés de la possibilité de tels dommages ; et (ii) tout dommage direct, non attribuable à des blessures corporelles, que vous pourriez subir suite à votre utilisation des Services ou du contenu sera limité à cent euros (100€). Swipe Live ne sera pas responsable des dommages directs que vous pourriez subir du fait de l'achat ou de l'utilisation de tout produit par vous-même ou par un tiers.</p>

      <p>4. Certaines juridictions, ne permettent pas l'exclusion de certaines garanties ou la limitation de certaines responsabilités. par conséquent, certaines des limitations ci-dessus dans cette section peuvent ne pas s'appliquer à vous.</p>

      <p>5. Rien dans cet accord n'affectera les droits statutaires non renonçables qui s'appliquent à vous.</p>

      <p><br></p>
      <p><strong>12 INDEMNISATION</strong></p>

      <p>1. Les Vendeurs s'engagent à indemniser, défendre et dégager de toute responsabilité Swipe Live, ses affiliés, ainsi que ses et leurs dirigeants, directeurs, partenaires, employés et agents respectifs, contre toute perte, pénalité civile, responsabilité, dommage, jugement, coût et dépense, y compris les honoraires raisonnables d'avocat et les frais de justice, encourus en relation avec toute procédure, réclamation ou action découlant de ou liée à (i) tout défaut ou blessure présumés des produits du Vendeur ou toute autre réclamation relative à la responsabilité des produits ; (ii) le manquement présumé du Vendeur ou des produits du Vendeur à se conformer au présent contrat ou à toute loi, réglementation, garantie ou déclaration du Vendeur ; et (iii) la vente et l'expédition des produits du Vendeur.</p>

      <p><br></p>
      <p><strong>13 RESPECT DES LOIS APPLICABLES</strong></p>

      <p>1. Les Services sont basés à Dubaï et peuvent être utilisés à l'international. Nous ne prétendons pas que les Services sont accessibles, que le Contenu peut être téléchargé ou visualisé, que son utilisation est appropriée ou que des achats peuvent être effectués en dehors de votre juridiction. Que ce soit à l'intérieur ou à l'extérieur de votre juridiction, vous êtes seul responsable de la conformité aux lois de votre juridiction spécifique.</p>

      <p><br></p>
      <p><strong>14 DROIT APPLICABLE</strong></p>

      <p>1. Le présent contrat et toute action s'y rapportant seront régis par les lois du gouvernement de Dubaï, sans tenir compte des dispositions relatives aux conflits de lois.</p>

      <p>2. Vous acceptez que : (i) les Services seront considérés comme étant uniquement basés à Dubaï ; et (ii) ces Services seront considérés comme une application et un service passif qui ne donne pas lieu à une compétence personnelle à notre égard, spécifique ou générale, dans des juridictions autres que Dubaï.</p>

      <p><br></p>
      <p><strong>15 L'ARBITRAGE OBLIGATOIRE</strong></p>

      <p>En cas de litige survenant entre vous et Swipe Live dans le cadre du présent Contrat ou des Services (à l'exception d'un litige entre un Acheteur et un Vendeur) (chacun, un "Litige"), vous ou Swipe Live pouvez choisir de résoudre définitivement et exclusivement le litige par un arbitrage contraignant régi par les autorité compétentes de Dubaï. Tout choix d'arbitrage, à tout moment, sera définitif et contraignant pour l'autre partie. SI VOUS OU SWIPE LIVE CHOISISSEZ L'ARBITRAGE, AUCUNE DES PARTIES N'AURA LE DROIT DE PLAIDER CETTE RÉCLAMATION DEVANT UN TRIBUNAL OU D'AVOIR UN PROCÈS AVEC JURY, SAUF SI L'UNE DES PARTIES PEUT PORTER SA RÉCLAMATION DEVANT LE TRIBUNAL LOCAL DES PETITES CRÉANCES, SI CELA EST AUTORISÉ PAR LES RÈGLES DE CE TRIBUNAL DES PETITES CRÉANCES ET SI CELA RELÈVE DE LA JURIDICTION DE CE TRIBUNAL. L'ARBITRAGE EST DIFFÉRENT DU TRIBUNAL, ET LES DROITS DE DÉCOUVERTE ET D'APPEL PEUVENT ÉGALEMENT ÊTRE LIMITÉS EN ARBITRAGE. </p>
      
      <p>Tous les litiges seront résolus devant un arbitre neutre sélectionné conjointement par vous et Swipe Live, dont la décision sera définitive, à l'exception d'un droit d'appel limité. L'arbitrage sera entamé et mené par le Centre de Conciliation et d'Arbitrage Commercial International de Dubaï conformément à ses Règles et Procédures d'Arbitrage complètes alors en vigueur et conformément aux Procédures accélérées de ces règles, ou, le cas échéant, conformément aux Règles et Procédures d'Arbitrage simplifiées du Centre de Conciliation et d'Arbitrage Commercial International de Dubaï. Toutes les règles et procédures applicables du Centre de Conciliation et d'Arbitrage Commercial International de Dubaï sont disponibles sur le site Internet du centre : http://www.diac.ae/idias/rules/ . Chacun d'entre vous et Swipe Live sera responsable du paiement des frais de dossier, des frais administratifs et des frais de l'arbitre conformément aux règles du Centre d'Arbitrage International du Dubaï.. Le jugement sur la sentence de l'arbitre peut être inscrit dans tout tribunal ayant juridiction. Cette clause n'empêche pas les parties de demander des recours provisoires à l'aide de l'arbitrage auprès d'un tribunal de la juridiction appropriée. L'arbitrage peut être mené en personne, par soumission de documents, par téléphone ou en ligne. S'il est mené en personne, l'arbitrage aura lieu à Dubaï. Les parties peuvent intenter une action en justice pour contraindre l'arbitrage, pour suspendre une procédure en attendant l'arbitrage, ou pour confirmer, modifier, annuler ou rendre un jugement sur la sentence rendue par l'arbitre. Les parties coopéreront de bonne foi à l'échange volontaire et informel de tous les documents non privilégiés et autres informations (y compris les informations stockées électroniquement) relatifs au différend immédiatement après le début de l'arbitrage. Comme indiqué dans la section 20 ci-dessous, rien dans le présent accord ne nous empêchera de demander une injonction auprès de tout tribunal compétent si nécessaire pour protéger nos intérêts exclusifs.</p>

      <p><br></p>
      <p><strong>16 RENONCIATION AUX RECOURS COLLECTIFS</strong></p>

      <p>1. Vous acceptez que tout arbitrage ou procédure soit limité au litige entre vous et nous, individuellement. Dans toute la mesure permise par la loi, (i) aucun arbitrage ou procédure ne sera joint à un autre ; (ii) il n'y a aucun droit ou autorité pour qu'un litige soit arbitré ou résolu sur la base d'un recours collectif ou pour utiliser des procédures de recours collectif ; et (iii) il n'y a aucun droit ou autorité pour qu'un litige soit apporté dans une prétendue capacité de représentation au nom du grand public ou de toute autre personne. Vous convenez que vous pouvez présenter des réclamations à notre encontre uniquement à titre individuel et non en tant que plaignant ou membre d'un groupe dans le cadre d'une prétendue procédure collective ou représentative.</p>

      <p><br></p>
      <p><strong>17 REDRESSEMENT ÉQUITABLE</strong></p>

      <p>1. Vous reconnaissez et acceptez qu'en cas de violation ou de menace de violation par vous de nos droits de propriété intellectuelle et de nos informations confidentielles et exclusives, nous subirons un préjudice irréparable et aurons donc droit à une mesure injonctive pour faire respecter le présent contrat. Nous pouvons, sans renoncer à tout autre recours en vertu du présent contrat, demander à tout tribunal compétent toute mesure provisoire, équitable ou injonctive nécessaire pour protéger nos droits et nos biens en attendant l'issue de l'arbitrage mentionné ci-dessus. Par la présente, vous consentez irrévocablement et inconditionnellement à la compétence personnelle et matérielle des tribunaux, aux fins d'une telle action de notre part.</p>

      <p><br></p>
      <p><strong>18 LITIGES ENTRE ET PARMI LES UTILISATEURS.</strong></p>

      <p>1.En cas de litige entre ou parmi les Utilisateurs des Services, vous acceptez d'initier le litige directement avec Swipe Live. Swipe Live prendra des mesures de médiation pour régler le litige entre les Utilisateurs, à sa seule et raisonnable discrétion. Swipe Live tiendra chaque partie informée de l'état d'avancement des litiges en envoyant des messages aux parties par le biais de la messagerie intégrée. Nonobstant les efforts déployés de bonne foi par Swipe Live, certains litiges peuvent ne pas être résolus de manière satisfaisante pour toutes les parties. La décision de Swipe Live concernant tous les litiges est définitive. Dans le cas où vous auriez un litige avec un ou plusieurs autres Utilisateurs, vous dégagez Swipe Live, ses dirigeants, ses employés, ses agents et ses successeurs de toute réclamation, demande et tout dommage de toute nature, connu ou inconnu, suspecté ou insoupçonné, divulgué ou non, découlant de ou lié de quelque manière que ce soit à ces litiges et/ou à nos Services.</p>

      <p><br></p>
      <p><strong>19 SITES EXTERNES</strong></p>

      <p>1.Les Services peuvent contenir des liens vers des sites Web de tiers ("Sites externes"). Ces liens sont fournis uniquement pour votre commodité et ne constituent pas une approbation de notre part du contenu de ces sites externes. Le contenu de ces sites externes est développé et fourni par des tiers. Vous devez contacter l'administrateur du site ou le webmaster de ces sites externes si vous avez des inquiétudes concernant ces liens ou le contenu de ces sites externes. Nous ne sommes pas responsables du contenu des sites externes liés et nous ne faisons aucune déclaration concernant le contenu ou l'exactitude des éléments figurant sur ces sites externes. Vous devez prendre des précautions lorsque vous téléchargez des fichiers à partir de tous les sites Web afin de protéger votre ordinateur contre les virus et autres programmes destructeurs. Si vous décidez d'accéder à des sites externes liés, vous le faites à vos propres risques.</p>

      <p><br></p>
      <p><strong>PARTIE 4 - DISPOSITIONS LÉGALES GÉNÉRALES</strong></p>

      <p>Cette partie énonce les dispositions standard supplémentaires qui décrivent le fonctionnement de l'accord, les lois qui s'appliquent à cet accord, ainsi que les termes définis qui ont une signification particulière. Il est important de noter que cette partie décrit également les mesures que Swipe Live doit prendre pour mettre à jour le présent Contrat, ainsi que vos droits si vous n'êtes pas d'accord avec une mise à jour proposée.</p>

      <p><br></p>
      <p><strong>20 DISPOSITIONS GÉNÉRALES</strong></p>

      <p><strong>20.1 Modifications de l'accord</strong></p>

      <p>1. Les présentes conditions de service entrent en vigueur à la date de la dernière mise à jour indiquée en haut. Nous pouvons modifier ces conditions de service de temps à autre. Toute modification de ce type sera publiée sur le Site.</p>

      <p>2. En accédant aux services après que nous ayons apporté de telles modifications aux présentes conditions de service, vous êtes réputé avoir accepté ces modifications. Veuillez vous reporter régulièrement aux présentes conditions de service.</p>

      <p><br></p>
      <p><strong>20.2 Téléchargement de l'application</strong></p>

      <p>1. Nous mettons l'application à disposition par le biais de l'Apple App Store ou du Play Store. Les conditions suivantes s'appliquent lorsque vous téléchargez l'application depuis l'App Store d'Apple ou le Play Store de Google. Ces conditions s'ajoutent à toutes les autres conditions contenues dans le contrat.</p>

      <p>2. Vous reconnaissez et acceptez que (i) le Contrat est conclu entre vous et Swipe Live uniquement, et non Apple ou Google ; et (ii) Swipe Live, et non Apple ou Google, est seul responsable du magasin et de son contenu. Votre utilisation de l'application doit être conforme aux Conditions d'Utilisation de l'App Store ou du Play Store.</p>

      <p>3. Vous reconnaissez qu'Apple ou Google n'a aucune obligation, quelle qu'elle soit, de fournir des services de maintenance et d'assistance en ce qui concerne l'application.</p>

      <p>4. En cas de non-conformité de l'un des éléments du magasin à toute garantie applicable, vous pouvez en informer Apple ou Google, et Apple ou Google vous remboursera le prix d'achat, le cas échéant, de l'application et, dans la mesure maximale autorisée par la loi applicable, Apple ou Google n'auront aucune autre obligation de garantie que ce soit en ce qui concerne l'application. Entre Swipe Live, Apple ou Google, toute autre réclamation, perte, responsabilité, dommage, coût ou dépense attribuable à un défaut de conformité à une garantie sera de la seule responsabilité de Swipe Live.</p>

      <p>5. Vous reconnaissez que, dans le cas d'une réclamation d'un tiers selon laquelle l'application ou votre possession et utilisation de l'application enfreint les droits de propriété intellectuelle de ce tiers, entre Swipe Live, Apple, Swipe Live, Google, sera seul responsable de l'enquête, de la défense, du règlement et de l'acquittement d'une telle réclamation pour violation de propriété intellectuelle dans la mesure requise par le Contrat.</p>

      <p>6. Vous reconnaissez et acceptez qu'Apple ou Google, et les filiales d'Apple ou Google, sont des tiers bénéficiaires du Contrat en ce qui concerne votre licence de l'Application, et que, dès votre acceptation des termes et conditions du Contrat, Apple ou Google aura le droit (et sera réputé avoir accepté le droit) d'appliquer le Contrat en ce qui concerne votre licence de l'application contre vous en tant que tiers bénéficiaire.</p>

      <p><br></p>
      <p><strong>20.3 Dispositions générales</strong></p>

      <p>1. Sauf convention expresse dans le présent accord, chaque partie est responsable de ses propres dépenses et coûts liés à l'exécution du présent accord.</p>

      <p>2. Chaque partie est uniquement responsable de ses employés et contractants utilisés dans le cadre du présent accord.</p>

      <p>3. Aucun manquement ou retard de la part de Swipe Live dans l'exercice d'un droit ou d'un recours en vertu du Contrat n'aura pour effet, ou ne sera considéré comme ayant pour effet, de renoncer à un tel droit ou recours.</p>

      <p>4. Si une disposition du Contrat est jugée invalide ou inapplicable par un tribunal de la juridiction compétente, cette disposition sera modifiée et le reste du Contrat restera en vigueur et de plein effet.</p>

      <p>5. Le Contrat constitue l'accord final et complet entre vous et Swipe Live concernant l'objet des présentes, et remplace toute communication, représentation ou accord antérieur ou contemporain entre nous, qu'il soit oral ou écrit, y compris, sans limitation, tout accord de confidentialité ou de non-divulgation.</p>

      <p>6. Les titres ne sont utilisés que pour des raisons de commodité et ne doivent pas être utilisés pour limiter ou interpréter la signification de l'une quelconque des dispositions du Contrat.</p>

      <p>7. Les conditions qui, de par leur nature, sont destinées à survivre indéfiniment, survivront et s'appliqueront à vous même si vous avez annulé votre compte ou cessé d'utiliser les services, y compris, sans s'y limiter, les limitations de responsabilité, l'indemnisation et les dispositions relatives au règlement des litiges.</p>

      <p><br></p>

      <p><br></p>

      <p><br></p>


    </div><br><br>
  </div>


{% endblock %}