{% extends 'web/base.html.twig' %}

{% block title %} Politique de confidentialité {% endblock %}

{% block metadata %}{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}
    <div id="root-terms">
      <div id="header-terms">
        <a href="{{ path('landing') }}">
          <img height="50" src="img/logo.png" alt="Logo Swipe Live"/>
        </a>
      </div>
      
      <div class="privacy">
        <h2>Engagement de Confidentialité</h2>
        
        <p>Le respect de votre vie privée est important pour nous. Les règles de la politique de confidentialité de Swipe Live (la « politique de confidentialité ») sont conçues pour vous aider à comprendre notre procédure de collecte de données, la nature des données recueillies, ainsi que les raisons pour lesquelles nous collectons, utilisons, et sauvegardons les informations que vous nous fournissez et dans quelles circonstances limitées Swipe Live est susceptible de partager ces informations avec d’autres parties commerciales. Notre politique de confidentialité englobe notre site internet (<a href="https://swipelive.fr">www.swipelive.fr</a> (le « site ») et notre application pour les appareils portables (l’« Application »).
        </p>
        <p>
          Aux fins de la présente politique de confidentialité, les termes « Swipe Live », « nous », « notre », « nos » et toutes les autres références similaires désignent MYMILLENIA, une SAS enregistrée au RCS de Lyon, et les termes « vous », « votre » et toutes les autres références similaires désignent tout utilisateur du site ou de l’application. En vous connectant au site ou à l’application, vous acceptez les pratiques décrites dans
          la présente politique de confidentialité.
        </p>
        <p>
          Les informations que nous collectons via le site et l’application nous permettent de vous fournir des informations correspondant à vos besoins et intérêts. Notre politique de confidentialité a été développée dans le cadre de notre
          engagement de toujours fournir un service obéissant au plus haut niveau d’intégrité dans nos rapports avec nos clients, nos partenaires et les visiteurs de notre site et de l’application.
        </p>
        <br>
        <p><strong>Comment procède Swipe Live pour recueillir et utiliser des informations sur ses utilisateurs ?</strong></p><br>
        <p><strong>1 - Cookies.</strong></p> 
        <p>Les cookies sont des données affectées par un serveur internet qui identifient de façon unique le navigateur de votre PC. Les sites internet utilisent généralement des cookies temporaires appelés
          cookies « de session » pour vous reconnaître lorsque vous changez de page à l’intérieur d’un site et assurer que les informations que vous avez saisies sont mémorisées. Nous ne rapprochons pas les informations stockées dans ces
          cookies avec les informations personnellement identifiables que vous soumettez pendant que vous naviguez sur notre site ou application. Par exemple, si un site de vente en ligne n’utilise pas de cookies de session, les articles
          placés dans le panier disparaissent au moment où vous souhaitez passer commande. Les sites internet utilisent également des cookies dits « persistants », pour se souvenir de vous lors de visites ultérieures, afin d’accélérer ou
          d’améliorer votre expérience des services ou des fonctions offertes. Swipe Live propose d’installer des cookies persistants et de session quand un utilisateur se connecte à notre site ou à notre application. Ils permettent à nos
          systèmes de collecter des informations sur vos habitudes de navigation sur notre site ou sur notre application. Les visiteurs ont la possibilité d’accepter ou de désactiver les cookies à tout moment par le biais de leur navigateur.
          Pour plus d’informations sur la façon de supprimer les cookies de votre navigateur internet, vous trouverez généralement des réponses dans le menu « Aide » de ce dernier. Veuillez noter que votre expérience utilisateur peut être
          affectée par une telle désactivation, et que vous ne pourriez pas tirer parti de certaines fonctions de notre site ou de notre application, ni profiter de l’expérience utilisateur Swipe Live optimale que nous sommes fiers de fournir à
          nos clients.
        </p>
        <p>
          L’utilisation de cookies par nos partenaires, nos filiales, notre société de tracking et nos fournisseurs de services n’est pas couverte par notre déclaration de confidentialité. Nous ne disposons pas d’accès à ces cookies ni ne les
          contrôlons. Nos partenaires, nos filiales, notre société de tracking et nos fournisseurs de services utilisent des cookies d’identification de session pour vous permettre de naviguer plus facilement sur notre site ou application,
          pour que vous puissiez utiliser le panier d’achat, etc.
        </p>
        <br>
        <p><strong>2 - Statistiques du serveur.</strong></p> 
        <p>Nous collectons des statistiques générales pour assurer un suivi des tendances d’utilisation de notre site ou application. Ces statistiques incluent les clics vers notre serveur, les
          types de navigateurs utilisés pour accéder à notre site ou application, les pages vues et les schémas de navigation. Les informations ainsi recueillies ne nous fournissent aucun renseignement personnellement identifiable sur nos
          utilisateurs. Elles nous aident à mieux comprendre nos utilisateurs et leurs comportements. Cela nous permet d’identifier les zones à fort trafic et de déterminer les moyens de communication les plus efficaces.
        </p>
        <p>
          Dans le cadre de cette analyse continue, Swipe Live utilise également des cookies et des dispositifs appelés « balises web » pour nous aider à identifier le moment où les courriels envoyés sont reçus et lus. Afin d’empêcher
          l’introduction de virus et la présence de pirates sur le site ou l’application, nous pouvons consigner des informations, telles que les adresses IP, dans un fichier journal, dans le but d’identifier tout utilisateur potentiellement
          malveillant.
        </p><br>
        <p><strong>3 - Renseignements personnels fournis par l’utilisateur.</strong></p> 
        <p> Aux fins de la présente politique de confidentialité, les « renseignements personnels » désignent les renseignements qui vous identifient, vos coordonnées,
          et les données décrivant votre relation avec Swipe Live. Lorsque vous visitez notre site internet, vous pouvez nous fournir deux types d’informations : les renseignements personnels, que vous choisissez sciemment de divulguer et qui
          sont collectés sur une base individuelle, et les données liées au site internet, collectées sur une base globale enregistrant les mouvements des utilisateurs lorsqu’ils naviguent sur notre site ou application. Nous collectons et
          conservons vos renseignements personnels (tels que votre adresse postale, votre adresse électronique, votre nom et votre numéro de téléphone) lorsque vous vous inscrivez pour utiliser notre site ou application, posez une question,
          remplissez un formulaire, effectuez une transaction, ou envoyez- nous un courriel. Bien que vous ne soyez pas tenu de soumettre ces informations dans le cadre de votre utilisation de notre site ou application, un tel défaut peut
          vous empêcher d’accéder ou d’utiliser certaines des caractéristiques et fonctions de notre site ou application, et de profiter de certains services. Swipe Live utilise vos renseignements personnels pour effectuer des transactions,
          répondre à vos demandes, livrer les produits et services que vous commandez, et vous informer des promotions, des mises à jour, ou des offres spéciales que nous pensons susceptibles de vous intéresser. Si vous choisissez de
          correspondre avec nous par courriel, nous sommes également habilités à conserver le contenu des échanges correspondants, y compris votre adresse électronique et nos réponses.
        </p> <br>
          <p><strong>Comment utilisons-nous les informations fournies par les utilisateurs ?</strong></p>
        <p>
          Nous utilisons vos renseignements personnels à des fins d’administration de nos activités commerciales, dans le cadre de notre service client et pour mettre à disposition d’autres produits et services à nos clients et prospects.
          Nous pouvons également utiliser ponctuellement les informations collectées pour vous informer de changements importants apportés à notre site ou à notre application, de nouveaux services et d’offres spéciales que nous pensons
          susceptibles de vous intéresser. Si vous ne souhaitez pas recevoir ces offres, vous pouvez nous en informer à tout moment en suivant le lien « unsubscribe » en bas de page de ces courriels.
        </p>
        <p>Comment n’utilisons-nous PAS les informations fournies par les utilisateurs ? Swipe Live s’engage formellement :</p>
        <p>
            à ne pas vendre vos informations sans votre consentement : Swipe Live ne vendra pas vos informations personnelles, notamment votre nom, votre adresse postale, votre adresse électronique et les données de votre de carte de
            crédit, à des tiers. Nous sommes convaincus qu’une telle garantie est absolument essentielle afin d’honorer la confiance que vous placez en nous et
        </p>
        <p>
            à ne pas partager vos informations avec des réseaux d’annonceurs ou publicitaires tiers : notre site internet est exempt de publicités de tiers et, s’il y en avait, nous agirions contre tout partage de vos informations
            personnellement identifiables avec tout annonceur tiers ou réseau publicitaire.
        </p>
        <p>Communications à partir du site ou de l’application</p>
        <p>Annonces liées au service :</p>
        <p>
          Nous vous ferons parvenir des annonces liées au service uniquement dans les rares occasions où cela est nécessaire. Par exemple, si notre service est temporairement suspendu pour cause d’entretien, nous pourrons vous en informer par
          courriel. Généralement, vous ne pouvez pas quitter la liste de diffusion de ce type de communications, qui ne sont pas de nature promotionnelle. Si vous ne souhaitez pas les recevoir, vous avez toujours la possibilité de désactiver
          votre compte.
        </p><br>
          <p><strong>Quelles procédures de sécurité sont appliquées par Swipe Live pour protéger les renseignements personnels de ses membres ?</strong></p>
        <p>
          La vie privée de nos membres est importante pour nous. Nous utilisons des protections physiques, électroniques et administratives pour nous aider à prévenir tout accès non autorisé, à maintenir l’exactitude des données, et à
          utiliser correctement vos renseignements personnels. Sauf spécification expresse dans la présente politique de confidentialité, nous nous efforçons, autant que possible et dans les limites de l’exercice de leurs fonctions, de
          limiter l’accès à vos renseignements personnels des employés, agents et officiers de Swipe Live.
        </p><br>
          <p><strong>Swipe Live peut-elle divulguer les informations collectées à des tiers ?</strong></p>
        <p>
          Swipe Live garantit que ses employés, agents, dirigeants, administrateurs, consultants et sous-traitants sont tenus de conserver les renseignements personnels en toute confidentialité et de prendre toutes les mesures
          raisonnables pour veiller à ce que cette confidentialité soit respectée. Nous nous engageons à partager vos informations personnelles avec des tiers dans les limites décrites dans cette déclaration de confidentialité. Nous ne
          vendons pas vos informations personnelles à des tiers. Swipe Live peut partager des informations avec des fournisseurs soigneusement sélectionnés et nos partenaires commerciaux. Cela comprend les entreprises qui proposent des programmes
          de fidélité, des services de marketing et d’autres opérations commerciales (société de transport pour traiter les commandes, société de traitement de carte de crédit pour vous facturer des biens et les services, fournisseur de
          services de courrier électronique pour envoyer des courriels en notre nom, logiciel de dialogue en direct pour l’assistance aux utilisateurs si vous avez des questions concernant notre service pendant que vous êtes sur notre site ou
          application, prestataire de services tiers vous permettant de publier des commentaires sur notre blog et de partager certaines parties de notre site ou de notre application avec des tiers, etc.). Toutes les entreprises qui agissent
          en notre nom sont tenues par contrat de tenir toutes les informations confidentielles et d’utiliser vos données uniquement pour fournir les services pour lesquels elles sont mandatées dans le cadre de nos transactions. Nous pouvons
          fournir des statistiques globales sur nos utilisateurs, les ventes, les schémas de trafic et les informations relatives au site à des fournisseurs tiers de solide réputation, mais ces statistiques ne comprennent pas les
          renseignements personnels. Nous pouvons divulguer des renseignements personnels fournis par nos utilisateurs si cela est requis par la loi ou si nous estimons en toute bonne foi qu’une telle divulgation est nécessaire (a) pour se
          conformer à la loi ou à un processus légal impliquant notre société ou nos filiales ; (b) pour protéger et défendre nos droits, notre propriété ou les droits ou la propriété des autres utilisateurs de notre site ou de notre
          application ; ou (c) dans le cadre d’une procédure d’urgence visant à protéger la sécurité personnelle des utilisateurs de notre site, de notre application ou du public.
        </p>
        <p>
          Si Swipe Live est impliquée dans une fusion, une acquisition ou la vente de tout ou partie de ses actifs, vous serez averti par courriel et/ou au moyen d’un avis sur notre site ou sur notre application de tout changement de propriété ou
          de l’utilisation de vos renseignements personnels, ainsi que des options disponibles concernant vos renseignements personnels.
        </p><br>
          <p><strong>Accès à vos informations personnelles.</strong></p>
        <p>
          Si vos renseignements d’identification personnelle viennent à changer, ou si vous ne désirez plus profiter de notre service, vous pouvez les corriger, les mettre à jour, résilier votre compte ou apporter toute modification sur votre
          page d’information de membre, en nous contactant par courriel (<a href="mailto:contact@swipelive.fr">contact@swipelive.fr</a>) ou par courrier postal en suivant les coordonnées ci-dessous.
        </p>
        <p>Nous répondrons à votre demande d’accès dans les 30 jours.</p>
        <p>
          Nous conserverons vos informations aussi longtemps que votre compte est actif ou autant que nécessaire pour vous livrer nos services. Nous conserverons et utiliserons vos informations autant que nécessaire dans le cadre de nos
          obligations légales, de la résolution de litiges ou de l’application du respect de nos accords.
        </p><br>
          <p><strong>Sécurité.</strong></p>
        <p>
          La sécurité de vos renseignements personnels est importante pour nous. Nous suivons les normes reconnues par le secteur pour protéger les renseignements personnels qui nous sont soumis, tant lors de leur transmission que lors de
          leur réception. Lorsque vous saisissez des informations sensibles (comme un numéro de carte de crédit) sur nos formulaires de commande, nous chiffrons la transmission de cette information à l’aide du protocole Transport Layer
          Security (TLS) ou de la technologie Secure Socket Layer (SSL).
        </p>
        <p>
          Si vous choisissez d’acheter des produits ou des services depuis notre site ou application, il vous faudra fournir des renseignements personnels et une autorisation d’obtenir des informations depuis différents services de crédit.
          Vous devrez fournir les informations suivantes : nom, adresse de facturation et d’expédition, adresse électronique, numéro de carte de crédit et informations d’expiration.
        </p>
        <p>Cependant, aucune méthode de transmission via Internet, ni aucune méthode de stockage électronique n’est sécurisée à 100 %. Par conséquent, nous ne sommes pas en mesure de garantir une sécurité absolue.</p><br>
          <p><strong>Liens externes. À propos d’autres sites internet susceptibles de proposer des liens vers notre site ou application.</strong></p>
        <p>
          Nous ne sommes pas responsables de la façon dont les entreprises ou les organisations non affiliées collectent, utilisent, divulguent ou sécurisent les informations que vous leur fournissez. Si vous choisissez d’accéder à un site
          internet tiers lié à notre site ou à notre application, vous le faites à vos propres risques et sous réserve des modalités de service ou de la politique de confidentialité (le cas échéant) associés à de tels sites internet de tiers.
        </p><br>
          <p><strong>Forums publics.</strong></p>
        <p>
          Notre site propose des blogs accessibles au public, des forums communautaires et sera intégré dans les pages de médias sociaux traditionnels (tels que Facebook, Instagram, etc.). Vous devez être conscients que toute information
          fournie dans ces supports peut être lue, collectée et utilisée par les tiers qui y ont accès. Pour demander la suppression de vos informations personnelles de notre blog ou du forum de la communauté, veuillez nous contacter à
          <a href="mailto:contact@swipelive.fr">contact@swipelive.fr</a>. Il peut arriver que nous ne soyons pas en mesure de supprimer vos informations personnelles, auquel cas nous vous ferons savoir que nous sommes incapables de le faire et
          pourquoi.
        </p><br>
          <p><strong>Collecte d’informations auprès des enfants.</strong></p>
        <p>
          Aucun contenu de Swipe Live n’est dirigé spécifiquement aux enfants, et nous ne collectons pas sciemment les renseignements personnels des personnes âgées de moins de 13 ans. Si nous apprenons qu’un utilisateur est âgé de moins de
          treize (13) ans, nous procéderons rapidement à la suppression des renseignements personnels collectés sur ce dernier.
        </p><br>
          <p><strong>Modification et notification des changements.</strong></p>
        <p>
          Nous pouvons modifier ponctuellement la présente politique de confidentialité. Si nous apportons des changements significatifs à la procédure selon laquelle nous gérons vos renseignements personnels ou la politique de
          confidentialité, nous les signalerons clairement sur le site de Swipe Live, sur l’application, ou par d’autres moyens tels que le courriel, afin de vous permettre d’examiner les modifications avant de continuer à utiliser Swipe Live.
        </p><br>
          <p><strong>Synthèse</strong></p>
        <p>
          Swipe Live s’engage à protéger votre vie privée. Les informations recueillies depuis notre site ou notre application nous aident à mieux comprendre nos marchés et les intérêts de nos clients. Cela nous permet d’assurer que nos membres
          et nos partenaires commerciaux obtiennent le niveau de satisfaction qu’ils méritent.
        </p>
        <p>
          Pour toute question ou suggestion concernant cette politique ou nos pratiques de confidentialité, veuillez nous contacter par courriel à l’adresse <a href="mailto:contact@swipelive.fr">contact@swipelive.fr</a> ou par courrier postal à
          l’adresse 1 Bis Rue Pierre Termier, 69660 Collonges-au-Mont-d'Or. Merci pour votre attention.
        </p>
      </div><br>
    </div>
{% endblock %}








