<html>
  <head>
    <title>Status</title>
  </head>
  <body>
    <div id="message"></div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>

      const stripe = Stripe('pk_test_aIJETJxn5e12xD24xXy0ovEg');
      const clientSecret = new URLSearchParams(window.location.search).get('payment_intent_client_secret');

      stripe.retrievePaymentIntent(clientSecret).then(({paymentIntent}) => {
      const message = document.querySelector('#message')

      switch (paymentIntent.status) {
        case 'succeeded':
        message.innerText = 'Success! Payment received.';
        break;

        case 'processing':
        message.innerText = "Payment processing. We'll update you when payment is received.";
        break;

        case 'requires_payment_method':
        message.innerText = 'Payment failed. Please try another payment method.';
          // Redirect your user back to your payment page to attempt collecting
          // payment again
          break;

          default:
          message.innerText = 'Something went wrong.';
          break;
        }
      });

    </script>
  </body>
</html> 