{% extends 'web/base.html.twig' %}

{% block title %} Termes & Conditions {% endblock %}

{% block metadata %}{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}
    <div id="root-terms">
      <div id="header-terms">
        <a href="{{ path('home') }}">
          <img height="50" src="img/logo.png" alt=""/>
        </a>
      </div>
      <div id="main-terms">
        <h2>Termes et Conditions d’utilisation de Swipe Live</h2>

        <p>CONDITIONS GÉNÉRALES D'UTILISATION - nouvelle version applicable à partir du 06 octobre 2021</p>

        <p>La plateforme Swipe Live (ci-après le “Application”) est gérée par la société MYMILLENIA (ci-après “Swipe Live”), située à 1 Bis Rue Pierre Termier 69660 Collonges au Mont d’or, France, inscrite au Registre des Sociétés de la République Française sous le numéro 88992724000016.</p>

        <p>La plateforme Swipe Live est hébergée par la société o2switch (ci-après “Hébergeur”), située à 222 Bd Gustave Flaubert, 63000 Clermont-Ferrand, France, inscrite au Registre des Sociétés de la République Française sous le numéro 51090980700024.</p>

        <p>VEUILLEZ NOTER QUE VOTRE UTILISATION ET VOTRE ACCÈS À NOS SERVICES (DÉFINIS CI-DESSOUS) SONT SOUMIS AUX CONDITIONS SUIVANTES ; SI VOUS N'ACCEPTEZ PAS TOUT CE QUI SUIT, VOUS NE POUVEZ PAS UTILISER OU ACCÉDER AUX SERVICES DE QUELQUE MANIÈRE QUE CE SOIT.</p>

        <p>LA SECTION 15 CI-DESSOUS A UNE DISPOSITION D'ARBITRAGE OBLIGATOIRE ET UNE RENONCIATION AUX DROITS DE RECOURS COLLECTIF. EN ACCEPTANT CES CONDITIONS, VOUS ACCEPTEZ CES DISPOSITIONS.</p>

        <p>Les présentes Conditions d'utilisation de Swipe Live (les « Conditions ») sont un document juridique entre vous (« vous », « votre » et Swipe Live. Swipe Live est la propriété et appartient à MYMILLENIA. (« Swipe Live »« Mymillenia», « nous », « notre » ou « nous »). Swipe Live fournit une plate-forme et des services via notre application mobile (collectivement,« Application») qui vous permettent d'interagir avec certains Hôtes et Commerçants (collectivement les « Services ») soumis aux présentes Conditions. Swipe Live est le propriétaire et l'opérateur des Services.</p>

        <p>Veuillez vous assurer de lire attentivement les présentes Conditions avant d'utiliser les Services. En utilisant les Services, vous acceptez explicitement de vous conformer et d'être lié par les Conditions et tous les termes, politiques et directives incorporés et référencés dans les présentes. Si vous n'acceptez pas toutes les dispositions des présentes Conditions, n'utilisez pas les Services.</p>

        <h3>1.DÉFINITION</h3>

        <p>Articles – désignent les marchandises/articles dont la commercialisation n’est pas interdite en vertu du droit national applicable, et qui sont ajouté(e)s par les marchand ou Hôtes sur le Catalogue de l’application, aux fins de les vendre.</p>

        <p>Boutique - désigne la boutique électronique dans lequel les Articles sont répertoriés, étant entendu que tous les marchands ou Hôtes doivent se conformer aux règles mises en place par Swipe Live.</p>

        <p>Compte Utilisateur – désigne l’inscription des Utilisateurs sur l’application ou sur le site; le compte créé contient des données à caractère personnel.</p>

        <p>Compte Marchand ou Compte Influenceur – désigne l’inscription des Marchands ou des Influenceurs « Hôtes » sur l’application ou sur le site; le compte créé contient des données à caractère professionnel et personnel.</p>

        <p>Comptes sur les Réseaux Sociaux – désignent les comptes Swipe Live sur Facebook, Twitter, Instagram, Pinterest, Snapchat, YouTube et autres réseaux sociaux, sur lesquels figurent des informations concernant le Site et les Services qui y sont proposés, y compris des partages des contenus publiés par les Utilisateurs.</p>

        <p>Conditions – désignent les présentes Conditions Générales ainsi que toutes les politiques et conditions supplémentaires publiées sur le Site ou l‘Application Mobile définissant les conditions dans lesquelles Swipe Live permet aux Utilisateurs,Visiteurs, Marchands et Hôtes d’accéder et d’utiliser les Services de Swipe Live.</p>

        <p>Confirmation de Réception – désigne la confirmation de la réception de l’Article par l’Acheteur ou l’Utilisateur.</p>

        <p>Liste des Tarifs – désigne le document qui indique les tarifs des Services de Swipe Live.</p>

        <p>Messages Privés – désignent la communication par échange de messages privés entre les Utilisateurs au moyen du système de messagerie de l’application, à laquelle seuls les Utilisateurs concernés peuvent avoir accès.</p>

        <p>Politique de Confidentialité – désigne le document qui définit la manière dont Swipe Live collecte, utilise, conserve et transfère les données à caractère personnel et autres informations importantes d’un Visiteur ou d’un Utilisateur.</p>

        <p>Services – désignent l’ensemble des services proposés sur l’application, y compris les Services Principaux et les Services Complémentaires.</p>

        <p>Services Complémentaires – désignent les services complémentaires payants fournis par Swipe Live et disponibles sur le Site (comme indiqué dans la Liste des Tarifs), par exemple le service permettant de booster la boutique qui n’est pas considérés comme un Service Principal et qui est susceptibles de faire l’objet de conditions générales d’utilisation distinctes.</p>

        <p>Service de Paiement et d'Envoi Intégrés – désigne le Service composé du Service de Paiement Intégré et du Service d'Envoi Intégré, facilitant et sécurisant le paiement et la livraison d’un Article lorsque la Transaction consiste en un contrat de vente :</p>

        <p>En Belgique: le Service de Paiement et d'Envoi Intégrés est disponible sur le territoire continental de Belgique.</p>

        <p>En France: le Service de Paiement et d'Envoi Intégrés est disponible en France métropolitaine et en Corse ;<br />
        En Italie: le Service de Paiement et d'Envoi Intégrés est disponible sur le territoire italien, à l'exception de Saint-Marin et de la Cité du Vatican.</p>

        <p>En Espagne: le Service de Paiement et d'Envoi Intégrés est disponible sur le territoire de la péninsule espagnole, à Ibiza et à Majorque.</p>

        <p>Aux Pays-Bas: le Service de Paiement et d'Envoi Intégrés est disponible sur le territoire continental des Pays-Bas.</p>

        <p>Au Luxembourg: le Service de Paiement et d'Envoi Intégrés est disponible sur le territoire du Grand-Duché de Luxembourg.</p>

        <p>Portugal: le service intégré de paiement et d'envoi est disponible sur le territoire du Portugal continental et des îles portugaises (à l'exception des bordereaux d'envoi intégrés et des bordereaux avec les instructions d'envoi qui ne sont pas disponibles dans les îles portugaises).</p>

        <p>Service de Paiement Intégré – désigne le Service de paiement en ligne des Articles, accessible à l’Acheteur sur l’application, les prestations de paiement étant exécutées par le partenaire de Swipe Live MOLLIE, enregistrée au Pays Bas, sous le numéro d'immatriculation 848101895 et dont le siège social est situé : KEISERSGRACHT 313 NL 1016 EE AMSTERDAM</p>

        <p>Service d'Envoi Intégré – désigne le Service d'envoi et de livraison à la charge de l’Acheteur qui permet au Marchand et au Hôte de livrer l’Article à l’Acheteur dans le cadre d’un contrat de vente ; les prestations d'envoi, de transport et de livraison sont exécutées par l’un des partenaires de Swipe Live comme prévu à l'article 8.</p>

        <p>Services Principaux – désignent les services offerts par Swipe Live aux Utilisateurs et, le cas échéant, aux Visiteurs, leur permettant de visionner des vidéo en direct, d’examiner les Articles, de participer directement à l’achat-vente, ou à d’autres Transactions, d’utiliser les Services de Paiement et d'Envoi Intégrés et de communiquer entre eux en privé.</p>

        <p>Application Mobile– désigne l’application mobile de la plateforme Swipe Live téléchargées sur smartphones ou tablettes.</p>

        <p>Transaction – désigne toute transaction qui transfère la propriété et/ou le droit d'utiliser un Article, d’un Utilisateur à un autre, notamment mais sans s’y limiter, le contrat de vente conclu directement entre l’Acheteur et le Vendeur, ou l’échange, ou toute autre transaction effectuée entre les Utilisateurs.</p>

        <p>Utilisateur – désigne toute personne physique qui s’est inscrite sur l’application et a accepté les Conditions Générales de Swipe Live. Par souci de clarté, un Utilisateur en vertu des présentes Conditions Générales désigne un particulier qui est un consommateur et qui agit en tant que tel.</p>

        <p>Marchands & Hôtes - désigne tout utilisateur qui ajoute un ou plusieurs Articles au Catalogue correspondant du Site dans le cadre de son activité professionnelle. Les Marchands et les Hôtes peuvent être des entreprises dûment enregistrées en France ou des personnes influentes, comme décrit dans le Guide du Vendeur Professionnel qui contient un aperçu de leurs droits et obligations légales. Les Marchands sont identifiés sur l’application par une “Boutique” affichée sous leur nom et les Hôtes (influenceurs) par un badge de validation sur leur photo principal.</p>

        <p>Marchand et Hôtes (Vendeur) – désigne tout Utilisateur qui ajoute un ou plusieurs Article(s) sur sa boutique.</p>

        <p>Visiteur (Utilisateur) – désigne toute personne physique non inscrite sur le Site susceptible d’utiliser le Site sans être inscrite, conformément aux Conditions Générales.</p>

        <p>Live ou vidéo en direct – désignent une vidéo en temps réel effectuée par un Marchand (Vendeur Professionnel) ou un Hôte (Influenceur).</p>

        <p>Replay ou Clip – désignent une rediffusion d’un Live déjà effectuée en live par un Marchand (Vendeur Professionnel) ou un Hôte (Influenceur)</p>

        <h3>2.OBJET</h3>

        <p>2.1 Les présentes Conditions Générales définissent les relations entre Swipe Live et les Utilisateurs ou les Visiteurs ainsi que la relation entre les Utilisateurs, les Visiteurs, les Marchands et les Hôtes et notamment les règles applicables à:</p>

        <p>l'inscription et l'utilisation de l’application par les Utilisateurs, Marchands et Hôtes;</p>

        <p>le rôle de Swipe Live en tant qu'intermédiaire et les services qu'elle propose dans le cadre des Transactions entre Utilisateurs, Marchands et Hôtes;</p>

        <p>les Transactions portant sur des Articles ajoutés par des Marchands ou Hôtes (Vendeurs) agissant en tant que consommateurs, que l'Acheteur soit un Utilisateur Professionnel ou un Utilisateur non-professionnel. Veuillez noter que Swipe Live n'est partie à aucune des Transactions effectuées sur son application.</p>

        <p>En utilisant ou en accédant a l’application Swipe Live, vous acceptez d'être juridiquement lié par les présentes Conditions Générales.</p>

        <p>2.2 Les Marchands et Hôtes ne sont autorisés à utiliser les Services qu'après avoir accepté les présentes Conditions Générales. En cas d'incohérence entre les présentes Conditions Générales et les conditions d'utilisation de Swipe Live applicables aux Marchands et Hôtes, ces dernières prévaudront.</p>

        <p>Les conditions générales de Swipe Live applicables aux ventes effectuées par des Marchands ou Hôtes (Vendeurs Professionnels) sont définies dans les conditions de vente de Swipe Live applicables aux Vendeurs Professionnels. Les Utilisateurs doivent les lire et accepter avant d'acheter des Articles auprès des Marchands (Vendeurs Professionnels) et Hôtes (Influenceurs).</p>

        <p>2.3 Vous pouvez contacter Swipe Live en remplissant le formulaire disponible en cliquant ici.</p>

        <p>2.4 L’application offre à l’Utilisateur la possibilité de participer à un live et/ou replay, la vente et/ou l’achat d’Articles, et d’utiliser les autres Services Complémentaires proposés par l’application.</p>

        <p>2.5 Les Services ne sont pas destinés aux mineurs. Pour les mineurs, un parent ou un tuteur (majeur) doit s’enregistrer pour l’utilisation des Services et superviser l’utilisation des Services par le mineur.</p>

        <p>2.6 Lors de son inscription sur l’application, l’Utilisateur doit indiquer son prénom, son nom, son nom de société (Marchands et Hôtes), son adresse de courrier électronique (directement ou via son profil Facebook, Google ou Apple), et, si l'Utilisateur ne s'inscrit pas par le biais de son profil Facebook, Google ou Apple, un mot de passe, ce qui permet au Site d’identifier l’Utilisateur à chaque fois qu’il accède a l’application.</p>

        <p>Swipe Live peut demander à effectuer certaines confirmations concernant le Compte de l’Utilisateur, Marchand ou Hôte à des fins de sécurité. De telles confirmations peuvent notamment inclure la confirmation du numéro de téléphone de l'Utilisateur ; une demande des preuves du titulaire d’une carte bancaire ou toutes autres démarches que Swipe Live pourrait mettre en place à sa seule discrétion. </p>

        <p>2.7 Swipe Live traitera les données à caractère personnel de l'Utilisateur comme décrit dans la Politique de Confidentialité, aux fins de l'exécution des présentes Conditions Générales à titre de contrat avec l’Utilisateur, le marchand ou l’hôte et à d'autres finalités légales.</p>

        <p>2.8 Swipe Live peut, à son entière discrétion, modifier les Conditions Générales, notamment afin :</p>

        <p>d’adapter les Conditions Générales aux dispositions législatives ou réglementaires en vigueur ou en cours d’adoption ;</p>

        <p>d’adapter les Conditions Générales à toute décision rendue par une juridiction, une agence de consommation ou par toute autre autorité compétente et qui impacte le contenu du Site ou les Services offerts sur celui-ci ;</p>

        <p>de refléter des changements et des évolutions dans la manière dont Swipe Live gère son activité ;</p>

        <p>de refléter des changements dans les conditions du marché ou dans les pratiques courantes de l'industrie ;</p>

        <p> de modifier la Liste des Tarifs, en particulier les tarifs qui y sont indiqués.<br />
         <br />
        Si Swipe Live apporte l'une quelconque des modifications des Conditions Générales mentionnées ci-dessus, elle en informera les Utilisateurs :</p>

        <p>quinze (15) jours avant l’entrée en vigueur des modifications, ou </p>

        <p>quatre (4) semaines avant l’entrée en vigueur des modifications en cas de modifications substantielles (par exemple, des modifications renforçant les obligations des Utilisateurs ou qui ont un impact sur les fonctionnalités principales de l’application).</p>

        <p>A moins que l'Utilisateur ne mette fin à sa relation avec Swipe Live avant le jour d’entrée en vigueur des modifications, les Conditions Générales modifiées sont réputées acceptées par les Utilisateurs (Visiteurs, Acheteurs, Marchands et Hôtes). Si l’Utilisateur s'y oppose dans les délais, il peut choisir de mettre fin à sa relation avec Swipe Live et de fermer son Compte Swipe Live, conformément à l'article 15.3. Toute modification des Conditions Générales publiées sur le Site s’appliquera immédiatement aux Visiteurs, Acheteurs, Marchands et Hôtes qui effectuent la procédure d'inscription en ligne après la publication desdites modifications sur l’application.<br />
        </p>

        <h3>3.SERVICES</h3>

        <p>3.1 Swipe Live est un service intermédiaire d'hébergement en ligne et propose des Services permettant de faciliter la diffusion de vidéo en direct, l’achat de produit, les Transactions, un espace d’échange virtuel. Les Marchands et Hôtes peuvent ajouter leurs Articles a la boutique approprié de l’application afin de vendre des Articles, utiliser le Service de Paiement et d'Envoi Intégrés, communiquer en envoyant des Messages Privés aux Hôtes (Influenceurs) et en cas de litige aux Utilisateurs et utiliser d’autres Services Complémentaires proposés sur l’application. <br />
        Swipe Live n’est partie à aucune Transaction entre les Utilisateurs et les marchands ou Hôtes.<br />
        Swipe Live possède sa propre boutique et peut présenter des Articles et des concours. Swipe Live propose des Services facilitant les Transactions.</p>

        <p>Nous envoyons des notifications à l'adresse e-mail que vous conservez dans vos données d'inscription. Dans le cadre des Services, vous pouvez recevoir des notifications push, des SMS, des alertes, des e-mails ou d'autres types de messages qui vous sont directement envoyés à l'extérieur ou à l'intérieur des Services (« Messages »). Vous contrôlez les paramètres des Messages et pouvez activer ou désactiver ces Messages via les fonctionnalités disponibles pour chaque moyen spécifique de Messagerie, par exemple via les Services ou via le système d'exploitation de votre appareil. Certains Messages sont de nature transactionnelle et vous ne pouvez pas vous en désabonner.</p>

        <p>3.2. Sous réserve des conditions indiquées sur l’application, les Marchands et Hôtes peuvent souscrire des Services Complémentaires payants sur l’application (aux tarifs indiqués dans la Liste des Tarifs.</p>

        <p>3.3. Les présentes Conditions Générales, la Politique de Confidentialité et les autres règles de Swipe Live publiées sur le Site ou l'application, s’appliquent aux Utilisateurs, aux Marchands, aux Hôtes et aux Visiteurs des Comptes sur les Réseaux Sociaux Swipe Live, lesquels doivent s’y conformer.</p>

        <p>3.4 Votre compte</p>

        <p>Inscription : Données d'inscription.Sous réserve de votre respect continu des présentes Conditions, vous pouvez vous inscrire à un (1) compte (« Compte ») avec Swipe Live à travers lequel vous pouvez interagir avec les Marchands et les Hôtes et acheter des Produits. Vous n'avez pas besoin d'un compte pour assister à des événements, mais vous devez créer un compte pour acheter des produits. Si vous avez déjà été suspendu, supprimé ou autrement désactivé de l'utilisation des Services, vous ne pouvez pas créer ou enregistrer un autre compte pour utiliser les Services. Vous acceptez de (a) fournir des informations exactes, à jour et complètes à votre sujet, comme cela peut être demandé par tout formulaire d'inscription sur les Services (« Données d'inscription »); et (b) maintenir et mettre à jour rapidement les Données d'inscription et toute autre information que vous fournissez à Swipe Live, et les garder exactes, à jour et complètes. Vous êtes responsable de toutes les actions, y compris les achats et les paiements effectués via votre compte. Nous ne sommes pas responsables des pertes que vous subissez en raison de la non-actualisation de vos données d'enregistrement.</p>

        <p>La sécurité de votre compte. Lorsque vous créez et enregistrez votre compte chez nous, vous choisissez un nom d'utilisateur et un mot de passe et pouvez choisir une autre méthode d'authentification de l'appareil. Vous êtes responsable du maintien de la sécurité de votre mot de passe et de votre appareil et de superviser l'utilisation de votre compte. Vous devez nous informer immédiatement via les coordonnées fournies ci-dessous si vous soupçonnez une utilisation ou un accès non autorisé à votre compte. Vous ne partagerez ni ne transférerez votre compte ou votre mot de passe avec ou à qui que ce soit. Nous supposons que toute personne utilisant les Services ou effectuant des transactions via votre compte est vous.</p>

        <p>Inactivité de votre compte. Votre compte sera considéré comme inactif si vous n'interagissez pas avec un hôte ou n'achetez pas de produits pendant une période d'un (1) an. Avant de désactiver votre compte, Swipe Live vous fournira un préavis de trente (30) jours en envoyant un e-mail ou un SMS à l'adresse e-mail ou au numéro de téléphone indiqué dans vos données d'inscription indiquant que votre compte sera considéré comme inactif. Avant l'inactivation effective du Compte, vous pouvez empêcher votre Compte de devenir inactif en procédant de l'une des manières suivantes : (a) en participant à un événement hébergé sur nos Services ; ou (b) l'achat d'un Produit.</p>

        <h3>4.AJOUT DES ARTICLES (MARCHANDS ET HÔTES)</h3>

        <p>4.1 Pour ajouter un Article sur l’application, l'ensemble des exigences énoncées dans le présent article ainsi que les conditions suivantes doivent être respectées :</p>

        <p>Seuls les produits autorisés dans la loi Française peuvent être ajoutés sur l’application.</p>

        <p>Le Vendeur doit s’assurer que ses Articles sont conformes aux règles de la boutique. Certaines catégories d’Articles ne peuvent être mises en ligne.</p>

        <p>Le Vendeur doit être le propriétaire des Articles ajoutés et ne doit pas ajouter d'articles généralement vendus comme des articles de dropshipping de faible valeur (c'est-à-dire des articles vendus à une faible valeur compte tenu des pratiques actuelles du marché).</p>

        <p>La vente, l’échange, l’utilisation ou la possession de tels Articles ne doivent en aucun cas violer les droits d’un tiers, doivent respecter les droits de propriété intellectuelle et ne doivent violer aucune loi ou réglementation locale, nationale ou internationale applicable.</p>

        <p>L’Article doit répondre aux exigences communément appliquées sur le marché pour ce type d’Article en fonction de la nature de la Transaction, sauf accord contraire entre l’Acheteur et le Vendeur.</p>

        <p>4.2. Le Marchand (Vendeur) ou Hôtes (Influenceur), lorsqu’il ajoute un Article à la boutique, doit remplir le formulaire relatif à l’ajout de l’Article. Le Vendeur doit décrire l’Article aussi précisément que possible et indiquer le tarif de l’Article. Le Vendeur, lorsqu’il dépose l’Article, déclare que ce dernier est conforme à la description qu’il fournit, et que cette description est exhaustive. L’ajout des Articles sur la boutique de l’application est gratuit. Les Vendeurs peuvent décider de payer pour des Services Complémentaires, afin par exemple d'améliorer la visibilité de leurs Articles et ou Boutique.</p>

        <p>4.3. L’Article ajouté à la boutique ne doit pas seulement être décrit dans le formulaire relatif à l’ajout de l’Article, il doit également être photographié. Au moins une photographie (ou plus, si nécessaire, selon l'Article) de bonne qualité doit être téléchargée lors de l’ajout de l’Article (il est interdit d’utiliser des photos trouvées sur Internet et/ou des photos d’un Article similaire). Elle doit refléter la qualité réelle et l’aspect extérieur de l’Article, ainsi que l’éventuelle présence de défauts, vices ou retouches sur l’Article.</p>

        <p>4.4. La quantité d’Articles ajoutés à la boutique est illimitée. Il est interdit d’ajouter le même Article plus d’une fois à la boutique .</p>

        <p>4.5. Le Vendeur qui a ajouté l’Article peut le retirer ou modifier son tarif à tout moment avant d’entrer en contact avec un Utilisateur pour la vente de l’Article en question.<br />
        </p>

        <h3>5.VENTE D’ARTICLES ET PRIX DES SERVICES COMPLEMENTAIRES</h3>

        <p>5.1 Commission Marchands :</p>

        <p>Un montant fixe de: 0,7 € - 5 % du prix de l’article.</p>

        <p>*Remarque : la TVA est incluse dans le prix de vente fixé par le Marchands<br />
        Les frais de transport sont réglé par l’acheteur en supplément du prix affiché.</p>

        <p>une Commission de 8% minimum si vous passez par un Hôte (Influenceur), celle ci peut varier selon l’accord passé avec l’influenceur.</p>

        <p>Il en va de même pour tous les autres Services Complémentaires payants décrits ci-après (tels que le « Boost », le « Boutique à la une », etc.).</p>

        <p>5.2 Les Articles. Vous aurez la possibilité d'acheter des produits auprès de marchands sponsors lors des Lives ou en replay. Vous n'êtes pas obligé d'acheter des produits et il n'y a aucune garantie que les produits seront disponibles pour vous. Le marchand ou Hôte établira les termes et conditions d'un achat de produit, y compris le prix, la disponibilité. Vous devrez effectuer les achats et payer les Articles via votre Compte Swipe Live, et le Marchand enverra votre achat. Vous êtes seul responsable du paiement du montant convenu pour les Articles. Le Marchand, et non Swipe Live, remplit et est responsable des Articles. </p>

        <p>Les achats auprès des Marchands et Hôtes (Vendeurs) sont uniquement possibles via le Système de Paiement Intégré en cliquant le bouton “Acheter maintenant”.</p>

        <p>Pour les besoins des Services Complémentaires, les Marchands et Hôtes devrons fournir les coordonnées bancaires pour que les bénéfices des ventes réalisées sur l'application puissent être transférés sur leur compte bancaire. Si un compte ou une carte bancaire appartenant à une tierce personne sont enregistrés sur l’application, l’équipe Swipe Live peut demander des pièces justificatives d’identité.</p>

        <p>5.3 L’ajout d’un Article dans la boutique conformément à l'article 4 et sa publication pour les Utilisateurs constitue une offre de vente dudit Article par le Vendeur, qui pourra être acceptée par un Acheteur. Les conditions de vente applicables aux Vendeurs Professionnels détaillent la manière dont l'Acheteur peut acheter des Articles auprès de Vendeurs Professionnels.</p>

        <p>5.4 Lorsque la Transaction consiste en une vente, le Service de Paiement et d'Envoi Intégrés est automatiquement proposé à l'Acheteur. De plus, l'Acheteur est considéré comme ayant accepté l'offre du Vendeur lorsqu'il clique sur “Acheter maintenant” sur la page de paiement. L’Acheteur reconnaît que son acceptation de l’offre est faite en considération de la description de l’Article, objet de la vente. L'Acheteur et le Vendeur reconnaissent chacun que :</p>

        <p>Un contrat juridiquement contraignant est créé entre l'Acheteur et le Vendeur pour l'achat de biens, “le contrat de vente”;</p>

        <p>qu'il représente un engagement ferme de chaque partie au contrat d'exécuter ce contrat avec le Vendeur aux conditions de l'offre;</p>

        <p>Pour dissiper toute ambiguïté, Swipe Live n'est pas partie à ce contrat de vente.</p>

        <p>5.5 Le Marchand ou l’Hôte peut décider d'acheter des Services Complémentaires pour améliorer la visibilité de sa Boutique et/ou Articles. Les services de promotion des Articles existants sont décrits dans la Liste des Tarifs. <br />
        </p>

        <p>Vous pouvez améliorer la visibilité de vos articles sur Swipe Live en optant pour les services suivants:</p>

        <p>1.Articles Boostés :</p>

        <p>Les articles proposés sur Swipe Live peuvent bénéficier d’une meilleure visibilité de vos live dans le flux d’articles/le fil d’actualités. Ce placement a lieu lorsque le membre achète des services de «Boost» et est répété une fois par jour pendant un nombre déterminé de jours ou jusqu’à ce que l’article soit vendu, selon le cas.</p>

        <p>La fonction «Boost» dure :</p>

        <p>7 jours consécutifs pour 5€ ou jusqu’à ce que l’article Boosté soit vendu;</p>

        <p>3 jours consécutifs pour 3€ ou jusqu’à ce que l’article Boosté soit vendu.</p>

        <p>Les frais applicables et la durée du Boost seront affichés au moment du règlement. Vous recevrez par ailleurs un e-mail avec une confirmation de commande sur l’adresse e-mail que vous avez indiquée. Veuillez noter que le Boost est un service automatisé à usage unique et n’est pas transférable.</p>

        <p>Swipe Live vous fournira des statistiques sur le nombre de personnes qui ont vu et interagi avec votre article boosté.</p>

        <p>Veuillez noter que si une annonce boostée est supprimée au motif qu’elle n’est pas conforme aux Termes et Conditions de Swipe Live, elle ne sera pas remboursée.</p>

        <p>2.Boutique à la une :</p>

        <p>Les articles proposés sur Swipe Live peuvent faire l’objet d’une promotion dans une section distincte, dans le flux d’articles/le fil d’actualités et dans les résultats de recherche des articles à la une, sur la base des préférences des membres, des filtres de leur articles les plus souvent ajoutés à leurs favoris. Cette fonctionnalité est uniquement disponible si vous avez téléchargé au moins 5 articles disponibles à la vente pendant la période de 7 jours du Dressing en Vitrine. Le Dressing en Vitrine est valable pendant 7 jours consécutifs, et la période de 7 jours se poursuit même si 5 articles ne sont pas disponibles à la vente pendant cette période. Le Dressing en Vitrine se termine à la fin de la période de 7 jours. Veuillez noter que le Dressing en Vitrine est un service automatisé à usage unique et n’est pas transférable entre membres.</p>

        <p>Swipe Live vous fournira chaque semaine des statistiques sur le nombre de personnes qui ont vu et interagi avec les articles dans votre Dressing.</p>

        <p>La fonctionnalité Boutique à la une coûte 6,95€.</p>

        <p>Les frais applicables et la durée de la Boutique à la une seront affichés au moment du règlement.</p>

        <p>Veuillez noter que si des articles de votre boutique sont supprimés au motif qu’ils ne sont pas conformes à nos Termes et Conditions, ce qui porte en conséquence le nombre d’articles dans votre boutique à moins de 5, la Boutique à la une prendra fin et vous ne serez pas remboursé(e). De plus, si votre compte est bloqué en raison d’une violation de nos Termes et Conditions, tous les articles disparaîtront du catalogue Swipe Live et vous ne serez pas en mesure d’obtenir un remboursement.</p>



        <h3>6.SERVICES ET PROTECTION ACHETEUR</h3> 

        <p>6.1 Protection Acheteur. Pour les Articles vendus par des Marchands agissant en tant Vendeur Professionnels, ainsi que pour les Articles vendus par des Hôtes agissant en tant que représentant des Articles des Marchand, la Protection Acheteur s'applique automatiquement et obligatoirement à la Transaction lorsque l'Acheteur utilise le Service de Paiement Intégré. <br />
        Ceci n'est pas applicable si l'Acheteur et le Marchands ou l’hôte conviennent de finaliser la Transaction en dehors de l’application.<br />
        Si l'Acheteur décide d'utiliser le Service de Paiement Intégré, le Vendeur doit s'y conformer. Les services de Paiement et Envoi Intégrés ne sont disponibles que dans certains pays et/ou régions.</p>

        <p>Si l'Acheteur décide d'utiliser le Service de Paiement Intégré, il est considéré comme ayant accepté l'offre du Vendeur lorsqu'il clique sur “Payer” sur la page de paiement.</p>

        <p>Si l'Acheteur décide que la Transaction sera effectuée sans Services de Paiement et d’Envoi Intégrés, les services de Protection Acheteur de Swipe Live ne seront alors pas disponibles. Dans ce cas, l'Acheteur et le Vendeur sont seuls responsables de l'organisation et des conséquences de l’envoi de l'Article et ne peuvent pas avoir recours à l'assistance fournie par Swipe Live dans ce contexte.</p>

        <p>6.2 L'Acheteur (Utilisateur, Marchand ou Hôte en l’espèce) bénéficiera automatiquement de la “Protection Acheteur” décrite à l'article 6.3 ci-dessous et pourra avoir droit à un remboursement si les conditions de remboursement au titre de la Protection Acheteur sont remplies.</p>

        <p>Les Services de Protection Acheteur ne sont pas des services d'assurance ou des services de garantie de protection juridique.</p>

        <p>6.3 Services inclus dans la “Protection Acheteur” :</p>

        <p>6.3.1 Si l'Acheteur utilise le Service de Paiement et d'Envoi Intégrés, il bénéficiera du Service Complémentaire de Protection Acheteur qui fait partie intégrante et obligatoire des Services de Paiement et d’Envoi Intégrés. Le Service de Protection Acheteur comprend un remboursement si les conditions suivantes sont remplies :</p>

        <p>6.3.2 Si l’Article n'est substantiellement pas conforme à la description fournie par le Vendeur, ou si l’Article a été endommagé lors de l’envoi, l'Acheteur doit en informer Swipe Live dans le délai de deux (2) jours suivant la date de réception de l'Article, en cliquant sur la Transaction avec le Vendeur dans «Mes Achats» puis «Contester». Cela suspendra la Transaction et Swipe Live conservera le Prix d'Achat Total. Une fois que Swipe Live a suspendu la Transaction, le processus est le suivant :</p>

        <p>Dans un premier temps, l'Acheteur et le Vendeur peuvent trouver un arrangement a la amiable via une messagerie spécialement créer entre eux. Ils ont le droit et la possibilité de résoudre la situation par eux-mêmes et d'informer Swipe Live de leur décision commune. Dans ce cas, Swipe Live s'engage à se conformer à cette décision et à rembourser l'Acheteur ou le Vendeur comme convenu, du montant retenu sur le compte séquestre.</p>

        <p>Uniquement dans le cas où l'Acheteur et le Vendeur ne parviendraient pas directement à un accord, ou ne souhaiteraient pas régler la situation directement, l'Acheteur ou le Vendeur peuvent faire remonter le problème à Swipe Live et lui fournir des preuves (par exemple, des photos, de la documentation, etc.) pour appuyer leur position. Après que Swipe Live a examiné la situation et dans le cas où Swipe Live considérerait que l'Article n’est en effet substantiellement pas conforme à la description fournie par le Vendeur, Swipe Live annulera la Transaction en demandant au prestataire de services financiers tiers gestionnaire du compte séquestre de procéder au remboursement de l'Acheteur après que l’Article en question a été retourné au Vendeur. L'Acheteur sera remboursé du prix d'achat total.</p>

        <p>Veuillez noter que Swipe Live ne fournit pas de service de retour et que l’Acheteur doit retourner l’Article au Vendeur dans le délai stipulé par Swipe Live, après que le Vendeur aura fourni une adresse de retour. L’Acheteur paie les frais de retour sauf accord contraire avec le Vendeur. Si l’Acheteur ne renvoie pas l’Article dans le délai stipulé par Swipe Live, l’Acheteur ne pourra pas bénéficier de remboursement au titre de la Protection Acheteur.</p>

        <p>S'il y a de fortes indications selon lesquelles l'Article reçu est une contrefaçon, Swipe Live ne peut pas exiger de l'Acheteur qu’il renvoie l’Article afin d'obtenir un remboursement, mais cela est décidé par Swipe Live au cas par cas, sur la base des informations fournies par l'Acheteur et le Vendeur, et ces derniers s'engagent à se conformer à cette décision de Swipe Live.</p>

        <p>6.6.3 Si l'Acheteur n'a pas reçu un Article, il doit en informer Swipe Live en signalant le problème en cliquant sur le bouton qui suspend la Transaction «Mes Achats» puis «Contester» dans un délai de deux (2) jours à compter de la date mentionnée à l'Acheteur à laquelle l’Article aurait dû être livré, c'est-à-dire, après que l’Article a été marqué comme “livré”. En cas de perte de l'Article au cours de l'envoi, l'Acheteur sera remboursé par le prestataire de services financiers tiers gestionnaire du compte séquestre du prix d'achat total.</p>

        <p>6.6.4 S'il y a un problème avec l'Article ou si l'Article n'a pas été reçu (comme décrit aux articles 6.6.2 et 6.6.3), mais que l'Acheteur ne contacte pas Swipe Live dans le délai de deux (2) jours (c'est-à-dire, pendant la Période de Contestation) tel que stipulé aux articles 6.6.2 et 6.6.3, ou qu'il confirme simplement sur l’application que l'Article reçu était acceptable (pendant ce délai de 2 jours), la Transaction est clôturée (conformément à l’article 7.2) et la Protection Acheteur prend fin. Dans ce cas, l'Acheteur n'aura droit à aucun remboursement.</p>

        <p>6.6.5 Dans le cas où l’Article est conforme à la description fournie par le Vendeur, l’Acheteur n’aura pas le droit de demander un remboursement par l’intermédiaire de Swipe Live et Swipe Live clôturera la Transaction. Après que la Transaction est clôturée et que le montant sous séquestre est transféré au Vendeur, l’Acheteur peut essayer de négocier directement avec le Vendeur pour retourner l’Article (par exemple, en parvenant à un accord sur le remboursement, les frais de retour, etc.). Veuillez noter que dans ce cas, le Vendeur peut également refuser de coopérer avec l’Acheteur au motif que la Transaction a été honorée par le Vendeur.</p>

        <p>6.7 Si l'Acheteur n'a pas utilisé le Service de Paiement Intégré et de Livraison Intégrée :</p>

        <p>6.7.1 Dans ce cas, Swipe Live ne garantit pas la sécurité des paiements effectués. Swipe Live ne fournit aucune assistance à l'Acheteur ou au Vendeur si l'Acheteur n'utilise pas les Services de Protection Acheteur. L'Acheteur et le Vendeur sont seuls responsables de la bonne réalisation de la Transaction et négocient l'ensemble des modalités de la Transaction directement entre eux (par exemple, les conditions de paiement, d'envoi, les conditions de retour de l'Article, colis perdu, etc.).<br />
         <br />
        6.7.2 En cas de comportement fautif de l'Acheteur ou du Vendeur signalé à Swipe Live, Swipe Live pourra fournir une assistance à la partie lésée. Swipe Live coopérera également avec les autorités locales si nécessaire.<br />
        </p>   

        <h3>7.SERVICE DE PAIEMENT INTÉGRÉ</h3>

        <p>7.1 Dans le cadre du Service de Paiement Intégré, l’Acheteur doit payer à l’avance, le ou les Article(s) acheté(s) auprès du Vendeur par carte de crédit ou de débit, Paypal, ou tout autre moyen de paiement qui pourrait être introduit à l'avenir, à l’aide du Service de Paiement Intégré disponible sur le Site.</p>

        <p>7.2 Les montants versés par l’Acheteur (prix de l’Article + Frais de Livraison) seront conservés par un prestataire de services financiers choisi par Swipe Live (MOLLIE) dans un portefeuille électronique fonctionnant comme un compte séquestre, et ce jusqu'à ce que la Transaction soit clôturée.</p>

        <p>La Transaction est clôturée :</p>

        <p>dès lors que l'Acheteur confirme par le biais de la plateforme que l'Article expédié satisfait aux conditions de l'offre en cliquant sur le bouton “tout est correct” ; ou</p>

        <p>automatiquement après l'expiration de la Période de Contestation de 2 jours décrite à l'article 6.6.2 si aucun litige n'est ouvert au sujet de l'Article ; ou</p>

        <p>Si un litige est ouvert au cours de la Période de Contestation, après la résolution du litige. </p>

        <p>Une fois la Transaction clôturée, le prix d'achat sera immédiatement transféré sur le portefeuille électronique du Marchand (Vendeur). Les fonds disponibles sur le portefeuille électronique du Vendeur pourront être transférés à tout moment sur son compte bancaire, sans aucun frais de transfert et pour n’importe quel montant. </p>

        <p>Les fonds disponibles sur le portefeuille électronique pourront être utilisés pour effectuer des achats sur Swipe Live auprès d’autres Marchands ou Hôtes.<br />
        7.3 Swipe Live fait appel à MOLLIE pour le traitement du paiement et la conservation des informations relatives à la carte de crédit ou de débit. Pour pouvoir utiliser le Service de Paiement Intégré, il peut être demandé à l’Acheteur de déclarer avoir accepté les conditions générales dudit prestataire. L’Acheteur sera seul responsable de la transmission des informations liées à sa carte de crédit ou de débit et Swipe Live décline par les présentes toute responsabilité, dans toute la mesure autorisée par la législation applicable.</p>

        <p>7.4 Veuillez noter que le droit d'utiliser le Service de Paiement Intégré n'est conféré que dans le cadre des ventes effectuées par un Utilisateur en son nom propre. Les Utilisateurs ne sont pas autorisés à revendre, engager ou, de toute autre manière, autoriser des tiers à utiliser le Service de Paiement Intégré pour permettre à ces tiers d'être rémunérés pour leurs services. Les Utilisateurs ne sont pas autorisés à utiliser le Service de Paiement Intégré pour des types de produits et services autres que ceux souscrits sur Swipe Live. En particulier, l'Utilisateur confirme qu'il n'utilisera pas le Service de Paiement Intégré pour tout type de produits ou de services n'apparaissant pas dans les règles de la Boutique. </p>

        <p>Si Swipe Live découvre à tout moment que les informations qu'un Utilisateur a fournies à son sujet sont fausses ou ont changé sans que Swipe Live en soit informée, ou si un Utilisateur enfreint l'une quelconque de ces conditions, les Services peuvent être suspendus et/ou résiliés avec effet immédiat.</p>

        <p>7.5 En cas de suspicion de fraude de quelque nature que ce soit commise par un Utilisateur, un Marchand ou un Hôte, Swipe Live suspendra immédiatement le Compte concerné ainsi que les Transactions en cours, dans l'attente des résultats de l'enquête en cours.</p>

        <p>7.6 En cas de problème (tel que par exemple des signes de ventes illicites suspectées sur l’Application, de blanchiment d'argent, de spam, ou en cas de violation des conditions générales des prestataires de services de paiement) signalé par le prestataire en charge du Service de Paiement Intégré à Swipe Live, Swipe Live peut suspendre immédiatement le Compte de l'Utilisateur concerné ainsi que les Transactions en cours, dans l'attente des résultats de l'enquête en cours.</p>

        <p>7.7 Swipe Live se réserve le droit de suspendre le Compte d'un Utilisateur, Marchand ou Hôte si celui-ci a initié, concernant une Transaction, une procédure de résolution d'un litige par l’intermédiaire d'un prestataire externe de paiement et que, en considération de l'ensemble des circonstances relatives à la procédure de résolution du litige initiée, Swipe Live a une raison légitime de suspendre le Compte de l'Utilisateur (par exemple, en cas de violation des lois applicables et/ou de non-respect des présentes Conditions Générales et/ou en cas de possibilité d'utilisation abusive de l’Application).<br />
        </p>

        <h3>8.SERVICE D’ENVOI INTÉGRÉ</h3>

        <p>La plateforme Swipe Live propose une seul option d'édition des etiquettes d'envoi:</p>

        <p>Des étiquettes d’Envoi Intégré, lorsque Swipe Live génère l’étiquette d’envoi à utiliser</p>

        <p>Dans tous les cas, les frais d’envoi sont affichés sur la page de l’Article et également avant la confirmation de la commande. Ces frais d’envoi sont à la charge de l’Acheteur.</p>

        <p>Dans le cas où le colis est perdu par le prestataire de transport :</p>

        <p>Si des étiquettes d’Envoi Intégré sont utilisées, Swipe Live sera la première ligne de soutien, et si le colis est confirmé comme étant perdu par le prestataire de transport, Swipe Live dédommagera le Vendeur, conformément à ce qui est indiqué dans la fenêtre d’option d’envoi, à hauteur du montant de compensation indiqué, sous réserve que le colis ait été correctement emballé.</p>

        <p>8.1 Le Service d'Envoi Intégré est disponible pour tous les Acheteur et en bénéficient automatiquement. Pour son Service d'Envoi Intégré, Swipe Live propose à ses Utilisateurs les services de prestataires tiers spécialisés dans le transport et la livraison, tels que décrits ci-après. Swipe Live pourra utiliser à tout moment un prestataire tiers autre que ces sociétés. Les mêmes règles que ci-dessous s'appliqueront alors immédiatement.</p>

        <p>A partir du moment où l'Utilisateur choisit l'un ou l'autre de ces Services et paye Swipe Live en conséquence, Swipe Live conserve la somme sur le portefeuille électronique de l'Utilisateur en séquestre.</p>

        <p>Deux (2) options de livraison sont disponibles :</p>

        <p>Envoi Intégrés en Point Relais, </p>

        <p>Envoi Intégrés à Domicile,</p>

        <p>Chaque type de service est détaillé comme suit :</p>

        <p>Les Envoi Intégrés en Point Relais signifient que Swipe Live génère un bordereau d'envoi à utiliser par le Vendeur. Une fois la Transaction clôturée (conformément à l'article 7.2), le Vendeur récupère le prix de l'Article. Les frais pour le service de livraison sont remis à Swipe Live. Les prestataires de transport disponibles et les conditions relatives aux Envoi Intégrés sont les suivants :</p>

        <p>Lorsque l'Acheteur choisit le service d'envoi Mondial Relay, un bordereau d'envoi est automatiquement envoyé au Vendeur, qui doit être utilisé pour l'expédition de l'Article à l'Acheteur. En cas de perte ou d'endommagement de l'Article au cours de l'envoi, Swipe Live remboursera à l'Acheteur le montant intégral du prix conservé sous séquestre. Dans le cadre de ce service, les conditions générales de vente de Mondial Relay sont applicables à l'Utilisateur qui bénéficie du bordereau d'envoi intégré. En utilisant ce service d'expédition, le Vendeur bénéficiera d'une limite d'indemnisation pour tout Article perdu ou endommagé de 25 euros au titre de l'indemnisation Mondial Relay.</p>

        <p>(2) Lorsque l'Acheteur choisit le service d'envoi Chronopost, un bordereau d'envoi est automatiquement envoyé au Vendeur, qui doit être utilisé pour l'expédition de l'Article à l'Acheteur. En cas de perte ou d'endommagement de l'Article au cours de l'envoi, Swipe Live remboursera à l'Acheteur le montant intégral du prix conservé sous séquestre. Dans le cadre de ce service, les conditions générales de vente Chronopost Shop2Shop sont applicables à l'Utilisateur qui bénéficie du bordereau d'envoi intégré. En utilisant ce service d'expédition, le Vendeur bénéficiera d'une limite d'indemnisation pour tout Article perdu ou endommagé de 33 euros au titre de l'indemnisation Chronopost.</p>

        <p>Les Envoi Intégrés à Domicile signifient que Swipe Live génère un bordereau d'envoi à utiliser par le Vendeur. Une fois la Transaction clôturée (conformément à l'article 7.2), le Vendeur récupère le prix de l'Article. Les frais pour le service de livraison sont remis à Swipe Live. Les prestataires de transport disponibles et les conditions relatives aux Bordereaux d'Envoi Intégrés sont les suivants :</p>

        <p>(3) Lorsque l'Acheteur choisit le service d'envoi Colissimo, Swipe Live fournit directement au Vendeur les Instructions d'Envoi. Dans le cadre de la procédure d'envoi, Swipe Live remboursera à l'Acheteur le montant intégral du prix conservé sous séquestre en cas de perte de l'Article pendant la livraison. L'indemnisation du Vendeur sera prise en charge par Colissimo, sous réserve de l'acceptation de la réclamation. Les conditions générales de Colissimo s’appliquent, y compris le montant de l’indemnisation disponible. Pour plus d'informations, merci de consulter le site de Colissimo.</p>

        <p>8.2 Les coûts des Services d'Envoi Intégré disponibles ( “Frais d’Envoi”) sont visibles après avoir cliqué sur un Article de la boutique du Marchand ou de l’Hôte, sur la page détaillant l'Article en question. Les Frais d’Envoi sont dus par l'Acheteur en plus du prix d'achat de l'Article en question.</p>

        <p>8.3 Dès lors que le Prix d'Achat Total a été payé par l’Acheteur, Swipe Live confirme le paiement au Vendeur sur la plateforme et lui transmet les Instructions d 'Envoi . Le Vendeur est tenu d'expédier l'Article dans les cinq (5) jours ouvrés suivant la réception des informations sur l'envoi par Swipe Live concernant la Transaction conclue, conformément aux Instructions d’Envoi.</p>

        <p>8.4 En cas de non-envoi de l’Article à l’Acheteur dans les cinq (5) jours ouvrés suivant la réception des informations sur l'envoi, Swipe Live a le droit d'ordonner à MOLLIE de procéder au remboursement du Prix d'Achat Total conservé sous séquestre, incluant les Frais d'Envoi, à l’Acheteur. Ce remboursement constituera le seul recours de l’Acheteur au titre de son contrat avec le Vendeur, sans préjudice des droits reconnus à l'Acheteur en tant que consommateur s'il a acheté l'Article auprès d’un Marchand ou d’un Hôte.<br />
        </p>

        <h3>9.PAIEMENT</h3>

        <p>9.1 Swipe Live est autorisée à percevoir des sommes au titre des Services fournis conformément aux tarifs indiqués dans la Liste des Tarifs. </p>

        <p>9.2 Tous les tarifs sont exprimés en euros (EUR), toutes taxes applicables comprises.</p>

        <p>9.3 Dans le cas d’une Transaction effectuée avec le Service de Paiement et d'Envoi Intégrés, le paiement de l’Acheteur se fait par carte de crédit, carte de débit, carte virtuelle, PayPal ou tout autre moyen de paiement approuvé pour le Service de Paiement Intégré sur le Site au moment de la conclusion du Contrat de Vente en question.</p>

        <p>L'Acheteur peut également utiliser les fonds disponibles sur son solde Swipe Live (c'est-à-dire son portefeuille électronique disponible sur Swipe Live), le cas échéant. Si l'Acheteur ne dispose pas de suffisamment de fonds sur son solde Swipe Live pour couvrir le prix du ou des Articles, il peut couvrir la partie manquante en payant par d'autres moyens de paiement disponibles.</p>

        <p>9.4 Dans le cas d’une Transaction effectuée via le Service de Paiement et d'Envoi Intégrés, l’Acheteur est débité du montant total (prix de l’Article et Frais d’Envoi) et le Vendeur ne percevra le montant qui lui est dû qu’au moment de la Confirmation de Réception. Si l’Acheteur ne reçoit pas l’Article ou si l’Article n'est substantiellement pas conforme à la description fournie par le Vendeur, et dans les autres conditions stipulées aux articles 6.6.2 et 6.6.3, son argent sera recrédité.<br />
        </p>

        <h3>10.INTERACTIONS ET MESSAGES</h3>

        <p>10.1 Messages Privés entre Marchands et Hôtes</p>

        <p>L’échange de Messages Privés entre les Marchands (Vendeurs) et les Hôtes (Influenceurs) a pour finalité principale l’échange d’informations sur les Articles de la Boutique.</p>

        <p> il doit s’assurer qu’il n’envoie pas :</p>

        <p>des messages ou des informations à caractère publicitaire (sauf si cela est autorisé dans les conditions de l’article 10.3 ci-dessous);</p>

        <p>des spams ou des contenus diffusant des virus ou des vers;</p>

        <p>des messages en masse de quelque autre type que ce soit (lorsqu’un message est envoyé à plus de cinq Marchands ou Hôtes, lorsque le même message est copié et envoyé à des Marchands qui n’ont pas demandé à les recevoir);</p>

        <p>des messages contenant des textes contraires aux bonnes mœurs et à l’ordre public, inappropriés, insultants, diffamatoires ou considérés par ailleurs comme étant incompatibles avec les présentes Conditions Générales et les intérêts des Utilisateurs;</p>

        <p>des messages à caractère illicite ou tentant par ailleurs de porter préjudice aux autres Utilisateurs et/ou à l’application;</p>

        <p>des messages pouvant être qualifiés d’harcèlement de quelque nature que ce soit;</p>

        <p>Des messages contenant des commentaires inappropriés, provocateurs ou malvenus sur l'apparence d'un autre Utilisateur. Grâce à des algorithmes, Swipe Live utilise un logiciel automatisé permettant de détecter les contenus des Messages Privés contraires aux bonnes mœurs et à l’ordre public, les contenus insultants communiqués par un Utilisateur via des Messages Privés. Dans l’hypothèse où un Message Privé contenant de tels contenus est détecté par le logiciel automatisé, le Message Privé et l’Utilisateur pourront, sans préjudice aux autres recours, être automatiquement bloqués conformément à l’article 13 ci-dessous et/ou cachés de l’Utilisateur à qui il a été envoyé.</p>

        <p>L’Utilisateur émetteur du Message Privé bloqué et/ou caché sera averti de son obligation de se conformer aux Conditions Générales et informé que Swipe Live peut prendre des mesures supplémentaires telles que la suspension du Compte du Marchand ou de l’Hôte en cas de nouvelles violations. Sauf pour les cas mentionnés dans la Politique de Confidentialité. Les outils automatisés susmentionnés adoptés par Swipe Live ne constituent pas une obligation de surveillance de la part de Swipe Live ni une obligation de recherche active d'activités et/ou de contenus illicites sur l’application et, dans la mesure où la loi applicable le permet, ne génèrent aucune responsabilité de la part de Swipe Live.</p>

        <p>10.2. Messages Privés entre les Utilisateurs et les Marchands</p>

        <p>Lors d’un Litige entre Acheteur (Utilisateur) et Marchands ou Hôtes (Vendeurs) est signalé a Swipe Live, une messagerie est crée entre les 2 parties afin de communiquer et de trouver un accord amiable entre eux. Marchands ou Hôtes et Acheteurs peuvent s’échanger des photos concernant l’article du litige.à la suite de cet échange 2 cas son possible :</p>

        <p>- Un arrangement amiable est trouvé et les 2 parties doivent clôturer la messagerie pour débloquer les fonds pour l’une ou l’autre.</p>

        <p>- Si aucun arrangement n’est trouvé et c’est Swipe Live qui interviendra pour trancher sur le litige et le clôturer.</p>

        <p>10.3.Interaction entre Utilisateurs et Vendeurs</p>

        <p>Chaque Utilisateur à le choix ou non d’interagir avec un marchand ou un hôte s’il estime que le contenu de celui ci lui plait.</p>

        <p>L’utilisateur peut :</p>

        <p>- S’abonner de la page du Vendeur (Marchands et Hôtes) afin de le retrouver plus facilement dans ces « Following ».</p>

        <p>- Se désabonner de la page du Vendeur (Marchands et Hôtes).</p>

        <p>- Activer les notifications du Vendeur pour être informer de ses futures Lives ou nouveaux Articles.</p>

        <p>- Envoyer des interactions ou des messages lors des lives en direct.</p>

        <h3>11.RESPONSABILITÉ</h3>

        <p>11.1 Tous les Utilisateurs, Visiteurs, Marchands et Hôtes sont entièrement responsables, en leur qualité d’éditeurs, de toutes les informations qu’ils postent sur l’Application et, le cas échéant, des Articles qu’ils proposent, vendent, transfèrent à d’autres Utilisateurs. En particulier, il est précisé que lorsqu’un Marchand ou Hôte met en ligne des Articles sur la Boutique correspondant, il reconnaît et accepte qu’il est entièrement responsable du téléchargement de l’Article sur la Boutique, de sa description, des confirmations, de l’exactitude des autres renseignements fournis et des communications avec les autres Utilisateurs (y compris les Messages Privés) et, de manière générale, des Transactions réalisées avec d’autres Utilisateurs et des litiges susceptibles d’en découler (ci-après, ensemble, le “Contenu”).</p>

        <p>11.2 A cet égard, les Marchands ou Hôtes doivent respecter l'ensemble des réglementations applicables. Les Marchands et Hôtes doivent notamment s’abstenir de (a) porter atteinte aux droits des tiers, (b) porter atteinte aux droits de propriété intellectuelle ou ajouter des produits constituant des contrefaçons, (c) inciter à des délits ou crimes, à la discrimination, la haine ou la violence liée à la race, l’origine ethnique ou la nationalité, (d) communiquer des informations erronées ou des informations confidentielles, (e) proférer des propos diffamatoires, (f) commettre des actes qui pourraient mettre en danger des mineurs, (g) publier des données à caractère personnel d’autres individus ou violer les droits à la vie privée ou (h) usurper l’identité d’autrui.</p>

        <p>11.3 Dans le cas où le Contenu ne respecte pas la réglementation applicable conformément à l’article 11.2 ou, de manière générale, dans le cas où un Marchands ou Hôtes ne respecte pas les présentes Conditions Générales, tout Marchand et Hôte reconnaît et accepte qu’il est seul responsable des dommages directs et indirects qui en découlent à l’égard des tiers ou de Swipe Live. Par conséquent, tout Marchand ou Hôte reconnaît et accepte que, en sa capacité d'hébergeur, Swipe Live ne vérifie en aucun cas le Contenu et, dans la mesure autorisée par la loi, ne sera en aucun cas tenue responsable desdits dommages ou pertes subis par des Utilisateurs et/ou par des tiers.</p>

        <p>En particulier, sans que cette liste ne soit exhaustive, Swipe Live ne saurait être tenue pour responsable : (a) des actes ou des omissions des Utilisateurs, des Visiteurs, Marchands ou Hôtes (b) des informations postées sur l’Application par les Marchands ou Hôtes, leurs sujets, leur exactitude, exhaustivité et/ou conformité avec la réglementation applicable ou (c) de la qualité et des quantités des Articles que les Marchands ou Hôtes vendent ou achètent via l’utilisation de l’Application, ni de leur conformité avec la description donnée.</p>

        <p>11.4 Swipe Live n’est pas responsable du Contenu mis en ligne par les Marchands ou Hôtes. Les Marchands ou Hôtes sont responsables du Contenu qu’ils mettent en ligne.</p>

        <p>Swipe Live retirera le Contenu des Marchands ou Hôtes qui lui a été dûment notifié conformément à la procédure décrite à l’article 13 et aux lois applicables et qui enfreint les lois applicables et/ou les politiques de Swipe Live, c’est-à-dire l’ensemble des règles régissant l'utilisation et l’exploitation de l’Application. Swipe Live peut prendre des mesures à l'encontre des Marchands ou Hôtes, notamment en ce qui concerne l'utilisation de son Compte, telles que prévues à l’article 13 ci-dessous. Si un Utilisateur, un Visiteur, Marchands ou Hôtes découvre un Contenu faisant l'apologie de crimes contre l'humanité, incitant à la haine raciale et/ou à la violence, concernant la pédopornographie ou tout autre contenu illicite, il convient d’en informer Swipe Live immédiatement :</p>

        <p>soit par le biais du processus de signalement sur la page du Marchands ou Hôtes;</p>

        <p>soit par le S.A.V intégré directement dans l’Application «Contact»;</p>

        <p>soit en envoyant un email : contact@swipelive.fr;</p>

        <p>soit en adressant un courrier décrivant les faits en détail à l’adresse suivante : MYMILLENIA, 1 Bis Rue Pierre Termier 69660 Collonges Au Mont d’Or, France.</p>

        <p>Si un tel Contenu est signalé, Swipe Live suspendra immédiatement, sans préavis, le Compte du Marchands ou de l’Hôtes et supprimera le Contenu concerné, comme prévu à l'article 13 des Conditions Générales. Swipe Live suspendra les Transactions en cours pendant la durée de l'enquête, ce qui pourra notamment conduire Swipe Live à prendre l'une des mesures prévues à l'article 13.</p>

        <p>Si un Utilisateur estime qu’un Contenu est susceptible de porter atteinte aux présentes Conditions Générales et/ou à ses droits et/ou aux droits d’un tiers (par exemple, contrefaçon, insulte, atteinte à la vie privée), les Utilisateurs peuvent en notifier Swipe Live:</p>

        <p>soit par le biais du processus de signalement sur la page du Marchands ou Hôtes;</p>

        <p>soit par le S.A.V intégré directement dans l’Application « Contact »</p>

        <p>soit en envoyant un email : contact@swipelive.fr;</p>

        <p>soit en adressant un courrier décrivant les faits en détail à l’adresse suivante : MYMILLENIA, 1 Bis Rue Pierre Termier 69660 Collonges Au Mont d’Or, France.</p>

        <p>Si un tel Contenu est signalé, Swipe Live pourra prendre des mesures à l'encontre de l'Utilisateur, notamment en ce qui concerne l'utilisation de son Compte, comme prévu à l'article 13 ci-dessous. Plus généralement, les Marchands ou Hôtes doivent s'abstenir de mettre en ligne tout type de Contenu illicite, erroné ou inexact. Les Marchands ou Hôtes doivent agir et utiliser l’application en faisant preuve de bonne foi.</p>

        <p>11.5 Swipe Live n'est pas responsable des obligations fiscales ou de déclaration qui pourraient incomber aux Marchands ou Hôtes du fait de leurs activités sur l’application. Dans le cadre des Transactions effectuées sur l’Application, les Marchands ou Hôtes sont seuls responsables de toute obligation de déclaration fiscale, le cas échéant, en vertu de la législation applicable.</p>

        <p>11.6 Dans le cas d’une Transaction effectuée sans le système de Service de Paiement et d'Envoi Intégrés proposé par Swipe Live, l’Utilisateur comprend et accepte que Swipe Live n’est pas responsable des litiges survenant entre les Acheteurs et les Vendeurs, ne fournit pas d'assistance et ne prend aucunement part à leur règlement. Ces litiges peuvent être résolus conformément au droit local applicable, à moins que les parties aient décidé, d’un commun accord, que la loi d’un autre pays s’applique.</p>

        <p>11.9 Swipe Live ne peut être tenue pour responsable d'événements imprévisibles tels que des cyber-attaques, des failles de sécurité dans la transmission des données ou des garanties de performance quant au volume et à la rapidité des transmissions de données. Dans ces conditions, il appartient aux Utilisateurs de prendre toutes les mesures appropriées de façon à protéger leurs propres données et/ou logiciels, notamment de la contamination par d'éventuels virus circulant sur Internet.<br />
        </p>

        <h3>12.OBLIGATIONS DE TOUT UTILISATEUR</h3>

        <p>12.1 Tout Utilisateur s’engage:</p>

        <p>lors de son inscription sur l’Application, à fournir des informations sincères le concernant, notamment son prénom et nom d’utilisateur, et son adresse électronique;</p>

        <p>à s’inscrire sur l’application une seule fois et à ne pas créer plus d’un Compte, sauf dans le cas où un Utilisateur désirerait posséder un Compte personnel et une Compte professionnel Swipe Live, mais dans ce cas, l'Utilisateur ne peut pas s'inscrire en utilisant la même adresse électronique, et ces Comptes doivent être clairement séparés, c'est-à-dire, le Compte personnel ne peut pas être utilisé à des fins de ventes commerciales et vice versa;</p>

        <p>à ne pas utiliser l’Application et/ou les Services en vue de réaliser des actes ou des transactions illicites ou des actes frauduleux;</p>

        <p>lors de l’utilisation de l’Application, à fournir des informations objectives, justes, exhaustives et détaillées sur la vente proposée;</p>

        <p>à veiller à ce que le prix proposé pour la vente des Articles, ainsi que les autres informations relatives à l'Article, soient justes;</p>

        <p>à ne pas copier les informations figurant sur l’Application et mises en ligne par Swipe Live ou un autre Utilisateur de l’Application, ni à en faire un usage illicite.</p>

        <p>12.2 Les Utilisateurs et Visiteurs s’engagent, lors de leur utilisation du Site, à se conformer aux règles suivantes :</p>

        <p>ne pas utiliser (notamment partager et/ou publier) d'informations et/ou de données trompeuses ou erronées;</p>

        <p>ne pas utiliser (notamment partager et/ou publier) de photographies (i) pour lesquelles l'Utilisateur concerné ne détient pas les droits de propriété intellectuelle (en général, il s’agit de photos trouvées sur Internet), ou (ii) qui contiennent des liens vers d’autres sites Internet;</p>

        <p>ne pas utiliser (notamment partager et/ou publier) de photographies (i) sur lesquelles d’autres personnes que l'Utilisateur concerné sont visibles, à moins que les autres personnes visibles aient donné leur accord pour la publication de ces photographies ; ou (ii) qui sont ou sont susceptibles d'être considérées comme des photographies contraires aux bonnes mœurs et/ou à l’ordre public (par exemple photographies érotiques, photographies pornographiques ou photographies montrant un contenu violent);</p>

        <p>ne pas vendre et/ou acheter et/ou transférer des Articles en violation des droits de propriété intellectuelle de tiers, tels que des marques déposées et/ou d'autres enseignes dans la mesure où ils sont protégés par la loi applicable (comme par exemple les enseignes de sociétés dans certaines juridictions) et/ou des droits de brevet et/ou des droits d'auteur;</p>

        <p>ne pas violer les droits de propriété et/ou les droits personnels de tiers (y compris les droits de propriété intellectuelle);</p>

        <p>ne pas enfreindre les lois et/ou réglementations applicables;</p>

        <p>ne pas agir de manière contraire à l’ordre public et/ou aux bonnes mœurs</p>

        <p>ne pas utiliser (notamment partager et/ou publier) des programmes et/ou des fichiers informatiques qui contiennent des virus ou qui pourraient (i) perturber le fonctionnement normal du Site et/ou des Services, (ii) infecter les ordinateurs des Utilisateurs et entraîner par conséquent des dommages pour l’Utilisateur ou ses biens ou (iii) empêcher l’Utilisateur d’utiliser l’Application, les Services de l’Utilisateur;</p>

        <p>ne pas proposer et/ou partager et/ou autrement promouvoir des liens vers d’autres sites Internet et/ou sociétés qui fournissent des services analogues à ceux proposés sur l’Application.</p>

        <p>12.3 Les Acheteurs et les Vendeurs s’engagent à ne pas collecter, cumuler, transmettre à des tiers, rendre publiques, publier ou divulguer des données des Utilisateurs de l’Application ou des données concernant les actions des Utilisateurs de l’Application, y compris les Transactions, leur nombre, leur type, leur prix, etc., si les données deviennent disponibles de manière illicite ou à la suite d’un acte illicite ou d’une omission.</p>

        <p>Les Utilisateurs et les Visiteurs s’engagent en outre à ne pas collecter, cumuler, transmettre à des tiers, rendre publiques, publier ou divulguer les informations figurant sur l’Application, si cela est susceptible de porter atteinte aux droits des autres Utilisateurs.</p>

        <p>Cette restriction ne s’applique pas à la fonction “partager” qui existe sur le Site et donne la possibilité aux Utilisateurs de partager les informations publiques disponibles sur l’Application, sur les Comptes sur les Réseaux Sociaux de Swipe Live ou sur leurs propres comptes sur les réseaux sociaux, ainsi que d'envoyer lesdites informations à eux-mêmes ou à d'autres personnes par courriel.</p>

        <p>12.4 Dans la limite des lois applicables, Swipe Live n’est pas responsable du comportement d’un Utilisateur lorsque ce dernier utilise l’Application ou les Services. En particulier, Swipe Live n’est pas responsable de la mauvaise exécution ou de l’inexécution des Transactions par les Vendeurs (Marchands ou Hôtes).</p>

        <p>12.5 L’Utilisateur s’engage à garder confidentiel son identifiant et son mot de passe à l’égard des tiers, sauf pour les personnes qui ont été autorisées par l’Utilisateur à utiliser son identifiant.</p>

        <p>12.6 L’Utilisateur s’engage à mettre à jour, sans délai, les informations sur l’Application qui ne sont plus pertinentes en raison de modifications de ses données (en particulier celles fournies au moment de son inscription sur l l’Application), ainsi que les informations qui ne sont plus pertinentes sur les Articles ajoutés à la boutique.</p>

        <p>12.7 Lors de l'utilisation de l’Application, l’Utilisateur, les Visiteurs, Marchands ou Hôtes déclarent :</p>

        <p>(i) être une personne physique âgée d'au moins 18 ans (dans le cas contraire, l'inscription doit se faire par le(s) parent(s) ou le tuteur légal à sa place), (ii) qu’il utilise tous les Services de l’Application afin de satisfaire ses besoins personnels ou professionnels, et (iii) qu’il a l’entière capacité et tous les droits pour effectuer les Transactions ( achats-vents) sur l l’Application;</p>

        <p>qu’il accepte et respecte les Conditions Générales et l'ensemble des autres documents contractuels, tels que la Politique de Confidentialité ainsi que les autres règles de l’Application;
        </p>

        <p>qu’il comprend être entièrement responsable des Transactions effectuées;</p>

        <p>qu’il comprend qu’après avoir commandé un Article, il s’engage à acheter ou échanger cet Article, et que l’inexécution de cette Transaction peut l’obliger à rembourser les pertes subies par le Vendeur;</p>

        <p>qu’il comprend qu’il devra payer Swipe Live s’il décide d’utiliser les Services Complémentaires payants selon les tarifs et la procédure indiqués dans la Liste des Tarifs.</p>

        <h3>13.DROITS ET OBLIGATIONS DE SWIPE LIVE</h3>

        <p>13.1. Swipe Live peut interdire aux Utilisateurs, Visiteurs, Marchands ou Hôtes d'utiliser l’Application, en tout (“Blocage Total”) ou partie (“Blocage Partiel”) tel que détaillé ci-après, (en indiquant les raisons de cette interdiction ou de cette limitation), notamment en supprimant le Contenu mis en ligne sur l l’Application, en annulant le Compte de l’Utilisateur et en empêchant l’Utilisateur de se réinscrire sur l’Application ou en empêchant le Visiteur de se rendre sur l l’Application, sous réserve que Swipe Live envoie une notification officielle préalable à cet Utilisateur ou Visiteur, s’il :</p>

        <p>fournit des informations incorrectes, trompeuses et/ou incomplètes selon les Conditions Générales au moment de son inscription sur l’Application ou de son utilisation;</p>

        <p>divulgue délibérément et intentionnellement des informations erronées sur l’Application, insulte d’autres personnes ou agit de manière inappropriée;</p>

        <p>utilise l’identité d'un autre Utilisateur de l’Application ou agit par ailleurs de manière illicite;</p>

        <p>se connecte à partir de la même adresse IP ou du même ordinateur que celle ou celui qui a été bloqué(e) en raison de violations;</p>

        <p>a reçu au moins trois avertissements de Swipe Live.</p>

        <p>Le “Blocage Partiel” signifie que l’Utilisateur ne sera pas en mesure d’ajouter des Articles a sa boutique, de communiquer avec les autres Utilisateurs et/ou Hôtes.</p>

        <p>Le “Blocage Total” signifie que le Compte de l’Utilisateur sera bloqué et/ou annulé, et que la possibilité de se rendre sur l’Application à partir d’un mobile sera bloquée.</p>

        <p>L’Utilisateur doit savoir qu’après un “Blocage Total”, il n’aura plus le droit de se réinscrire sur l’Application.</p>

        <p>En cas d’annulation du Compte de l’Utilisateur, Swipe Live peut conserver certaines informations, conformément à la Politique de Confidentialité de Swipe Live, dans la mesure où elles peuvent être nécessaires pour reconstituer les circonstances dans lesquelles Swipe Live a pris la décision d’annuler le Compte de l’Utilisateur et pour transférer ces données aux institutions et autorités chargées de faire appliquer les lois.</p>

        <p>13.2 Swipe Live, après en avoir été également dûment informé conformément à l’article 11.4 ci-dessus ou par les Autorités compétentes, supprimera immédiatement tout Contenu illicite. En effet, Swipe Live peut, à tout moment, supprimer de l’Application les Articles ajoutés par un Marchand ou un Hôte dans sa boutique ou toutes autres informations fournies par un Marchand ou Hôte si ces Articles ou ces informations sont contraires aux Conditions Générales, à la réglementation applicable ou portent atteinte aux bonnes mœurs ou à l’ordre public.</p>

        <p>13.3 Swipe Live peut investiguer sur toute violation des Conditions Générales, et en informer les institutions et autorités compétentes.</p>

        <p>13.4 Swipe Live peut, à tout moment, réorganiser la Boutique d’un Marchand ou d’un Hôte, les espaces publicitaires ou les autres informations sur les Articles, sous réserve que ces changements ne modifient pas le Contenu fourni par le Marchands, et ce afin de rendre le l’Application plus facile d'utilisation. Swipe Live peut publier à tout moment des Nouveautés contenant des descriptions, des instructions, des règles ou d'autres informations liées à l'objet des Nouveautés.</p>

        <p>13.5 Swipe Live peut, à tout moment, publier sur l’Application des Nouveautés ou d'autres communications concernant des offres à court et long terme, des concours, des jeux ou des promotions conformes au droit national, pour promouvoir de nouveaux Services ou des biens ou des services tiers. Des conditions particulières peuvent s'appliquer. Les informations relatives aux offres, concours, jeux ou promotions conformes au droit national, seront fournies sur l’Application. En cas d’incohérences entre les Conditions Générales et les conditions particulières publiées sur l’Application applicables aux Nouveautés, ces dernières prévaudront.</p>

        <p>13.6. Swipe Live peut à tout moment mettre fin ou suspendre ou céder à des tiers l’exploitation de l’Application, sous réserve d’en notifier tous les Utilisateurs l’Application, en respectant un préavis de trente (30) jours.</p>

        <p>13.7 Swipe Live peut appliquer un statut “ mode vacance” à tout Utilisateur ayant été inactif sur une période de 30 jours. Lorsque l'Utilisateur a un statut “le mode vacances”, les Articles proposés à la vente par cet Utilisateur seront masqués des autres Utilisateurs. Swipe Live se réserve le droit de retirer les Articles proposés à la vente par tout Utilisateur, si lesdits Articles n'ont pas été vendus pendant une période de temps très longue. Avant d'appliquer le statut “le mode vacances”, et/ou de retirer tout Article, Swipe Live enverra une notification préalable à l'Utilisateur. Cette notification informera l'Utilisateur du changement imminent de son statut et/ou des Articles faisant l'objet d'une annonce et permettra à l'Utilisateur de refuser ce changement. L'Utilisateur doit informer Swipe Live qu'il refuse le changement dans le délai de notification mentionné dans la communication. Si l'Utilisateur ne refuse pas ce changement dans le délai de notification déterminé, l'Utilisateur sera réputé avoir accepté le changement par Swipe Live de son statut et/ou la suppression des Articles faisant l'objet d'une annonce.</p>

        <h3>14.DONNÉES PERSONNELLES</h3>

        <p>14.1 La Politique de Confidentialité, disponible sur le lien https://www.swipelive.fr/confidentialite, décrit les données à caractère personnel des Utilisateurs collectées par Swipe Live et les finalités pour lesquelles ces données seront traitées par Swipe Live. La Politique de Confidentialité et toute partie de celle-ci ne sont pas considérées comme des clauses contractuelles et ne font pas partie des présentes Conditions Générales.</p>

        <p>14.2 Les présentes Conditions Générales contiennent des obligations de Swipe Live réglementées. Aux fins de l'exécution de nos obligations au titre des présentes Conditions Générales envers vous, le traitement de données à caractère personnel vous concernant est requis et réalisé en partie sur la base de nos obligations contractuelles envers vous. Le traitement des données excédant nos obligations contractuelles est toujours fondé sur une autre base légale conformément à la Politique de Confidentialité.</p>

        <p>14.3 Lorsque vous effectuez un traitement de données de manière indépendante et distincte de Swipe Live, il vous appartient de vous assurer de la conformité aux lois applicables en matière de protection des données (en particulier, le Règlement Général sur la Protection des Données) et de protection de la vie privée. Cela inclut, sans s'y limiter, l’obligation d'information des personnes concernées conformément aux articles 12, 13 et 14 du Règlement Général sur la Protection des Données et de disposer d'une base légale pour le traitement des données à caractère personnel.</p>

        <p>14.4 Vous êtes tenu de ne fournir que des données exactes à Swipe Live. Lorsque les données vous concernant changent (par exemple, votre adresse ou votre prénom ou votre nom de famille), vous devez notifier ces changements sans délai excessif en modifiant les informations de votre Compte. Les dommages et la non-conformité résultant de la fourniture de données incorrectes de votre part relèvent de votre responsabilité exclusive, sauf si les lois applicables en matière de protection des données et de protection de la vie privée s'opposent à ce que vous soyez tenu exclusivement responsable desdits dommages et de ladite non-conformité.</p>

        <p>14.5 Lorsque vous décidez de devenir un Marchand ou un Hôte, le traitement de données à caractère personnel effectué par vous et Swipe Live est régi par les conditions d'utilisation de Swipe Live applicables aux Vendeurs Professionnels et les annexes correspondantes. Dans le cas où vous devenez un Vendeur Professionnel, Swipe Live traite également les données vous concernant conformément à la Politique de Confidentialité.</p>

        <h3>15.DROIT APPLICABLE, RÉSOLUTION DES LITIGES ET RESILIATION</h3>

        <p>15.1 Les présentes Conditions Générales sont régies par le droit national de l’Utilisateur.</p>

        <p>15.2 En cas de différend entre Swipe Live et un Utilisateur (les Utilisateurs et les Vendeurs Professionnels), Swipe Live encourage les Utilisateurs à s'adresser d'abord à Swipe Live dans tous les cas pour trouver une solution à l'amiable. L'Utilisateur pourra:</p>

        <p>Tout d'abord adresser une réclamation au Service Client au moyen du tchat en direct depuis l’onglet « CONTACT »</p>

        <p>En l’absence de réponse satisfaisante de ce service, dans un délai raisonnable d’un (1) mois, l'Utilisateur et Swipe Live mettront en œuvre leurs meilleurs efforts pour tenter de régler la réclamation de l'Utilisateur à l'amiable. legal@swipelive.fr</p>

        <p>Si le problème n'est pas résolu ou si l'Utilisateur n'est pas satisfait du résultat, il peut recourir à des modes alternatifs de résolution des différends tels que la médiation de la consommation. Swipe Live n'est pas obligée et ne s'engage pas à utiliser de tels modes alternatifs pour résoudre les litiges avec les Utilisateurs. Les litiges entre Marchand ou Hôtes (Vendeurs) et Acheteurs (Utilisateur) ne sont pas éligibles à une telle médiation de la consommation. Les Utilisateurs peuvent recourir aux services de médiation suivants :</p>

        <p>Les présentes Conditions sont régies et seront interprétées selon les lois française, sans égard aux dispositions relatives aux conflits de lois. Tout litige découlant de ou lié à l'objet des présentes Conditions sera définitivement réglé par un tribunal compétent dans le Rhône, dans la ville de Lyon. À toutes les fins du présent Accord, les parties consentent à la juridiction et au lieu exclusifs des tribunaux de Lyon.</p>

        <p>Vous acceptez que toutes les réclamations ou litiges découlant des Conditions soient tranchés par un arbitre par voie d'arbitrage et non par un juge ou un jury au « Barreau de Lyon » et atteste d'une transaction commerciale. L'arbitrage sera mené devant un seul arbitre en vertu des règles d'arbitrage commercial, disponibles sur https://www.barreaulyon.com/annuaire/activite/contentieux-mediation-arbitrag. Les honoraires et les frais de l'arbitre seront partagés à parts égales entre les parties, à moins que la loi ne l'interdise. Les parties sont responsables de leurs propres honoraires d'avocat. La procédure d'arbitrage aura lieu dans le Rhône, à Lyon, sauf convention contraire. Un tribunal compétent aura le pouvoir de prononcer un jugement sur la décision et la sentence de l'arbitre. Les parties conviennent de porter toute réclamation ou différend en arbitrage sur une base individuelle uniquement, et non en tant qu'action collective ou collective, et il n'y aura aucun droit ou autorité pour qu'une réclamation ou un différend soit porté, entendu ou arbitré en tant que classe ou action collective (« Renonciation aux recours de médiation »). Indépendamment de quoi que ce soit dans les présentes et/ou des règles applicables, l'interprétation, l'applicabilité ou l'applicabilité de la renonciation aux recours collectifs et/ou l'arbitrabilité d'une réclamation ou d'un litige ne peuvent être déterminées que par un arbitre. Les réclamations suivantes sont exclues de la présente convention d'arbitrage :

        <p>(a) les réclamations devant la cour des petites créances;</p> 
        <p>(b) prétend faire respecter ou empêcher la violation réelle ou menacée d'une partie » droits de propriété intellectuelle;</p> 
        <p>(c) les demandes de réparation temporaire dans le cadre d'un litige arbitrable;</p>
        <p>(d) les réclamations qui ne sont pas arbitrables en vertu de la loi applicable.</p>

        <p>TEMPS LIMITÉ POUR FAIRE UNE RÉCLAMATION. VOUS ET NOUS ACCEPTONS DE COMMENCER TOUTE RÉCLAMATION ET/OU ARBITRAGE DANS L'ANNÉE SUIVANT UNE RÉCLAMATION ; AUTREMENT, LA RÉCLAMATION EST RENONCÉE.</p>

        <p>RENONCIATION AU PROCÈS AVEC JURY. VOUS RENONCEZ À TOUT DROIT CONSTITUTIONNEL ET STATUTAIRE DE POURSUIVRE DEVANT UN TRIBUNAL ET DE RECEVOIR UN JUGE OU UN PROCÈS AVEC JURY.</p> 

        <p>Vous et Swipe Live choisissez plutôt que les réclamations et les litiges soient résolus par arbitrage. Il n'y a pas de juge ou de jury dans l'arbitrage, et l'examen judiciaire d'une sentence arbitrale est limité.</p>

        <p>15.3 Un Utilisateur peut mettre fin à ses relations avec Swipe Live à tout moment, avec effet immédiat, après s’être acquitté de toutes ses obligations résultant des Transactions qu'il a effectuées avant la fin de sa relation avec Swipe Live. Un Utilisateur peut mettre fin à ses relations avec Swipe Live en supprimant son Compte ou en envoyant un courriel. Swipe Live peut mettre fin à ses relations avec un Utilisateur moyennant un préavis écrit de trente (30) jours par écrit ou par voie électronique. En outre, Swipe Live peut également mettre fin à sa relation avec un Utilisateur pour les raisons suivantes (sans que cette liste soit limitative), avec effet immédiat: </p>

        <p>en cas de violation des articles 7.4, 7.5 et 8 des présentes Conditions Générales;</p>

        <p>en cas de violation de l'article 11.2 consistant au téléchargement d'un Contenu faisant l'apologie de crimes contre l'humanité, incitant à la haine raciale et/ou à la violence ou concernant la pornographie enfantine;</p>

        <p>en cas de violation des obligations d'un Utilisateur telles qu'identifiées à l'article 12.</p>

        <p>en cas de violation de l'article 4.1, consistant notamment au téléchargement des photographies et/ou du Contenu en violation des droits de propriété intellectuelle d'un tiers ou en représentant des tiers sans avoir obtenu leur consentement préalable;</p>

        <p>en cas d'escroquerie, d'activité frauduleuse, d'abus ou d’utilisation abusive par un Utilisateur des services de Swipe Live;</p>

        <p>en cas de violation de la loi;</p>

        <p>lorsqu'un Utilisateur s'est opposé à la modification des présentes Conditions Générales conformément à l'article 2.8.</p>

        <p>15.4 Swipe Live et les sociétés de son groupe détiennent tous les droits, notamment les droits de propriété intellectuelle relatifs à l’Application, relatifs notamment à son système (de Boutique, sa diffusion, etc.), à la mise en page et à la conception de l’Application, aux logiciels utilisés par et pour l’Application, aux marques et aux noms de domaine utilisés par et pour le Site et l’Application.</p>

        <p>15.5 La mise en ligne d'informations ou de données, notamment de photographies sur l’Application, c'est-à-dire du “Contenu”, signifie que les Utilisateurs du Site, de l’Application ou des Services concèdent par les présentes à Swipe Live et toute société appartenant au Groupe Swipe Live, sans contrepartie, une licence non exclusive d’utilisation du Contenu dans le monde, valable pendant toute la durée des droits applicables, le cas échéant (et leurs possibles prolongations). Ladite licence comprend le droit d'utiliser, de copier, de reproduire, d'afficher et d'adapter du Contenu. Swipe Live peut utiliser ledit Contenu, sur tout support connu ou inconnu à ce jour et notamment à la télévision, dans les journaux, sur Internet (dans les bannières et les articles, sur d’autres sites Internet) et sur les réseaux sociaux (Facebook, Twitter, Instagram etc.), et ce à des fins opérationnelles, commerciales, publicitaires et internes au Groupe Swipe Live, ce que tout Utilisateur accepte. Les Utilisateurs sont exclusivement responsables du Contenu et confirment détenir tout droit sur ledit Contenu.</p>

        <p>15.6 Toutes les notifications, demandes et autres informations échangées entre tout Utilisateur et Swipe Live seront envoyées comme indiqué dans les Conditions Générales via le formulaire de contact figurant sur le Site et sur l’Application, et/ou par/à l’Utilisateur par courriel ou sms, à l’adresse de courrier électronique qu’il aura indiquée lors de son inscription sur l’Application.</p>

        <p>15.7 Les Conditions Générales n’ont pas pour effet de créer entre Swipe Live et les Utilisateurs un partenariat (quelle que soit sa forme juridique), une relation régie par le droit du travail, une relation entre un agent commercial et son client, ni une relation de franchise.</p>

        <p>15.8 Swipe Live peut, sous réserve des lois sur la protection des données applicables, transférer et/ou céder l’ensemble des droits et obligations qui sont attachés aux présentes Conditions Générales, à tous tiers, notamment en cas de cession de branche d’activité, de fusion par constitution d’une nouvelle société, de fusion absorption, de scission ou de tout changement de contrôle affectant Swipe Live à condition que cela ne réduise pas la protection des droits du consommateur. Un tel transfert/une telle cession libère Swipe Live de toute obligation en tant qu'opérateur de l’Application, notamment envers ses Utilisateurs, Marchands, Hôtes et Visiteurs pour l’avenir. En cas de transfert et/ou de cession de ces droits et obligations qui sont attachés aux présentes Conditions Générales, à des tiers, tout Utilisateur pourra mettre fin immédiatement à ses relations avec Swipe Live et clôturer son Compte. Les Utilisateurs ne peuvent transférer ou céder tout ou partie de leurs droits et obligations découlant des présentes Conditions Générales.</p>

        <p>15.9 Un Utilisateur peut formuler des objections à tout moment quant à l’accès, l’utilisation ou l’exploitation du Site ou des Services par le biais d’une notification. Les notifications doivent être envoyées à Swipe Live via l’application dans l’onglet « contact » figurant sur l’Application ou par courrier à MYMILLENIA, 1 Bis Rue Pierre Termier 69660 Collonges au Mont d’Or, France.</p>

        <p>Pour toute demande juridique, merci de contacter Swipe Live à cette adresse : legal@swipelive.fr</p>

        <p>15.10 Si tout ou partie des termes contenus dans les présentes Conditions Générales est considéré par une autorité compétente comme étant invalide, illicite ou inapplicable dans quelque mesure que ce soit, ce terme sera dans cette mesure dissocié des termes restants qui continueront à être valides et applicables dans toute la mesure autorisée par la loi.</p>

        <p>15.11 Les présentes Conditions Générales et tous les documents auxquels elles font référence constituent l'intégralité de l'accord entre Swipe Live et tout Utilisateur et remplacent et mettent un terme à tous les accords, promesses, assurances, garanties, déclarations et arrangements antérieurs entre Swipe Live et tout Utilisateur, qu'ils soient écrits ou oraux, relatifs à leur objet. Swipe Live et chaque Utilisateur conviennent qu'en acceptant les présentes Conditions Générales, ils se sont fondés sur toute affirmation, déclaration, assurance ou garantie (qu'elle soit faite de manière innocente ou par négligence) qui n'est pas énoncée dans les présentes Conditions Générales ou dans tout document auquel elles font référence. Ni Swipe Live ni un Utilisateur ne pourront se prévaloir d'une quelconque fausse déclaration, qu'elle soit faite de manière innocente ou par négligence, basée sur l'une quelconque des déclarations figurant dans les présentes Conditions Générales ou dans tout document auquel il est fait référence.</p>

        <p> Des questions. Si vous avez des questions concernant les présentes Conditions ou votre utilisation auprès des Services de Swipe Live, veuillez soumettre une demande d’assistance depuis l’application dans l’onglet « nous contacter » ou à l’adresse email : contact@swipelive.fr</p>
        <br />
        <br />
        <br />
      </div>
    </div>

{% endblock %}